
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="Content-Language" content="zh-CN">
    <meta property="og:type" content="article" />
    <title>荆州城市中心的湖居生活 楚天都市·御湖一品即将面世</title>
    <meta property="og:title" content="荆州城市中心的湖居生活 楚天都市·御湖一品即将面世" />
    <meta content="荆州城市中心,湖居生活,楚天都市·御湖一品,面世" name="Keywords"/>
    <meta name="description" content="只有读懂城市、与城市产品共鸣的经典，才能成为令人称赞的作品。当风光旖旎的江津湖与中大豪盛相遇，在筑就无数标杆之后，继续选择在荆州逐梦前行。得益于根植于本土的基因，中大豪盛更懂江津湖的可贵和荆州的人居需求，秉持对城市的敬意和对江津湖这片贵土的尊重，带来一个众望所归的豪宅作品——楚天都市·御湖一品，未来定将成为荆州的豪宅新名片，焕新城市品质生活，铸就区域人居新篇章！"/>
    <meta property="og:description" content="只有读懂城市、与城市产品共鸣的经典，才能成为令人称赞的作品。当风光旖旎的江津湖与中大豪盛相遇，在筑就无数标杆之后，继续选择在荆州逐梦前行。得益于根植于本土的基因，中大豪盛更懂江津湖的可贵和荆州的人居需求，秉持对城市的敬意和对江津湖这片贵土的尊重，带来一个众望所归的豪宅作品——楚天都市·御湖一品，未来定将成为荆州的豪宅新名片，焕新城市品质生活，铸就区域人居新篇章！" />
    <meta property="og:site_name" content="荆州好房子网" />
    <meta property="og:image" content="https://images.jzhfz.com/attachment/ue/20210319/e0476165a62aece7f57de3ccbc36ec1cee72fba0.jpeg" />
    <meta property="og:release_date" content="2021-03-19 08:45:41" />
    <meta property="fb:page_id" content="44898" />

    <meta name="mobile-agent" content="format=html5; url=https://www.jzhfz.com/m/pages/news/detail?id=44898">

    <link rel="shortcut icon" type="image/ico" href="https://www.jzhfz.com/favicon.ico">
    <link rel="stylesheet" href="https://www.jzhfz.com/static/skin/tfy/css/tfy-reset.css?20210220" />
    <link rel="stylesheet" href="https://www.jzhfz.com/static/skin/tfy/css/tfy-head.css?20200922" />
    <link rel="stylesheet" href="https://www.jzhfz.com/static/skin/tfy/css/tfy-login.css?20190611" />
    <link rel="stylesheet" href="https://www.jzhfz.com/static/skin/tfy/css/tfy-news.css?20210104" />
    <link rel="stylesheet" href="https://www.jzhfz.com/static/skin/tfy/css/tfy-newspl.css?20190611" />
    <!-- <link rel="stylesheet" href="https://www.jzhfz.com/static/skin/tfy/css/video-js.min.css?20190611" /> -->
    <!-- layui样式导入 -->
    <link rel="stylesheet" href="../layui/css/layui.css" media="all">
    <!--中间的固定定位-->
    <link rel="stylesheet" type="text/css" href="../../css/floatmuen.css"/>
    <!-- 头部样式导入 -->
    <link rel="stylesheet" type="text/css" href="../../css/pub_head.css" />
    <!-- 尾部样式导入 -->
    <link rel="stylesheet" type="text/css" href="../../css/pub_footer.css" />
    <!-- jquery JS导入 -->
    <script src="../../js/jquery-1.12.4.js"></script>
    <!-- 导航栏css导入 -->
    <link  rel="stylesheet" href="../../css/navigation.css" />
</head>
<body>

<ul id="floatMul"></ul>
<div id="head"></div><!-- 头部导入 -->
<div id="index-login-daohang-dr"></div><!-- 导入导航栏的代码 -->

<div class="crumbs juzhong">您的位置：<a href="/">荆州好房子网</a> &gt; <a href="/news/">资讯频道</a> &gt; 资讯详情</div>
<div class="w1200px mar0 pt10">
    <div class="tfynews_list">
        <div class="l new_detail">
            <div class="hauto">
                <h1>荆州城市中心的湖居生活 楚天都市·御湖一品即将面世</h1>
                <div class="fon_14 h_alter01">
                    <div class="l yt2016_hui">
                        <div class="l">2021-03-19 08:45:41&nbsp;&nbsp;&nbsp;&nbsp;<span>荆州好房子网</span>
                            <!--                            &nbsp;&nbsp;&nbsp;&nbsp;评论：<span-->
                            <!--                                class="fen">0</span>-->
                            &nbsp;&nbsp;&nbsp;&nbsp;<span>本地楼市</span>&nbsp;&nbsp;&nbsp;&nbsp;
                            来源：<span class="fen">荆州好房子网</span>
                        </div>
                    </div>
                    <div class="share">
                        <i class="wx-icon"></i>
                        <span>发送到微信</span>
                        <div>
                            <p class="share-text">微信扫一扫</p>
                        </div>
                    </div>
                    <div class="share">
                        <i class="qr-icon"></i>
                        <span>发送到手机</span>
                        <div id="current-site-qr">
                            <div class="share-qr-big animation"><img src="https://images.jzhfz.com/wechat/qrcode/20210319/dbdd8ad5e119eb1891e8290617f2078a43f018ba.png?x-oss-process=style/w_150" width="150" height="150"></div>
                            <p class="share-text">扫描二维码推荐给朋友</p>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="new_con">

                <p style="text-indent: 2em;">城市，因水而灵动。依傍长江“黄金水道”的<a href="https://www.jzhfz.com" title="荆州" target="_blank">荆州</a>，自古以来就有着得天独厚的水资源优势，素有“水乡泽国”之称，又有“百湖之市”的美誉。</p>
                <p style="text-indent: 2em;"><a href="https://www.jzhfz.com" title="荆州" target="_blank">荆州</a>城区河湖密布，有7条河流、16个大小湖泊。其中，沙市中山公园北边的江津湖，水域面积660亩，是<a href="https://www.jzhfz.com" title="荆州" target="_blank">荆州</a>中心城区最大的城中湖。其碧波荡漾，绿树环抱，沿岸桥廊亭榭点缀，环境宁静优美，被誉为城区的“绿色心脏”。</p>
                <p style="text-align: center; text-indent: 0em;"><img src="https://images.jzhfz.com/attachment/ue/20210319/e0476165a62aece7f57de3ccbc36ec1cee72fba0.jpeg?x-oss-process=style/w_800" title="" alt=""></p>
                <p style="text-indent: 2em;"><strong>千年江津湖古往今来皆中心</strong></p>
                <p style="text-indent: 2em;">在<a href="https://www.jzhfz.com" title="荆州" target="_blank">荆州</a>这座水乡园林城市里，江津湖像是缀在城市胸襟上的一枚蓝宝石，光彩夺目，熠熠生辉。这片城市中心最后的珍藏，是<a href="https://www.jzhfz.com" title="荆州" target="_blank">荆州</a>的生活封面与自然名胜，其在城区的重要位置不言而喻，透过它的名字便可知晓一二。</p>
                <p style="text-indent: 2em;">早在2700多年前，那时的沙市便叫做江津，到唐朝，改名沙头市，简称沙市，名字沿用至今。沙市水系极为为发达，江津湖原是“两沙运河”，由便河、荆襄河、草市河、长湖等水道连成，一头近长江，一头靠汉水。</p>
                <p style="text-indent: 2em;">润万物者莫润乎水。江津湖位于沙市区的中心地带，从东到西横穿北京路，中段南面是沙隆达广场、中山路、荆江大堤及浩瀚长江，北面是中山公园、文湖公园、碧波路、江津路……</p>
                <p style="text-indent: 2em;">作为沙市自古以来的中心，千百年来，这片土地与时代、与历史的血脉相连。人们接续长江的文化滋养，享受着环湖而生的中心生活，一段关于江津湖的旅居史就此展开。对于老沙市人来说，江津湖不仅是隐匿在<a href="https://www.jzhfz.com" title="荆州" target="_blank">荆州</a>闹市中的璀璨明珠，也承载了不少人的记忆。</p>
                <p style="text-indent: 2em;">1992年春，江津湖沿岸进行全面改造，这颗“绿色心脏”再次焕发新的生机。江津晚泊、湖光阁、缚龙廓、烟波秋月、塔儿桥、平湖桥和风音鸟语……沿岸这一线呈长卷风景画展开的旖旎景观，有桥有阁，有廊有榭，风格多样，错落有致，交相辉映，是城市中心少有的惬意湖居生活。</p>
                <p style="text-indent: 2em;">虽然，近年来<a href="https://www.jzhfz.com" title="荆州" target="_blank">荆州</a>城市发展一路向北扩张，市民安居的选择更多，但以江津湖为中心的沙市中心城区，始终是老沙市人的向往之地，如同西湖之于杭州，是当之无愧的城市坐标，与城市的未来共同成长。</p>
                <p style="text-indent: 2em;">黄金水道川流不息，千年文脉绵延不绝。如今，行走在江津湖畔，犹如阅读着这座城市的文明史，从十里长街的繁盛之景到“小香港”的辉煌，几个世纪以来的沧桑巨变，如同奔流不息的江水，源源不断浮现。</p>
                <p style="text-indent: 2em;"><strong>顶尖湖居豪宅迭新人居新高度</strong></p>
                <p style="text-indent: 2em;">《地理杂志》调查显示，全球每600座城市，才能享有一座城市湖区。城市内湖的珍稀程度，得到最佳注解。</p>
                <p style="text-indent: 2em;">这片碧绿的江津湖，承载着厚重的历史，在漫长的岁月长河里，孕育了荆楚大地的人文底蕴，见证了<a href="https://www.jzhfz.com" title="荆州" target="_blank">荆州</a>发展的辉煌历程，古往今来皆是<a href="https://www.jzhfz.com" title="荆州" target="_blank">荆州</a>城心最宝贵的自然湖泊。</p>
                <p style="text-indent: 2em;">当土地价值与生态资源完美结合，方能完美匹配<a href="https://www.jzhfz.com" title="荆州" target="_blank">荆州</a>塔尖人士之人居理想。2021年，中大豪盛汲取十余年的地产开发经验，于江津湖畔倾力打造城市地标项目——楚天都市·御湖一品。</p>
                <p style="text-indent: 2em;">临湖而居，一向是城市高净值人士心之所向往的生活方式。为不辜负这一席江津湖，中大豪带着楚天都市系的品质基因及对<a href="https://www.jzhfz.com" title="荆州" target="_blank">荆州</a>的理解，以最顶尖的豪宅规划、聘请国际级大师、曼哈顿大都会的豪宅理念，于城心绝版中央湖区，打造一座真正读懂<a href="https://www.jzhfz.com" title="荆州" target="_blank">荆州</a>骄傲的顶尖湖居豪宅，以全方位的升级，让<a href="https://www.jzhfz.com" title="荆州" target="_blank">荆州</a>享受媲美一线城市的豪宅生活观。</p>
                <p style="text-indent: 2em;">只有读懂城市、与城市产品共鸣的经典，才能成为令人称赞的作品。当风光旖旎的江津湖与中大豪盛相遇，在筑就无数标杆之后，继续选择在<a href="https://www.jzhfz.com" title="荆州" target="_blank">荆州</a>逐梦前行。得益于根植于本土的基因，中大豪盛更懂江津湖的可贵和<a href="https://www.jzhfz.com" title="荆州" target="_blank">荆州</a>的人居需求，秉持对城市的敬意和对江津湖这片贵土的尊重，带来一个众望所归的豪宅作品——楚天都市·御湖一品，未来定将成为<a href="https://www.jzhfz.com" title="荆州" target="_blank">荆州</a>的豪宅新名片，焕新城市品质生活，铸就区域人居新篇章！</p>
                <p><br></p>
            </div>
            <div class="clear"></div>
            <div class="loupan-info cf">
                <div class="lp-img">
                    <a target="_blank" href="https://www.jzhfz.com/loupan/255.html">
                        <img src="https://images.jzhfz.com/attachment/build/20201012/e020a5868a90bee6a9c27379079fb5e0017c7b01.jpeg?x-oss-process=style/w_220" width="200" height="150">
                    </a>
                </div>
                <div class="lp-pic-txt">
                    <div class="top cf">
                        <h3>
                            <a target="_blank" href="https://www.jzhfz.com/loupan/255.html">
                                楚天都市御湖一品                            </a>
                        </h3>
                        <span class="on-sale">高层</span>
                        <p class="price">
                            <span class="jj"></span>
                            <span><em class="num">待定</em></span>
                        </p>
                    </div>
                    </p>





                    <!---->
                    <!--<p><label>售楼电话：</label><span>-->

                    <!---->
                    <!---->
                    <!-- -->
                    <!---->
                    <!--     </span></p>-->
                    <p><label>楼盘位置：</label><span>中心城区</span>
                        <a target="_blank" href="https://www.jzhfz.com/loupan/ditu-255.html" class="lp-map statis-log">查看地图</a></p>
                    <p><label>开盘时间：</label>暂未更新                     <p class="statis-log">
                    <label>主力户型：</label>
                    <a href="https://www.jzhfz.com/loupan/huxing-255.html" target="_blank" class="ckhx ">查看全部户型</a>
                </p>
                    <p>
                        <span class="tag">
                            <a target="_blank" href="https://www.jzhfz.com/loupan/xinxi-255.html">详情</a>
                        </span>
                        <span class="tag">
                            <a target="_blank" href="https://www.jzhfz.com/loupan/tupian-255.html">图片</a>
                        </span>
                        <span class="tag">
                            <a target="_blank" href="https://www.jzhfz.com/loupan/255.html">团购</a>
                        </span>
                        <span class="tag">
                            <a target="_blank" href="https://www.jzhfz.com/loupan/news-255.html">动态</a>
                        </span>
                        <span class="tag">
                            <a target="_blank" href="https://www.jzhfz.com/loupan/dianping-255.html">点评</a>
                        </span>
                    </p>
                </div>
            </div>
            <div class="clear"></div>


            <div class="det_bmb" style="margin-top:40px" id="sub">
                <div class="bmb_titlt"><span class="fen">意向报名</span></div>
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                    <tr>
                        <td>姓名：<input type="text" class="lrt_srk" name="contact" id="input_name1" placeholder="请输入姓名"></td>
                        <td>手机号：<input type="text" class="lrt_srk" name="phone" id="input_tel1" placeholder="请输入手机号"> <span class="fen">*必填</span></td>
                        <td>来自：<input type="text" class="lrt_srk" name="address" placeholder="现住址？"></td>
                        <input type="hidden" name="cid" value="">
                        <td><input type="button" class="an_red" value="提交报名" onclick="subSignUp('资讯详情团购报名',255,'#sub')"></td>
                    </tr>
                    </tbody>
                </table>
            </div>





            <div class="module-news-qrcode">
                <h2 class="news-qrcode-title">欢迎关注更多</h2>
                <div class="news-qrcode-container">
                    <div class="news-qrcode-slide" style="width:868px">
                        <div class="news-qrcode-unit" style="border-left: 0">
                            <div class="unit-title">荆州好房子网业主微信群</div>
                            <div class="unit-qrcode">
                                <img src="https://images.jzhfz.com/wechat/qrcode/20200527/c236f298783d8b23a6e8bab5640a1e3d995bb2d4.png?x-oss-process=style/w_150">

                            </div>
                            <div class="unit-text">找邻居，聊家装，拉家常</div>
                        </div>

                        <div class="news-qrcode-unit">
                            <div class="unit-title">微信公众号</div>
                            <div class="unit-qrcode">
                                <img src="https://images.jzhfz.com/attachment/config/20200523/69530a8ff409c6d0989e2fee88f722e699c48fd3.jpeg?x-oss-process=style/w_150" alt="微信公众号">
                            </div>
                            <div class="unit-text">荆州好房子网微信端,一键授权登录</div>
                        </div>
                        <div class="news-qrcode-unit">
                            <div class="unit-title">微信小程序</div>
                            <div class="unit-qrcode">
                                <img src="https://images.jzhfz.com/attachment/config/20200527/be8ca852590b3a5d5a76148195efb6f73f0bcd60.jpeg?x-oss-process=style/w_150" alt="微信小程序">

                            </div>
                            <div class="unit-text">微信淘房源，极速跨屏浏览！</div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="clear"></div>

            <div class="part_end">
                <div class="pe_title">
                    <h2 class="pe_titlel l">最新楼盘</h2>
                    <span class="pe_titler r yt2016_hui">|
                        <a href="https://www.jzhfz.com/loupan/" target="_blank">更多楼盘</a></span>
                </div>
                <ul>
                    <li>
                        <a href="https://www.jzhfz.com/loupan/262.html" target="_blank">
                            <img src="https://images.jzhfz.com/attachment/build/20210318/c675e2e7f652ae8ccfc568c62110bc315d1e8b9a.jpeg?x-oss-process=style/w_220" width="196" height="125" alt="恒隆·时光里摩方" >
                        </a>
                        <p>恒隆·时光里摩方</p>
                        <p class="price">
                            均价	                            <span class="fen">5080 元/m²</span>
                        </p>
                    </li>
                    <li>
                        <a href="https://www.jzhfz.com/loupan/261.html" target="_blank">
                            <img src="https://images.jzhfz.com/attachment/build/20210318/c64222df134b064ca0143d9aa8524555dfb944e9.jpeg?x-oss-process=style/w_220" width="196" height="125" alt="玖玺瑞园" >
                        </a>
                        <p>玖玺瑞园</p>
                        <p class="price">
                            <span class="fen">待定 </span>
                        </p>
                    </li>
                    <li>
                        <a href="https://www.jzhfz.com/loupan/260.html" target="_blank">
                            <img src="https://images.jzhfz.com/attachment/build/20210203/979938a4b480d7d57c7e4eba1ff6d4d531f0282c.jpeg?x-oss-process=style/w_220" width="196" height="125" alt="恒丰沙市科技产业园" >
                        </a>
                        <p>恒丰沙市科技产业园</p>
                        <p class="price">
                            <span class="fen">待定 </span>
                        </p>
                    </li>
                    <li>
                        <a href="https://www.jzhfz.com/loupan/259.html" target="_blank">
                            <img src="https://images.jzhfz.com/attachment/build/20210131/9a9ccc70fcdc2f9ea7c48431a13f3a1158e8f2dd.jpeg?x-oss-process=style/w_220" width="196" height="125" alt="中农联荆楚智慧云仓城" >
                        </a>
                        <p>中农联荆楚智慧云仓城</p>
                        <p class="price">
                            <span class="fen">待定 </span>
                        </p>
                    </li>

                </ul>
                <div class="clear"></div>
            </div>


        </div>

    </div>

    <div class="tfynews_listr r">
        <div class="list_rt">
            <img src="https://www.jzhfz.com/static/skin/tfy/img/new_listrt.jpg" alt="约房小蜜看房" width="310" height="66">
        </div>
        <div class="list_rt01" id="signUp">

            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tbody><tr>
                    <td>姓名：</td>
                    <td>
                        <input type="text" class="lrt_srk" name="contact" id="input_name" placeholder="请输入姓名">
                    </td>
                </tr>
                <tr>
                    <td>手机：</td>
                    <td>
                        <input type="text" class="lrt_srk" name="phone" id="input_tel" placeholder="请输入手机号">
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="pt10">
        <span class="l">
            <input type="button" onclick="subSignUp('资讯详情团购报名')" class="an_red" value="立即报名">
        </span>
            </div>
            <br><br><br>
            <div class="clear"></div>
            <p class="lh35 fon_18 pt10">免费看房电话：<span class="yt2016_fen">400-600-0716</span></p>
            <div class="clear"></div>
            <script src="https://www.jzhfz.com/static/skin/tfy/js/sign-up.js?v=20200720"></script>
        </div>
        <div class="clear"></div>
        <div class="clear"></div>
        <div class="list_rt02">
            <div class="xwph_top"><span class="fon_20">资讯排行</span></div>
            <div class="xwph_con">
                <div class="tab-bd">
                    <div class="tab-pal">
                        <ul id="tab-pal_1">
                            <li class="nowrap">
                                <a href="https://www.jzhfz.com/news/44865.html" target="_blank">
                                    <span class="shuz_red">1</span>荆州副市长黄镇督办荆州区水环境整治工作</a>
                            </li>
                            <li class="nowrap">
                                <a href="https://www.jzhfz.com/news/44881.html" target="_blank">
                                    <span class="shuz_red">2</span>保利·公园壹号 | 二期玥园盛大交房 数千业主伴爱归家！</a>
                            </li>
                            <li class="nowrap">
                                <a href="https://www.jzhfz.com/news/44868.html" target="_blank">
                                    <span class="shuz_red">3</span>金辉·楚樾云著 ▎大美云著 把家安在3.5万方园林中</a>
                            </li>
                            <li class="nowrap">
                                <a href="https://www.jzhfz.com/news/44879.html" target="_blank">
                                    <span class="shuz_red">4</span>中房协发布2021中国房地产开发企业500强测评成果 金辉集团排名37名</a>
                            </li>
                            <li class="nowrap">
                                <a href="https://www.jzhfz.com/news/44883.html" target="_blank">
                                    <span class="shuz_red">5</span>荆州区“3.15”权益日宣传纪念活动在竹叶山车世界分会场盛大启动！</a>
                            </li>
                            <li class="nowrap">
                                <a href="https://www.jzhfz.com/news/44895.html" target="_blank">
                                    <span class="shuz_red">6</span>与城市共向上丨世茂三盘联动 悦尚暖春新花漾</a>
                            </li>
                            <li class="nowrap">
                                <a href="https://www.jzhfz.com/news/44877.html" target="_blank">
                                    <span class="shuz_red">7</span>保利堂悦 | 从圈层教育开始 给孩子一个美好未来</a>
                            </li>
                            <li class="nowrap">
                                <a href="https://www.jzhfz.com/news/44896.html" target="_blank">
                                    <span class="shuz_red">8</span>蝉联百强房企TOP37、特色地产运营TOP1 金辉集团铸就美好生活</a>
                            </li>
                            <li class="nowrap">
                                <a href="https://www.jzhfz.com/news/44899.html" target="_blank">
                                    <span class="shuz_red">9</span>沙市白水还迁房、公共卫生中心等项目施工进度</a>
                            </li>
                            <li class="nowrap">
                                <a href="https://www.jzhfz.com/news/44887.html" target="_blank">
                                    <span class="shuz_red">10</span>春启世茂 悦鉴芳华 丨世茂荆州三盘联动 五重好礼约惠暖春</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>


        <div id="footer"></div><!-- 底部导入 -->

        <script type="text/javascript">
            $(function() {
                $("#head").load("../publichtml/public_pageHead.html");
                $("#footer").load("../publichtml/pub_footer.html");
                $("#index-login-daohang-dr").load("../publichtml/navigation2.html");
                $("#floatMul").load("../publichtml/floatMune.html");
            })
        </script>
</body>
</html>