
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="Content-Language" content="zh-CN">
    <meta property="og:type" content="article" />
    <title>新规划生态智城又添利好消息 将在二广高速两侧再修2条路</title>
    <meta property="og:title" content="新规划生态智城又添利好消息 将在二广高速两侧再修2条路" />
    <meta content="新规划,生态智城,二广高速,再修2条路" name="Keywords"/>
    <meta name="description" content="荆襄东路，位于二广高速高架桥下、靠近沙北新区一侧，起于明珠大道止于津乡大道，成为沙北新区最外围的道路。  荆襄西路，位于二广高速高架桥下、靠近两湖大市场一侧，起于原318国道，止于荆襄大道。"/>
    <meta property="og:description" content="荆襄东路，位于二广高速高架桥下、靠近沙北新区一侧，起于明珠大道止于津乡大道，成为沙北新区最外围的道路。  荆襄西路，位于二广高速高架桥下、靠近两湖大市场一侧，起于原318国道，止于荆襄大道。" />
    <meta property="og:site_name" content="荆州好房子网" />
    <meta property="og:image" content="https://images.jzhfz.com/attachment/ue/20210319/78cc3b55b994a0e8ff0e9558f81059d9175b8cee.jpeg" />
    <meta property="og:release_date" content="2021-03-19 14:00:58" />
    <meta property="fb:page_id" content="44909" />

    <meta name="mobile-agent" content="format=html5; url=https://www.jzhfz.com/m/pages/news/detail?id=44909">

    <link rel="shortcut icon" type="image/ico" href="https://www.jzhfz.com/favicon.ico">
    <link rel="stylesheet" href="https://www.jzhfz.com/static/skin/tfy/css/tfy-reset.css?20210220" />
    <link rel="stylesheet" href="https://www.jzhfz.com/static/skin/tfy/css/tfy-head.css?20200922" />
    <link rel="stylesheet" href="https://www.jzhfz.com/static/skin/tfy/css/tfy-login.css?20190611" />
    <link rel="stylesheet" href="https://www.jzhfz.com/static/skin/tfy/css/tfy-news.css?20210104" />
    <link rel="stylesheet" href="https://www.jzhfz.com/static/skin/tfy/css/tfy-newspl.css?20190611" />
    <!-- <link rel="stylesheet" href="https://www.jzhfz.com/static/skin/tfy/css/video-js.min.css?20190611" /> -->
    <!-- layui样式导入 -->
    <link rel="stylesheet" href="../layui/css/layui.css" media="all">
    <!--中间的固定定位-->
    <link rel="stylesheet" type="text/css" href="../../css/floatmuen.css"/>
    <!-- 头部样式导入 -->
    <link rel="stylesheet" type="text/css" href="../../css/pub_head.css" />
    <!-- 尾部样式导入 -->
    <link rel="stylesheet" type="text/css" href="../../css/pub_footer.css" />
    <!-- jquery JS导入 -->
    <script src="../../js/jquery-1.12.4.js"></script>
    <!-- 导航栏css导入 -->
    <link  rel="stylesheet" href="../../css/navigation.css" />
</head>
<body>
<ul id="floatMul"></ul>
<div id="head"></div><!-- 头部导入 -->
<div id="index-login-daohang-dr"></div><!-- 导入导航栏的代码 -->

<div class="crumbs juzhong">您的位置：<a href="/">荆州好房子网</a> &gt; <a href="/news/">资讯频道</a> &gt; 资讯详情</div>
<div class="w1200px mar0 pt10">
    <div class="tfynews_list">
        <div class="l new_detail">
            <div class="hauto">
                <h1>新规划生态智城又添利好消息 将在二广高速两侧再修2条路</h1>
                <div class="fon_14 h_alter01">
                    <div class="l yt2016_hui">
                        <div class="l">2021-03-19 14:00:58&nbsp;&nbsp;&nbsp;&nbsp;<span>荆州好房子网</span>
                            <!--                            &nbsp;&nbsp;&nbsp;&nbsp;评论：<span-->
                            <!--                                class="fen">0</span>-->
                            &nbsp;&nbsp;&nbsp;&nbsp;<span>本地楼市</span>&nbsp;&nbsp;&nbsp;&nbsp;
                            来源：<span class="fen">荆州好房子网</span>
                        </div>
                    </div>
                    <div class="share">
                        <i class="wx-icon"></i>
                        <span>发送到微信</span>
                        <div>
                            <div class="share-qr-big animation"><img src="https://images.jzhfz.com/wechat/qrcode/20210319/f6e382cbc8884a3a2a8a58cae107c67fde8be662.png?x-oss-process=style/w_150" width="150" height="150"></div>
                            <p class="share-text">微信扫一扫</p>
                        </div>
                    </div>
                    <div class="share">
                        <i class="qr-icon"></i>
                        <span>发送到手机</span>
                        <div id="current-site-qr">
                            <div class="share-qr-big animation"><img src="https://images.jzhfz.com/wechat/qrcode/20210319/a55410eaa73ee803e4292bc5cbb13a7e83fd00f6.png?x-oss-process=style/w_150" width="150" height="150"></div>
                            <p class="share-text">扫描二维码推荐给朋友</p>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="new_con">

                <p style="text-indent: 2em;"><span style="font-size: 16px;">在沙北新区的西面，荆北新区的东面；老城区的北面，纪南文旅区的南面，有新区规划了！这就是生态智城！位于<a href="https://www.jzhfz.com" title="荆州" target="_blank">荆州</a>大城区的中心位置，未来整个大城区的地理中心。</span></p>
                <p style="text-indent: 2em;">最近，新规划生态智城又添利好消息，<a href="https://www.jzhfz.com" title="荆州" target="_blank">荆州</a>将在二广高速两侧再修2条路，红线宽70米，与太岳路不连通。</p>
                <h2 style="text-align: center;"><img src="https://images.jzhfz.com/attachment/ue/20210319/76e26ab4ee48b6856f116dcf9fcadc25597a423d.jpeg?x-oss-process=style/w_800" alt="图片" style="text-align: center; font-size: 16px;"></h2>
                <h2 style="text-align: center;"><span style="text-align: center; font-size: 16px;">生态智城与周边各区</span></h2>
                <p style="text-align: left; text-indent: 2em;">二广高速，国家编号G55，北起内蒙古二连浩特，南至广州市。襄荆高速穿过<a href="https://www.jzhfz.com" title="荆州" target="_blank">荆州</a>市区，通过<a href="https://www.jzhfz.com" title="荆州" target="_blank">荆州</a>长江大桥与207国道共用过江通道，在市区内采用高架设置。而在襄荆高速高架桥的两侧，<a href="https://www.jzhfz.com" title="荆州" target="_blank">荆州</a>市建设了太岳路。太岳路位于市中心，是一条纵向的主干道，但是太岳路到了荆沙大道就终止了。因为二广高速<a href="https://www.jzhfz.com" title="荆州" target="_blank">荆州</a>中收费站，就位于荆沙大道以北。这片区域以前是郊区，随着沙北新区的建设，融入了中心城区的范围。</p>
                <p style="text-align: center;"><img src="https://images.jzhfz.com/attachment/ue/20210319/624b2caa79f433dc9fa7e59df8120548a6c0b1f2.jpeg?x-oss-process=style/w_800" alt="图片"></p>
                <p style="text-align: left; text-indent: 2em;">二广高速荆沙大道东侧是沙北新区、西侧是两湖大市场。沙北新区是<a href="https://www.jzhfz.com" title="荆州" target="_blank">荆州</a>重点开发的居住新区，两湖大市场的搬迁计划也已经启动，因此<a href="https://www.jzhfz.com" title="荆州" target="_blank">荆州</a>中片区就是衔接这两个地方的关键，规划的是生态智城。</p>
                <p style="text-align: center;"><img src="https://images.jzhfz.com/attachment/ue/20210319/56a368715b6352039d76078af22cccf3f9e8bd86.jpeg?x-oss-process=style/w_800" alt="图片"></p>
                <p style="text-align: center;">待拆迁地块</p>
                <p style="text-align: left; text-indent: 2em;">因此理顺<a href="https://www.jzhfz.com" title="荆州" target="_blank">荆州</a>中片区的道路就成为关键，现在明珠大道和津乡大道都在向二广高速以西延伸。原318国道由于是斜向分布，对新区有分割作用，路基也将被废弃。这样<a href="https://www.jzhfz.com" title="荆州" target="_blank">荆州</a>中片区的纵向交通就成为问题，荆襄东路和荆襄西路因此而诞生。<br></p>
                <p style="text-align: left; text-indent: 2em;">荆襄东路，位于二广高速高架桥下、靠近沙北新区一侧，起于明珠大道止于津乡大道，成为沙北新区最外围的道路。</p>
                <p style="text-align: left; text-indent: 2em;">荆襄西路，位于二广高速高架桥下、靠近两湖大市场一侧，起于原318国道，止于荆襄大道。</p>
                <p style="text-align: left; text-indent: 2em;">道路全长452.91米，道路红线宽70m米（中间是襄荆高速高架桥下设置的30米宽的绿化带，跟太岳路一样）设计车速50公里/小时，双向6车道的城市主干道。</p>
                <p style="text-align: center;"><img src="https://images.jzhfz.com/attachment/ue/20210319/78cc3b55b994a0e8ff0e9558f81059d9175b8cee.jpeg?x-oss-process=style/w_800" alt="图片"></p>
                <p style="text-align: center;"> 太岳路实景照</p>
                <p style="text-align: left; text-indent: 2em;">不久的将来！<a href="https://www.jzhfz.com" title="荆州" target="_blank">荆州</a>中高速收费站未来将拆迁，随着新二广高速的建设，老高速将会被改造成<a href="https://www.jzhfz.com" title="荆州" target="_blank">荆州</a>的新的城市快速路，这样<a href="https://www.jzhfz.com" title="荆州" target="_blank">荆州</a>中片区还会有大变化。未来荆襄东西两条路与太岳路打通，成为快速路的辅道，也是有可能的。</p>
                <p style="text-align: left; text-indent: 2em;">生态智城与沙北新区</p>
                <p style="text-align: left; text-indent: 2em;">目前两湖市场搬迁到高新区，正在建设中！西面的这一大块地，将建设<a href="https://www.jzhfz.com" title="荆州" target="_blank">荆州</a>又一新区，生态智城！将建设以健康休闲、体验式商业、商务办公、产业服务、交通网络为主导，多元融合的综合功能枢纽；对接未来城市产业和生活方式，集运动、休闲、娱乐、智能互联网等于一体的生态智慧新城。</p>
                <p style="text-align: center;"><img src="https://images.jzhfz.com/attachment/ue/20210319/6bb6bade4f4454d02154e4eaa7d5ffdf2238d2d2.png?x-oss-process=style/w_800" alt="图片"></p>
                <p style="text-align: center;">项目西面的生态智城地块</p>
                <p style="text-align: left; text-indent: 2em;">交投·明珠府东面的沙北新区，建设正如火如荼的展开，目前已汇聚了众多品牌开发商，建成和在建近百栋高楼、沙北实验学校、沙市中学、沙市区政务中心、体育中心、图书馆、市民之家纷纷落户。</p>
                <p style="text-align: left; text-indent: 2em;">交投·明珠府对面就是温德姆酒店，荆沙大道与塔桥北路交汇处的空地，未来有望建成商业综合体。</p>
                <p></p>
                <p style="text-align: left; text-indent: 2em;">塔桥路商圈<br></p>
                <p style="text-align: left; text-indent: 2em;">交投·明珠府和湖北交投·<a href="https://www.jzhfz.com" title="荆州" target="_blank">荆州</a>发展大厦位于生态智城与沙北新区的交汇处，正处于两区，甚至整个<a href="https://www.jzhfz.com" title="荆州" target="_blank">荆州</a>大城区的中心，未来融合两区的发展，极具潜力！</p>
                <p style="text-align: left; text-indent: 2em;">天时地利，“硬核”成就“新高地”</p>
                <p style="text-align: center;"><img src="https://images.jzhfz.com/attachment/ue/20210319/db1b173236e75fad063aeef5c7eb36984eeccc2b.jpeg?x-oss-process=style/w_800" alt="图片"></p>
                <p style="text-align: center;">交投·明珠府与湖北交投·<a href="https://www.jzhfz.com" title="荆州" target="_blank">荆州</a>发展大厦实拍图</p>
                <p style="text-align: left; text-indent: 2em;">交投·明珠府位于沙北核心区域，40%超高绿化率，建筑密度低至16%，大格局的中庭景观花园，超百米的宽阔楼间距，首层全架空，双精装入户大堂礼献私家瑧境生活体验。100-140㎡全系通透三房、四房，7.5米超宽观景阳台，打造城市人居新标杆！目前正在火爆热销中，欢迎到访品鉴！</p>
                <p style="text-align: center;"><img src="https://images.jzhfz.com/attachment/ue/20210319/76807a3c97107650647504bf2b7551f821fd029a.jpeg?x-oss-process=style/w_800" alt="图片"></p>
                <p style="text-align: center;">交投·明珠府实拍图</p>
                <p style="text-align: left; text-indent: 2em;">湖北交投·<a href="https://www.jzhfz.com" title="荆州" target="_blank">荆州</a>发展大厦地处沙北核心区域，作为省交投集团与<a href="https://www.jzhfz.com" title="荆州" target="_blank">荆州</a>市政府的重点项目。以双子塔楼造型，9.6米酒店式挑高大堂，全玻璃幕墙，全景采光及4米阔绰层高，同时引入另外国际知名品牌华美达酒店入驻湖北交投·<a href="https://www.jzhfz.com" title="荆州" target="_blank">荆州</a>发展大厦一号楼，拟设置约400间豪华客房及高端会议中心、餐饮中心，未来将成为<a href="https://www.jzhfz.com" title="荆州" target="_blank">荆州</a>一线高端商务、旅游星级酒店，聚合城市资源。60-1200㎡高端商务写字楼，火爆热销中。</p>
                <p style="text-align: center;"><img src="https://images.jzhfz.com/attachment/ue/20210319/88a2d1dacc67738da98c17f80291df0259843b23.jpeg?x-oss-process=style/w_800" alt="图片"></p>
                <p style="text-align: center;">湖北交投·<a href="https://www.jzhfz.com" title="荆州" target="_blank">荆州</a>发展大厦实拍图</p>
                <p style="text-align: center;">   建面约100-140㎡低密宽景华宅<br></p>
                <p style="text-align: center;"> 建面约60-1200㎡高端商务写字楼</p>
                <p style="text-align: center;">火爆热销中</p>
                <p style="text-align: center;">地址：沙北明珠大道与塔桥北路交汇处</p>
                <p style="text-align: center;">开发商：湖北交投<a href="https://www.jzhfz.com" title="荆州" target="_blank">荆州</a>地产有限公司</p>
                <p style="text-align: center;"><img title="微信图片_20201231110337.jpg" src="https://images.jzhfz.com/attachment/ue/20210319/73ccd5660d8dd0f994c2da6a2c1a0193142e0ea7.jpeg?x-oss-process=style/w_800" alt="图片"></p>
                <p><br></p>
            </div>
            <div class="clear"></div>
            <div class="loupan-info cf">
                <div class="lp-img">
                    <a target="_blank" href="https://www.jzhfz.com/loupan/238.html">
                        <img src="https://images.jzhfz.com/old/2019/1119/15741507807337858012.jpg?x-oss-process=style/w_220" width="200" height="150">
                    </a>
                </div>
                <div class="lp-pic-txt">
                    <div class="top cf">
                        <h3>
                            <a target="_blank" href="https://www.jzhfz.com/loupan/238.html">
                                交投明珠府                            </a>
                        </h3>
                        <span class="on-sale">多层 高层</span>
                        <p class="price">
                            <span class="jj">均价：</span>
                            <span><em class="num">8100</em>元/m²</span>
                        </p>
                    </div>
                    </p>





                    <!---->
                    <!--<p><label>售楼电话：</label><span>-->

                    <!---->
                    <!--400-600-0716<em> 转 </em>534-->
                    <!-- -->
                    <!---->
                    <!--     </span></p>-->
                    <p><label>楼盘位置：</label><span>沙北新区</span>
                        <a target="_blank" href="https://www.jzhfz.com/loupan/ditu-238.html" class="lp-map statis-log">查看地图</a></p>
                    <p><label>开盘时间：</label>2020年11月15日                     <p class="statis-log">
                    <label>主力户型：</label>
                    <span class="ju1 ">
                                        <a href="https://www.jzhfz.com/loupan/huxing-238.html" target="_blank">3居(100m²)</a>
                                </span>
                    <span class="ju1 ">
                                        <a href="https://www.jzhfz.com/loupan/huxing-238.html" target="_blank">3居(115m²)</a>
                                </span>
                    <span class="ju1 ">
                                        <a href="https://www.jzhfz.com/loupan/huxing-238.html" target="_blank">3居(115m²)</a>
                                </span>
                    <a href="https://www.jzhfz.com/loupan/huxing-238.html" target="_blank" class="ckhx ">查看全部户型</a>
                </p>
                    <p>
                        <span class="tag">
                            <a target="_blank" href="https://www.jzhfz.com/loupan/xinxi-238.html">详情</a>
                        </span>
                        <span class="tag">
                            <a target="_blank" href="https://www.jzhfz.com/loupan/tupian-238.html">图片</a>
                        </span>
                        <span class="tag">
                            <a target="_blank" href="https://www.jzhfz.com/loupan/238.html">团购</a>
                        </span>
                        <span class="tag">
                            <a target="_blank" href="https://www.jzhfz.com/loupan/news-238.html">动态</a>
                        </span>
                        <span class="tag">
                            <a target="_blank" href="https://www.jzhfz.com/loupan/dianping-238.html">点评</a>
                        </span>
                    </p>
                </div>
            </div>
            <div class="clear"></div>


            <div class="det_bmb" style="margin-top:40px" id="sub">
                <div class="bmb_titlt"><span class="fen">意向报名</span></div>
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                    <tr>
                        <td>姓名：<input type="text" class="lrt_srk" name="contact" id="input_name1" placeholder="请输入姓名"></td>
                        <td>手机号：<input type="text" class="lrt_srk" name="phone" id="input_tel1" placeholder="请输入手机号"> <span class="fen">*必填</span></td>
                        <td>来自：<input type="text" class="lrt_srk" name="address" placeholder="现住址？"></td>
                        <input type="hidden" name="cid" value="">
                        <td><input type="button" class="an_red" value="提交报名" onclick="subSignUp('资讯详情团购报名',238,'#sub')"></td>
                    </tr>
                    </tbody>
                </table>
            </div>





            <div class="module-news-qrcode">
                <h2 class="news-qrcode-title">欢迎关注更多</h2>
                <div class="news-qrcode-container">
                    <div class="news-qrcode-slide" style="width:868px">
                        <div class="news-qrcode-unit" style="border-left: 0">
                            <div class="unit-title">荆州好房子网业主微信群</div>
                            <div class="unit-qrcode">
                                <img src="https://images.jzhfz.com/wechat/qrcode/20200527/c236f298783d8b23a6e8bab5640a1e3d995bb2d4.png?x-oss-process=style/w_150">

                            </div>
                            <div class="unit-text">找邻居，聊家装，拉家常</div>
                        </div>

                        <div class="news-qrcode-unit">
                            <div class="unit-title">微信公众号</div>
                            <div class="unit-qrcode">
                                <img src="https://images.jzhfz.com/attachment/config/20200523/69530a8ff409c6d0989e2fee88f722e699c48fd3.jpeg?x-oss-process=style/w_150" alt="微信公众号">
                            </div>
                            <div class="unit-text">荆州好房子网微信端,一键授权登录</div>
                        </div>
                        <div class="news-qrcode-unit">
                            <div class="unit-title">微信小程序</div>
                            <div class="unit-qrcode">
                                <img src="https://images.jzhfz.com/attachment/config/20200527/be8ca852590b3a5d5a76148195efb6f73f0bcd60.jpeg?x-oss-process=style/w_150" alt="微信小程序">

                            </div>
                            <div class="unit-text">微信淘房源，极速跨屏浏览！</div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="clear"></div>

            <div class="part_end">
                <div class="pe_title">
                    <h2 class="pe_titlel l">最新楼盘</h2>
                    <span class="pe_titler r yt2016_hui">|
                        <a href="https://www.jzhfz.com/loupan/" target="_blank">更多楼盘</a></span>
                </div>
                <ul>
                    <li>
                        <a href="https://www.jzhfz.com/loupan/262.html" target="_blank">
                            <img src="https://images.jzhfz.com/attachment/build/20210318/c675e2e7f652ae8ccfc568c62110bc315d1e8b9a.jpeg?x-oss-process=style/w_220" width="196" height="125" alt="恒隆·时光里摩方" >
                        </a>
                        <p>恒隆·时光里摩方</p>
                        <p class="price">
                            均价	                            <span class="fen">5080 元/m²</span>
                        </p>
                    </li>
                    <li>
                        <a href="https://www.jzhfz.com/loupan/261.html" target="_blank">
                            <img src="https://images.jzhfz.com/attachment/build/20210318/c64222df134b064ca0143d9aa8524555dfb944e9.jpeg?x-oss-process=style/w_220" width="196" height="125" alt="玖玺瑞园" >
                        </a>
                        <p>玖玺瑞园</p>
                        <p class="price">
                            <span class="fen">待定 </span>
                        </p>
                    </li>
                    <li>
                        <a href="https://www.jzhfz.com/loupan/260.html" target="_blank">
                            <img src="https://images.jzhfz.com/attachment/build/20210203/979938a4b480d7d57c7e4eba1ff6d4d531f0282c.jpeg?x-oss-process=style/w_220" width="196" height="125" alt="恒丰沙市科技产业园" >
                        </a>
                        <p>恒丰沙市科技产业园</p>
                        <p class="price">
                            <span class="fen">待定 </span>
                        </p>
                    </li>
                    <li>
                        <a href="https://www.jzhfz.com/loupan/259.html" target="_blank">
                            <img src="https://images.jzhfz.com/attachment/build/20210131/9a9ccc70fcdc2f9ea7c48431a13f3a1158e8f2dd.jpeg?x-oss-process=style/w_220" width="196" height="125" alt="中农联荆楚智慧云仓城" >
                        </a>
                        <p>中农联荆楚智慧云仓城</p>
                        <p class="price">
                            <span class="fen">待定 </span>
                        </p>
                    </li>

                </ul>
                <div class="clear"></div>
            </div>

            <div class="part_end">

                <div class="pe_title">
                    <h2 class="pe_titlel">最新资讯推荐</h2>
                </div>
                <dl>
                    <dd>
                        <a href="https://www.jzhfz.com/news/44910.html" target="_blank">
                            荆州买房重心继续北移！纪南文旅区迎来首次交房！</a>
                    </dd>
                    <dd>
                        <a href="https://www.jzhfz.com/news/44908.html" target="_blank">
                            荆州保利堂悦 |事关孩子入学 置业紧跟两会教育热点</a>
                    </dd>
                    <dd>
                        <a href="https://www.jzhfz.com/news/44907.html" target="_blank">
                            2021中国房地产百强发布 金科升至第15位</a>
                    </dd>
                    <dd>
                        <a href="https://www.jzhfz.com/news/44906.html" target="_blank">
                            楚天都市·信园｜3月业主定制生日会 温馨落幕 感恩同行</a>
                    </dd>
                    <dd>
                        <a href="https://www.jzhfz.com/news/44905.html" target="_blank">
                            楚天都市·润园丨十大尊享服务 精彩业主活动 暖春巨献！</a>
                    </dd>
                    <dd>
                        <a href="https://www.jzhfz.com/news/44904.html" target="_blank">
                            楚天都市·壹号院 | 车位开盘在即！认筹1万抵2万 抢位大战一触即发！</a>
                    </dd>
                    <dd>
                        <a href="https://www.jzhfz.com/news/44903.html" target="_blank">
                            荆州心中的孤品| 中大豪盛代表作 留著江津湖</a>
                    </dd>
                    <dd>
                        <a href="https://www.jzhfz.com/news/44902.html" target="_blank">
                            三子连城耀荆州 世茂与城市共生长</a>
                    </dd>
                    <dd>
                        <a href="https://www.jzhfz.com/news/44901.html" target="_blank">
                            世茂云城|揭秘沙市人居3.0 世茂晋阶品质住宅新时代</a>
                    </dd>
                    <dd>
                        <a href="https://www.jzhfz.com/news/44900.html" target="_blank">
                            荆荆铁路先开段建设加速   预计6月进行箱梁架设</a>
                    </dd>

                </dl>

                <div class="clear"></div>
                <div class="lh45 fon_14">免责声明：本网站转载内容仅为传递更多信息，并不代表本网站同意其说法或描述，与本网站立场无关。</div>
            </div>
        </div>

    </div>

    <div class="tfynews_listr r">
        <div class="list_rt">
            <img src="https://www.jzhfz.com/static/skin/tfy/img/new_listrt.jpg" alt="约房小蜜看房" width="310" height="66">
        </div>
        <div class="list_rt01" id="signUp">

            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tbody><tr>
                    <td>姓名：</td>
                    <td>
                        <input type="text" class="lrt_srk" name="contact" id="input_name" placeholder="请输入姓名">
                    </td>
                </tr>
                <tr>
                    <td>手机：</td>
                    <td>
                        <input type="text" class="lrt_srk" name="phone" id="input_tel" placeholder="请输入手机号">
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="pt10">
        <span class="l">
            <input type="button" onclick="subSignUp('资讯详情团购报名')" class="an_red" value="立即报名">
        </span>
            </div>
            <br><br><br>
            <div class="clear"></div>
            <p class="lh35 fon_18 pt10">免费看房电话：<span class="yt2016_fen">400-600-0716</span></p>
            <div class="clear"></div>
            <script src="https://www.jzhfz.com/static/skin/tfy/js/sign-up.js?v=20200720"></script>
        </div>
        <div class="clear"></div>
        <div class="clear"></div>
        <div class="list_rt02">
            <div class="xwph_top"><span class="fon_20">资讯排行</span></div>
            <div class="xwph_con">
                <div class="tab-bd">
                    <div class="tab-pal">
                        <ul id="tab-pal_1">
                            <li class="nowrap">
                                <a href="https://www.jzhfz.com/news/44865.html" target="_blank">
                                    <span class="shuz_red">1</span>荆州副市长黄镇督办荆州区水环境整治工作</a>
                            </li>
                            <li class="nowrap">
                                <a href="https://www.jzhfz.com/news/44881.html" target="_blank">
                                    <span class="shuz_red">2</span>保利·公园壹号 | 二期玥园盛大交房 数千业主伴爱归家！</a>
                            </li>
                            <li class="nowrap">
                                <a href="https://www.jzhfz.com/news/44868.html" target="_blank">
                                    <span class="shuz_red">3</span>金辉·楚樾云著 ▎大美云著 把家安在3.5万方园林中</a>
                            </li>
                            <li class="nowrap">
                                <a href="https://www.jzhfz.com/news/44879.html" target="_blank">
                                    <span class="shuz_red">4</span>中房协发布2021中国房地产开发企业500强测评成果 金辉集团排名37名</a>
                            </li>
                            <li class="nowrap">
                                <a href="https://www.jzhfz.com/news/44883.html" target="_blank">
                                    <span class="shuz_red">5</span>荆州区“3.15”权益日宣传纪念活动在竹叶山车世界分会场盛大启动！</a>
                            </li>
                            <li class="nowrap">
                                <a href="https://www.jzhfz.com/news/44895.html" target="_blank">
                                    <span class="shuz_red">6</span>与城市共向上丨世茂三盘联动 悦尚暖春新花漾</a>
                            </li>
                            <li class="nowrap">
                                <a href="https://www.jzhfz.com/news/44877.html" target="_blank">
                                    <span class="shuz_red">7</span>保利堂悦 | 从圈层教育开始 给孩子一个美好未来</a>
                            </li>
                            <li class="nowrap">
                                <a href="https://www.jzhfz.com/news/44906.html" target="_blank">
                                    <span class="shuz_red">8</span>楚天都市·信园｜3月业主定制生日会 温馨落幕 感恩同行</a>
                            </li>
                            <li class="nowrap">
                                <a href="https://www.jzhfz.com/news/44904.html" target="_blank">
                                    <span class="shuz_red">9</span>楚天都市·壹号院 | 车位开盘在即！认筹1万抵2万 抢位大战一触即发！</a>
                            </li>
                            <li class="nowrap">
                                <a href="https://www.jzhfz.com/news/44896.html" target="_blank">
                                    <span class="shuz_red">10</span>蝉联百强房企TOP37、特色地产运营TOP1 金辉集团铸就美好生活</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>

        <div class="list_rt02">
            <div class="xwph_top"><span class="fon_20">热门推荐楼盘</span></div>
            <div class="xwph_con">
                <div class="new16_hotlp">
                    <ul>
                        <li class="w125px l">
                            <a href="https://www.jzhfz.com/loupan/215.html" target="_blank">保利堂悦</a>
                        </li>
                        <li class="w90px l yt2016_fen">中心城区</li>
                        <li class="w75px r">8700元/m²</li>
                    </ul>
                    <ul>
                        <li class="w125px l">
                            <a href="https://www.jzhfz.com/loupan/238.html" target="_blank">交投明珠府</a>
                        </li>
                        <li class="w90px l yt2016_fen">沙北新区</li>
                        <li class="w75px r">8100元/m²</li>
                    </ul>
                    <ul>
                        <li class="w125px l">
                            <a href="https://www.jzhfz.com/loupan/108.html" target="_blank">望江国际</a>
                        </li>
                        <li class="w90px l yt2016_fen">城东片区</li>
                        <li class="w75px r">6350元/m²</li>
                    </ul>
                    <ul>
                        <li class="w125px l">
                            <a href="https://www.jzhfz.com/loupan/221.html" target="_blank">楚天都市壹号院</a>
                        </li>
                        <li class="w90px l yt2016_fen">中心城区</li>
                        <li class="w75px r">8500元/m²</li>
                    </ul>
                    <ul>
                        <li class="w125px l">
                            <a href="https://www.jzhfz.com/loupan/248.html" target="_blank">楚天都市润园</a>
                        </li>
                        <li class="w90px l yt2016_fen">城东片区</li>
                        <li class="w75px r">6500元/m²</li>
                    </ul>
                    <ul>
                        <li class="w125px l">
                            <a href="https://www.jzhfz.com/loupan/79.html" target="_blank">日月星国际华侨城</a>
                        </li>
                        <li class="w90px l yt2016_fen">中心城区</li>
                        <li class="w75px r">8400元/m²</li>
                    </ul>


                </div>

            </div>
        </div>


    </div>

</div>

<span class="clearfix"></span>
<script type="text/javascript">
    $(function() {
        $("#head").load("../publichtml/public_pageHead.html");
        $("#footer").load("../publichtml/pub_footer.html");
        $("#index-login-daohang-dr").load("../publichtml/navigation2.html");
        $("#floatMul").load("../publichtml/floatMune.html");
    })
</script>
</body>
</html>