
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="Content-Language" content="zh-CN">
    <meta property="og:type" content="article" />
    <title>大商名商强势入驻丨中农联奋力推进荆州农业升级</title>
    <meta property="og:title" content="大商名商强势入驻丨中农联奋力推进荆州农业升级" />
    <meta content="大商,名商,强势入驻,中农联,荆州,农业升级" name="Keywords"/>
    <meta name="description" content="中农联·荆楚智慧云仓城，150万方国际化涉农流通交易大平台，由中农联控股有限公司投资80亿元兴建。作为省市双重点项目、民生“菜篮子”工程，中农联·荆楚智慧云仓城自落地起就肩负了推动荆州农业升级、加速乡村振兴的重任。如今历经半余载开发建设，这座新型智慧农批市场携手行业大商齐发力，引领现代涉农流通平台向数字化、国际化发展，助力荆州农产品“引进来，走出去”。"/>
    <meta property="og:description" content="中农联·荆楚智慧云仓城，150万方国际化涉农流通交易大平台，由中农联控股有限公司投资80亿元兴建。作为省市双重点项目、民生“菜篮子”工程，中农联·荆楚智慧云仓城自落地起就肩负了推动荆州农业升级、加速乡村振兴的重任。如今历经半余载开发建设，这座新型智慧农批市场携手行业大商齐发力，引领现代涉农流通平台向数字化、国际化发展，助力荆州农产品“引进来，走出去”。" />
    <meta property="og:site_name" content="荆州好房子网" />
    <meta property="og:image" content="https://images.jzhfz.com/attachment/ue/20210319/fe374c476c539a247b90ef3cafb62de479814e16.png" />
    <meta property="og:release_date" content="2021-03-19 08:42:38" />
    <meta property="fb:page_id" content="44897" />

    <meta name="mobile-agent" content="format=html5; url=https://www.jzhfz.com/m/pages/news/detail?id=44897">

    <link rel="shortcut icon" type="image/ico" href="https://www.jzhfz.com/favicon.ico">
    <link rel="stylesheet" href="https://www.jzhfz.com/static/skin/tfy/css/tfy-reset.css?20210220" />
    <link rel="stylesheet" href="https://www.jzhfz.com/static/skin/tfy/css/tfy-head.css?20200922" />
    <link rel="stylesheet" href="https://www.jzhfz.com/static/skin/tfy/css/tfy-login.css?20190611" />
    <link rel="stylesheet" href="https://www.jzhfz.com/static/skin/tfy/css/tfy-news.css?20210104" />
    <link rel="stylesheet" href="https://www.jzhfz.com/static/skin/tfy/css/tfy-newspl.css?20190611" />
    <!-- <link rel="stylesheet" href="https://www.jzhfz.com/static/skin/tfy/css/video-js.min.css?20190611" /> -->
    <!-- layui样式导入 -->
    <link rel="stylesheet" href="../layui/css/layui.css" media="all">
    <!--中间的固定定位-->
    <link rel="stylesheet" type="text/css" href="../../css/floatmuen.css"/>
    <!-- 头部样式导入 -->
    <link rel="stylesheet" type="text/css" href="../../css/pub_head.css" />
    <!-- 尾部样式导入 -->
    <link rel="stylesheet" type="text/css" href="../../css/pub_footer.css" />
    <!-- jquery JS导入 -->
    <script src="../../js/jquery-1.12.4.js"></script>
    <!-- 导航栏css导入 -->
    <link  rel="stylesheet" href="../../css/navigation.css" />
</head>
<body>

<ul id="floatMul"></ul>
<div id="head"></div><!-- 头部导入 -->
<div id="index-login-daohang-dr"></div><!-- 导入导航栏的代码 -->



<div class="crumbs juzhong">您的位置：<a href="/">荆州好房子网</a> &gt; <a href="/news/">资讯频道</a> &gt; 资讯详情</div>
<div class="w1200px mar0 pt10">
    <div class="tfynews_list">
        <div class="l new_detail">
            <div class="hauto">
                <h1>大商名商强势入驻丨中农联奋力推进荆州农业升级</h1>
                <div class="fon_14 h_alter01">
                    <div class="l yt2016_hui">
                        <div class="l">2021-03-19 08:42:38&nbsp;&nbsp;&nbsp;&nbsp;<span>荆州好房子网</span>
                            <!--                            &nbsp;&nbsp;&nbsp;&nbsp;评论：<span-->
                            <!--                                class="fen">0</span>-->
                            &nbsp;&nbsp;&nbsp;&nbsp;<span>本地楼市</span>&nbsp;&nbsp;&nbsp;&nbsp;
                            来源：<span class="fen">荆州好房子网</span>
                        </div>
                    </div>
                    <div class="share">
                        <i class="wx-icon"></i>
                        <span>发送到微信</span>
                        <div>
                            <p class="share-text">微信扫一扫</p>
                        </div>
                    </div>
                    <div class="share">
                        <i class="qr-icon"></i>
                        <span>发送到手机</span>
                        <div>
                            <p class="share-text">扫描二维码推荐给朋友</p>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="new_con">

                <p style="text-align: left; text-indent: 2em;">中农联·荆楚智慧云仓城，150万方国际化涉农流通交易大平台，由中农联控股有限公司投资80亿元兴建。作为省市双重点项目、民生“菜篮子”工程，中农联·荆楚智慧云仓城自落地起就肩负了推动<a href="https://www.jzhfz.com" title="荆州" target="_blank">荆州</a>农业升级、加速乡村振兴的重任。如今历经半余载开发建设，这座新型智慧农批市场携手行业大商齐发力，引领现代涉农流通平台向数字化、国际化发展，助力<a href="https://www.jzhfz.com" title="荆州" target="_blank">荆州</a>农产品“引进来，走出去”。</p>
                <p style="text-align: center;"><strong>大招商 招大商 </strong></p>
                <p style="text-align: center;"><strong>精准招商</strong></p>
                <p style="text-indent: 2em;">作为连接农业、农村和城市的纽带，农产品流通市场体系建设不仅是“菜篮子”工程的重要环节，也是推动<a href="https://www.jzhfz.com" title="荆州" target="_blank">荆州</a>现代农业跨越发展的基础工程。然而，高效的农产品流通体系建设需要多方发力，更需要行业领头羊的强强联合。</p>
                <p style="text-align: center;"><img src="https://images.jzhfz.com/attachment/ue/20210319/fe374c476c539a247b90ef3cafb62de479814e16.png?x-oss-process=style/w_800" alt="图片"></p>
                <p style="text-align: left; text-indent: 2em;">今年上半年，中农联以打通上下游产业链为重点，进一步强化招商力量和对外宣传推介力度，广泛涵养优质客源，招商成果显著。先后与汉欧班列运营商汉欧国际、中国团餐大王麦金地、中国活畜进口优质品牌北京雄特牧业、进口冻品行业专家梅特国际、农牧业数字化产业链领先平台东方迈德、<a href="https://www.jzhfz.com" title="荆州" target="_blank">荆州</a>最大电商产业基地菁品汇、武汉水果协会会员、<a href="https://www.jzhfz.com" title="荆州" target="_blank">荆州</a>市冻品协会会员等签订战略合作协议，与大商名商共绘产业蓝图。</p>
                <p style="text-align: center;"><img src="https://images.jzhfz.com/attachment/ue/20210319/b3c6288f91302d238cb5f0454eefcb942a8e2bba.jpeg?x-oss-process=style/w_800" alt="图片"></p>
                <p style="text-align: left; text-indent: 2em;">伴随招商工作的有序推进，项目还将陆续迎来国内外众多大品牌商家的入驻。通过与这些行业大商名商的优势互补、资源共享，积极打通上下游产业链，建立起一张供销全市、覆盖全省、辐射中部、链接全国的安全高效的现代农产品流通网络，助力<a href="https://www.jzhfz.com" title="荆州" target="_blank">荆州</a>农产品走向全国，走向世界。</p>
                <p style="text-align: center;"><strong>“线上+线下”联动 </strong></p>
                <p style="text-align: center;"><strong>扎实推进乡村振兴</strong></p>
                <p style="text-indent: 2em;">乡村振兴，产业兴旺是基础。农业产业化龙头企业是乡村产业振兴的骨干力量，在引领农业转型升级、提升农业质量效益、带动农民就业增收等方面具有重要作用。中农联<a href="https://www.jzhfz.com" title="荆州" target="_blank">荆州</a>项目公司积极响应国家政策号召，深入开展消费扶贫，推进乡村振兴。通过中农绿网电商平台，为<a href="https://www.jzhfz.com" title="荆州" target="_blank">荆州</a>扶贫产品销售牵线搭桥，精准溯源到贫困户和相关帮扶企业、合作社，实现产销高效对接，解决扶贫产品打入市场的“最后一公里”。</p>
                <p style="text-align: center;"><img src="https://images.jzhfz.com/attachment/ue/20210319/813c3fb67667a2e9ff3010d5bbd969863c002045.png?x-oss-process=style/w_800" alt="图片"></p>
                <p style="text-align: left; text-indent: 2em;">小胡鸭、好味源、三湖黄桃、华贵、神农、聚珍园、皇冠等本地及周边200余家涉农企业均已抢先入驻中农绿网电商平台。中农联<a href="https://www.jzhfz.com" title="荆州" target="_blank">荆州</a>项目公司通过在<a href="https://www.jzhfz.com" title="荆州" target="_blank">荆州</a>市区及周边城镇投放的200余台消费扶贫智能专柜，成功助力近千种农产品及深加工产品搭上<a href="https://www.jzhfz.com" title="荆州" target="_blank">荆州</a>中农联的电商“快车”。</p>
                <p style="text-align: center;"><img src="https://images.jzhfz.com/attachment/ue/20210319/8a3bd493b34792cbeb150586b23edf2da921d8d7.jpeg?x-oss-process=style/w_800" alt="图片"></p>
                <p style="text-align: left; text-indent: 2em;">除了成熟运作中农绿网电商平台外，2020年11月，中农联·荆楚智慧云仓城通过官方揭牌，成为<a href="https://www.jzhfz.com" title="荆州" target="_blank">荆州</a>市消费扶贫专馆，对符合条件的扶贫企业和产品免费入驻，帮助扶贫企业拓展销售渠道。2020年12月，中农联·荆楚智慧云仓城脱颖而出，成为全市消费扶贫承办主体之一。借助<a href="https://www.jzhfz.com" title="荆州" target="_blank">荆州</a>市消费扶贫市场承办主体的优势，真正实现高效对接、精准扶贫。</p>
                <p style="text-align: left; text-indent: 2em;">此外，中农联<a href="https://www.jzhfz.com" title="荆州" target="_blank">荆州</a>项目公司通过积极探索“电商企业+城市云仓分拨中心+减贫带贫农产品生产加工企业+贫困地区农副产品”的流通模式，与<a href="https://www.jzhfz.com" title="荆州" target="_blank">荆州</a>最大、最专业的电商产业基地菁品汇达成战略合作协议。双方强强联合，引导第三方物流企业在<a href="https://www.jzhfz.com" title="荆州" target="_blank">荆州</a>东部城区建立起“中农联与菁品汇城市云仓分拨中心”。通过线上线下融合，搞活农副产品、生活用品等民生物质的集中集约配送，从而联动农产品产、供、销各阶段环节，为<a href="https://www.jzhfz.com" title="荆州" target="_blank">荆州</a>农特产品建立起长期、稳定、可持续的线下销售渠道。</p>
                <p style="text-align: center;"><strong>真抓实干强作为</strong></p>
                <p style="text-align: center;"><strong>紧密部署共奋进</strong></p>
                <p style="text-indent: 2em;">目前，中农联·荆楚智慧云仓城一期工程正加紧建设中，主体建设基本成型，营销招商工作节节攀升，公司全员团结一心，立下了“大战300天，全面保障一期开业运营”的“军令状”！</p>
                <p style="text-align: center;"><img src="https://images.jzhfz.com/attachment/ue/20210319/ac285d8fd1388c1ac6a16e9e9ce821707829fae9.png?x-oss-process=style/w_800" alt="图片"></p>
                <p style="text-align: left; text-indent: 2em;">相信不久的将来，随着中农联·荆楚智慧云仓城一期项目的顺利建成并投入运营，通过线上线下融合发展，名商大商高效运作，构建贯通全产业链的大流通体系，深入推进农业供给侧改革，促进贫困地区农业产业发展和乡村振兴，为<a href="https://www.jzhfz.com" title="荆州" target="_blank">荆州</a>现代农业高质量发展赋能增效。</p>
                <p style="text-align: center;"><img src="https://images.jzhfz.com/attachment/ue/20210319/27c54788a43dd856239b00bb3b91314f4141e868.jpeg?x-oss-process=style/w_800" alt="图片"><br></p>
                <p style="text-align: center;"><img src="https://images.jzhfz.com/attachment/ue/20210319/a64104d067f5d4ab38c6625902341135b2aab79a.jpeg?x-oss-process=style/w_800" alt="图片"></p>
                <p><br></p>
            </div>
            <div class="clear"></div>
            <div class="loupan-info cf">
                <div class="lp-img">
                    <a target="_blank" href="https://www.jzhfz.com/loupan/259.html">
                        <img src="https://images.jzhfz.com/attachment/build/20210131/9a9ccc70fcdc2f9ea7c48431a13f3a1158e8f2dd.jpeg?x-oss-process=style/w_220" width="200" height="150">
                    </a>
                </div>
                <div class="lp-pic-txt">
                    <div class="top cf">
                        <h3>
                            <a target="_blank" href="https://www.jzhfz.com/loupan/259.html">
                                中农联荆楚智慧云仓城                            </a>
                        </h3>
                        <span class="on-sale">商铺</span>
                        <p class="price">
                            <span class="jj"></span>
                            <span><em class="num">待定</em></span>
                        </p>
                    </div>
                    </p>





                    <!---->
                    <!--<p><label>售楼电话：</label><span>-->

                    <!---->
                    <!--07168387777-->
                    <!-- -->
                    <!---->
                    <!--     </span></p>-->
                    <p><label>楼盘位置：</label><span>荆州高新区</span>
                        <a target="_blank" href="https://www.jzhfz.com/loupan/ditu-259.html" class="lp-map statis-log">查看地图</a></p>
                    <p><label>开盘时间：</label>暂未更新                     <p class="statis-log">
                    <label>主力户型：</label>
                    <a href="https://www.jzhfz.com/loupan/huxing-259.html" target="_blank" class="ckhx ">查看全部户型</a>
                </p>
                    <p>
                        <span class="tag">
                            <a target="_blank" href="https://www.jzhfz.com/loupan/xinxi-259.html">详情</a>
                        </span>
                        <span class="tag">
                            <a target="_blank" href="https://www.jzhfz.com/loupan/tupian-259.html">图片</a>
                        </span>
                        <span class="tag">
                            <a target="_blank" href="https://www.jzhfz.com/loupan/259.html">团购</a>
                        </span>
                        <span class="tag">
                            <a target="_blank" href="https://www.jzhfz.com/loupan/news-259.html">动态</a>
                        </span>
                        <span class="tag">
                            <a target="_blank" href="https://www.jzhfz.com/loupan/dianping-259.html">点评</a>
                        </span>
                    </p>
                </div>
            </div>
            <div class="clear"></div>


            <div class="det_bmb" style="margin-top:40px" id="sub">
                <div class="bmb_titlt"><span class="fen">意向报名</span></div>
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                    <tr>
                        <td>姓名：<input type="text" class="lrt_srk" name="contact" id="input_name1" placeholder="请输入姓名"></td>
                        <td>手机号：<input type="text" class="lrt_srk" name="phone" id="input_tel1" placeholder="请输入手机号"> <span class="fen">*必填</span></td>
                        <td>来自：<input type="text" class="lrt_srk" name="address" placeholder="现住址？"></td>
                        <input type="hidden" name="cid" value="">
                        <td><input type="button" class="an_red" value="提交报名" onclick="subSignUp('资讯详情团购报名',259,'#sub')"></td>
                    </tr>
                    </tbody>
                </table>
            </div>





            <div class="module-news-qrcode">
                <h2 class="news-qrcode-title">欢迎关注更多</h2>
                <div class="news-qrcode-container">
                    <div class="news-qrcode-slide" style="width:868px">
                        <div class="news-qrcode-unit" style="border-left: 0">
                            <div class="unit-title">荆州好房子网业主微信群</div>
                            <div class="unit-qrcode">
                                <img src="https://images.jzhfz.com/wechat/qrcode/20200527/c236f298783d8b23a6e8bab5640a1e3d995bb2d4.png?x-oss-process=style/w_150">

                            </div>
                            <div class="unit-text">找邻居，聊家装，拉家常</div>
                        </div>

                        <div class="news-qrcode-unit">
                            <div class="unit-title">微信公众号</div>
                            <div class="unit-qrcode">
                                <img src="https://images.jzhfz.com/attachment/config/20200523/69530a8ff409c6d0989e2fee88f722e699c48fd3.jpeg?x-oss-process=style/w_150" alt="微信公众号">
                            </div>
                            <div class="unit-text">荆州好房子网微信端,一键授权登录</div>
                        </div>
                        <div class="news-qrcode-unit">
                            <div class="unit-title">微信小程序</div>
                            <div class="unit-qrcode">
                                <img src="https://images.jzhfz.com/attachment/config/20200527/be8ca852590b3a5d5a76148195efb6f73f0bcd60.jpeg?x-oss-process=style/w_150" alt="微信小程序">

                            </div>
                            <div class="unit-text">微信淘房源，极速跨屏浏览！</div>
                        </div>
                    </div>
                </div>
            </div>




            <div class="clear"></div>




        </div>

    </div>

    <div class="tfynews_listr r">
        <div class="list_rt">
            <img src="https://www.jzhfz.com/static/skin/tfy/img/new_listrt.jpg" alt="约房小蜜看房" width="310" height="66">
        </div>
        <div class="list_rt01" id="signUp">

            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tbody><tr>
                    <td>姓名：</td>
                    <td>
                        <input type="text" class="lrt_srk" name="contact" id="input_name" placeholder="请输入姓名">
                    </td>
                </tr>
                <tr>
                    <td>手机：</td>
                    <td>
                        <input type="text" class="lrt_srk" name="phone" id="input_tel" placeholder="请输入手机号">
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="pt10">
        <span class="l">
            <input type="button" onclick="subSignUp('资讯详情团购报名')" class="an_red" value="立即报名">
        </span>
            </div>
            <br><br><br>
            <div class="clear"></div>
            <p class="lh35 fon_18 pt10">免费看房电话：<span class="yt2016_fen">400-600-0716</span></p>
            <div class="clear"></div>
            <script src="https://www.jzhfz.com/static/skin/tfy/js/sign-up.js?v=20200720"></script>
        </div>
        <div class="clear"></div>
        <div class="clear"></div>
        <div class="list_rt02">
            <div class="xwph_top"><span class="fon_20">资讯排行</span></div>
            <div class="xwph_con">
                <div class="tab-bd">
                    <div class="tab-pal">
                        <ul id="tab-pal_1">
                            <li class="nowrap">
                                <a href="https://www.jzhfz.com/news/44865.html" target="_blank">
                                    <span class="shuz_red">1</span>荆州副市长黄镇督办荆州区水环境整治工作</a>
                            </li>
                            <li class="nowrap">
                                <a href="https://www.jzhfz.com/news/44881.html" target="_blank">
                                    <span class="shuz_red">2</span>保利·公园壹号 | 二期玥园盛大交房 数千业主伴爱归家！</a>
                            </li>
                            <li class="nowrap">
                                <a href="https://www.jzhfz.com/news/44868.html" target="_blank">
                                    <span class="shuz_red">3</span>金辉·楚樾云著 ▎大美云著 把家安在3.5万方园林中</a>
                            </li>
                            <li class="nowrap">
                                <a href="https://www.jzhfz.com/news/44879.html" target="_blank">
                                    <span class="shuz_red">4</span>中房协发布2021中国房地产开发企业500强测评成果 金辉集团排名37名</a>
                            </li>
                            <li class="nowrap">
                                <a href="https://www.jzhfz.com/news/44883.html" target="_blank">
                                    <span class="shuz_red">5</span>荆州区“3.15”权益日宣传纪念活动在竹叶山车世界分会场盛大启动！</a>
                            </li>
                            <li class="nowrap">
                                <a href="https://www.jzhfz.com/news/44895.html" target="_blank">
                                    <span class="shuz_red">6</span>与城市共向上丨世茂三盘联动 悦尚暖春新花漾</a>
                            </li>
                            <li class="nowrap">
                                <a href="https://www.jzhfz.com/news/44877.html" target="_blank">
                                    <span class="shuz_red">7</span>保利堂悦 | 从圈层教育开始 给孩子一个美好未来</a>
                            </li>
                            <li class="nowrap">
                                <a href="https://www.jzhfz.com/news/44896.html" target="_blank">
                                    <span class="shuz_red">8</span>蝉联百强房企TOP37、特色地产运营TOP1 金辉集团铸就美好生活</a>
                            </li>
                            <li class="nowrap">
                                <a href="https://www.jzhfz.com/news/44899.html" target="_blank">
                                    <span class="shuz_red">9</span>沙市白水还迁房、公共卫生中心等项目施工进度</a>
                            </li>
                            <li class="nowrap">
                                <a href="https://www.jzhfz.com/news/44887.html" target="_blank">
                                    <span class="shuz_red">10</span>春启世茂 悦鉴芳华 丨世茂荆州三盘联动 五重好礼约惠暖春</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>


        <span class="clearfix"></span>

        <script>
            var _hmt = _hmt || [];
            (function() {
                var hm = document.createElement("script");
                hm.src = "https://hm.baidu.com/hm.js?ffe572bea9212006bdec3505b46fb458";
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(hm, s);
            })();
        </script>
        <div style="position: absolute;left:-120%;bottom: 0;">
            <style>
                .sign-layer .layui-layer-title{
                    height: 0;
                    overflow: hidden;
                }
                .sign-box{
                    padding: 20px 20px;
                    box-sizing: border-box;
                }
                .sign-box .layer-header{
                    position: relative;
                    font-size: 16px;
                    padding-bottom: 10px;
                    color: #62ab00;
                    font-weight: bold;
                    border-bottom: 2px solid #62ab00
                }
                .sign-box .layer-header .close{
                    position: absolute;
                    line-height: 1;
                    display: inline-block;
                    padding: 10px;
                    right: 0;
                    top: -5px;
                    color: #999;
                    font-size: 20px;
                    cursor: pointer;
                    transition: color 0.2s;
                }
                .sign-box .layer-header .close:hover{
                    color: #f00
                }
                .sign-box .tip{
                    font-size: 17px;
                    margin: 20px 0;
                }
                .sign-box .tip>span{
                    color: #999
                }
                .sign-box .form-item{
                    padding: 5px;
                    margin-bottom: 20px;
                    margin-left: 50px;
                }
                .sign-box .form-item .label{
                    float: left;
                    width: 70px;
                    line-height: 30px;
                    font-size: 14px;
                }
                .sign-box .form-item input{
                    height: 30px;
                    padding: 5px;
                    box-sizing: border-box;
                    width: 260px;
                }
                .sign-box .button-box{
                    padding: 15px;
                }
                .sign-box .button-box>button{
                    width: 120px;
                    font-size: 17px;
                    border: 0;
                    border-radius: 3px;
                    line-height: 2;
                    margin-left: 150px;
                    color: #fff;
                    background-color: #62ab00;
                    cursor: pointer;
                }
                .sign-box .footer-tip{
                    margin-top: 10px;
                    color: #999;
                }
            </style>



            <div id="footer"></div><!-- 底部导入 -->

            <script type="text/javascript">
                $(function() {
                    $("#head").load("../publichtml/public_pageHead.html");
                    $("#footer").load("../publichtml/pub_footer.html");
                    $("#index-login-daohang-dr").load("../publichtml/navigation2.html");
                    $("#floatMul").load("../publichtml/floatMune.html");
                })
            </script>
</body>
</html>