
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="Content-Language" content="zh-CN">
    <meta property="og:type" content="article" />
    <title>与城市共向上丨世茂三盘联动 悦尚暖春新花漾</title>
    <meta property="og:title" content="与城市共向上丨世茂三盘联动 悦尚暖春新花漾" />
    <meta content="世茂,三盘联动,悦尚暖春,新花漾" name="Keywords"/>
    <meta name="description" content="世茂早已发现了荆州深藏的潜力与力量，以超前的眼光，在近几年接连落子荆州，逐步完成关于荆州发展的蓝图布局：从世茂长投云锦的首战大捷，到世茂云城焕新荆州人居3.0时代，再到如今的世茂长投云筑滨江，滨江3.0人居生活启幕，世茂的每一步，都是一次荆州人居生活标准的革新。"/>
    <meta property="og:description" content="世茂早已发现了荆州深藏的潜力与力量，以超前的眼光，在近几年接连落子荆州，逐步完成关于荆州发展的蓝图布局：从世茂长投云锦的首战大捷，到世茂云城焕新荆州人居3.0时代，再到如今的世茂长投云筑滨江，滨江3.0人居生活启幕，世茂的每一步，都是一次荆州人居生活标准的革新。" />
    <meta property="og:site_name" content="荆州好房子网" />
    <meta property="og:image" content="https://images.jzhfz.com/attachment/ue/20210318/9732355ce206ee47f8b6277981f90779760629ab.png" />
    <meta property="og:release_date" content="2021-03-18 14:24:54" />
    <meta property="fb:page_id" content="44895" />

    <meta name="mobile-agent" content="format=html5; url=https://www.jzhfz.com/m/pages/news/detail?id=44895">

    <link rel="shortcut icon" type="image/ico" href="https://www.jzhfz.com/favicon.ico">
    <link rel="stylesheet" href="https://www.jzhfz.com/static/skin/tfy/css/tfy-reset.css?20210220" />
    <link rel="stylesheet" href="https://www.jzhfz.com/static/skin/tfy/css/tfy-head.css?20200922" />
    <link rel="stylesheet" href="https://www.jzhfz.com/static/skin/tfy/css/tfy-login.css?20190611" />
    <link rel="stylesheet" href="https://www.jzhfz.com/static/skin/tfy/css/tfy-news.css?20210104" />
    <link rel="stylesheet" href="https://www.jzhfz.com/static/skin/tfy/css/tfy-newspl.css?20190611" />
    <!-- <link rel="stylesheet" href="https://www.jzhfz.com/static/skin/tfy/css/video-js.min.css?20190611" /> -->
    <!-- layui样式导入 -->
    <link rel="stylesheet" href="../layui/css/layui.css" media="all">
    <!--中间的固定定位-->
    <link rel="stylesheet" type="text/css" href="../../css/floatmuen.css"/>
    <!-- 头部样式导入 -->
    <link rel="stylesheet" type="text/css" href="../../css/pub_head.css" />
    <!-- 尾部样式导入 -->
    <link rel="stylesheet" type="text/css" href="../../css/pub_footer.css" />
    <!-- jquery JS导入 -->
    <script src="../../js/jquery-1.12.4.js"></script>
    <!-- 导航栏css导入 -->
    <link  rel="stylesheet" href="../../css/navigation.css" />
</head>
<body>
<ul id="floatMul"></ul>
<div id="head"></div><!-- 头部导入 -->
<div id="index-login-daohang-dr"></div><!-- 导入导航栏的代码 -->

<div class="crumbs juzhong">您的位置：<a href="/">荆州好房子网</a> &gt; <a href="/news/">资讯频道</a> &gt; 资讯详情</div>
<div class="w1200px mar0 pt10">
    <div class="tfynews_list">
        <div class="l new_detail">
            <div class="hauto">
                <h1>与城市共向上丨世茂三盘联动 悦尚暖春新花漾</h1>
                <div class="fon_14 h_alter01">
                    <div class="l yt2016_hui">
                        <div class="l">2021-03-18 14:24:54&nbsp;&nbsp;&nbsp;&nbsp;<span>荆州好房子网</span>
                            <!--                            &nbsp;&nbsp;&nbsp;&nbsp;评论：<span-->
                            <!--                                class="fen">0</span>-->
                            &nbsp;&nbsp;&nbsp;&nbsp;<span>本地楼市</span>&nbsp;&nbsp;&nbsp;&nbsp;
                            来源：<span class="fen">荆州好房子网</span>
                        </div>
                    </div>
                    <div class="share">
                        <i class="wx-icon"></i>
                        <span>发送到微信</span>
                        <div>
                            <div class="share-qr-big animation"><img src="https://images.jzhfz.com/wechat/qrcode/20210318/a1d40c3a0c8e4b72d62635c6311b7974560c7684.png?x-oss-process=style/w_150" width="150" height="150"></div>
                            <p class="share-text">微信扫一扫</p>
                        </div>
                    </div>
                    <div class="share">
                        <i class="qr-icon"></i>
                        <span>发送到手机</span>
                        <div id="current-site-qr">
                            <div class="share-qr-big animation"><img src="https://images.jzhfz.com/wechat/qrcode/20210318/22d1f0939c60a98b08b6a1c81739e3debc1e94ed.png?x-oss-process=style/w_150" width="150" height="150"></div>
                            <p class="share-text">扫描二维码推荐给朋友</p>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="new_con">

                <p style="text-align: center; text-indent: 0em;"><img src="https://images.jzhfz.com/attachment/ue/20210318/7eba049c390e79e3e930cc5ed8cf7849cc9d21c3.png?x-oss-process=style/w_800" title="" alt=""></p>
                <p style="text-align: center; text-indent: 0em;">（图片来源于网络）</p>
                <p style="text-indent: 2em;">经考古挖掘发现,<a href="https://www.jzhfz.com" title="荆州" target="_blank">荆州</a>城墙是我国延续时间最长、跨越朝代最多、由土城发展演变为砖城的唯一古城墙。<a href="https://www.jzhfz.com" title="荆州" target="_blank">荆州</a>城墙也被誉为“我国南方不可多得的完璧”。</p>
                <p style="text-indent: 2em;">“我听见青石板上的马蹄声碎了，我听见关帝庙前外婆的祈祷，我听说护城河边的桃花又开了”——作为“楚国故都、三国名城”的<a href="https://www.jzhfz.com" title="荆州" target="_blank">荆州</a>,如今古老与现代并行。</p>
                <p style="text-indent: 2em;">奔流不息的长江水，浩浩荡荡地流过<a href="https://www.jzhfz.com" title="荆州" target="_blank">荆州</a>长江大桥，在长江北岸这片肥沃的土地上，曾经孕育了辉煌灿烂的楚文化，上演了闻名古今的三国故事，也见证了荣辱兴衰的近现代文明。</p>
                <p style="text-indent: 2em;">而沙市作为改革开放初的全国明星城市这座城市的很多地方，都有姿态万千的凤舞元素,,比如以凤为名的建筑、酒店,东侧护城河外是当地有名的金凤广场,就连城区建筑工地外围的图片墙上也是，然而这些都与<a href="https://www.jzhfz.com" title="荆州" target="_blank">荆州</a>悠久的楚文化有关。</p>
                <p style="text-indent: 2em;">古代<a href="https://www.jzhfz.com" title="荆州" target="_blank">荆州</a>南渡长江的渡口在今天的<a href="https://www.jzhfz.com" title="荆州" target="_blank">荆州</a>市沙市区江岸,沟通南北、东西的地理位置,成就了沙市在历史上长江中游商贸中心的地位。</p>
                <p style="text-align: center; text-indent: 0em;"><img src="https://images.jzhfz.com/attachment/ue/20210318/5a666d12451c354f38c6823de5c99d4d38290b38.png?x-oss-process=style/w_800" title="" alt=""></p>
                <p style="text-align: center; text-indent: 0em;">（<a href="https://www.jzhfz.com" title="荆州" target="_blank">荆州</a>机场实拍图）</p>
                <p style="text-indent: 2em;">而<a href="https://www.jzhfz.com" title="荆州" target="_blank">荆州</a>市为加快战略性新兴产业发展，重点培育新一代信息技术、生物技术、高端装备制造、新材料等产业。突破性抓好以现代物流、文化旅游为重点的现代服务业，实施“互联网+服务业”行动,加快发展商贸服务、旅游休闲、健康养老等业态。从政策、规划、环境、人才等多维度擎画出<a href="https://www.jzhfz.com" title="荆州" target="_blank">荆州</a>的未来发展蓝图。</p>
                <p style="text-indent: 2em;">如今，随着汉宜高速、汉宜铁路、浩吉铁路及<a href="https://www.jzhfz.com" title="荆州" target="_blank">荆州</a>长江大桥等一批重大交通设施取道<a href="https://www.jzhfz.com" title="荆州" target="_blank">荆州</a>与相继建成，<a href="https://www.jzhfz.com" title="荆州" target="_blank">荆州</a>热情拥抱“一小时城市圈”，向着融入国内都市圈与现代经济圈迈出坚实步伐。</p>
                <p style="text-indent: 2em;"><a href="https://www.jzhfz.com" title="荆州" target="_blank">荆州</a>机场成功试飞，<a href="https://www.jzhfz.com" title="荆州" target="_blank">荆州</a>人向往的“快时代”生活也正逐步实现。吾悦广场、万达各大商业相继落户，医疗教育等配套亦逐步完善。</p>
                <p style="text-indent: 2em;">新产业、新机遇,在这片古老的土地上生根发芽；古城墙、古遗址,在这座现代化城市中焕发生机。在国家实施长江经济带发展战略中,古老楚都迎来了新的历史机遇,正在奋力书写一个又一个高质量发展的<a href="https://www.jzhfz.com" title="荆州" target="_blank">荆州</a>故事。</p>
                <p style="text-align: center; text-indent: 0em;"><img src="https://images.jzhfz.com/attachment/ue/20210318/68c4667716f8ce3211443656727aee15146fb270.png?x-oss-process=style/w_800" title="" alt=""></p>
                <p style="text-align: center; text-indent: 0em;">（世茂品牌示意图）</p>
                <p style="text-indent: 2em;">世茂早已发现了<a href="https://www.jzhfz.com" title="荆州" target="_blank">荆州</a>深藏的潜力与力量，以超前的眼光，在近几年接连落子<a href="https://www.jzhfz.com" title="荆州" target="_blank">荆州</a>，逐步完成关于<a href="https://www.jzhfz.com" title="荆州" target="_blank">荆州</a>发展的蓝图布局：从<a href="https://www.jzhfz.com/loupan/225.html" title="世茂长投云锦" target="_blank">世茂长投云锦</a>的首战大捷，到<a href="https://www.jzhfz.com/loupan/235.html" title="世茂云城" target="_blank">世茂云城</a>焕新<a href="https://www.jzhfz.com" title="荆州" target="_blank">荆州</a>人居3.0时代，再到如今的<a href="https://www.jzhfz.com/loupan/246.html" title="世茂长投云筑滨江" target="_blank">世茂长投云筑滨江</a>，滨江3.0人居生活启幕，世茂的每一步，都是一次<a href="https://www.jzhfz.com" title="荆州" target="_blank">荆州</a>人居生活标准的革新。</p>
                <p style="text-indent: 2em;"><a href="https://www.jzhfz.com/loupan/225.html" title="世茂长投云锦" target="_blank">世茂长投云锦</a></p>
                <p style="text-indent: 2em;">美学小洋楼·所见即所得</p>
                <p style="text-align: center; text-indent: 0em;"><img src="https://images.jzhfz.com/attachment/ue/20210318/3f0ffb5cf0f5659b637c5b4c773fcb1828afca1d.png?x-oss-process=style/w_800" title="" alt=""></p>
                <p style="text-align: center; text-indent: 0em;">（<a href="https://www.jzhfz.com/loupan/225.html" title="世茂长投云锦" target="_blank">世茂长投云锦</a>实拍图）</p>
                <p style="text-indent: 2em;">作为世茂布局<a href="https://www.jzhfz.com" title="荆州" target="_blank">荆州</a>的第一盘，<a href="https://www.jzhfz.com/loupan/225.html" title="世茂长投云锦" target="_blank">世茂长投云锦</a>可谓是大获全胜。不仅销量每旷愈加，更是在准现房热销的如今，直接引爆<a href="https://www.jzhfz.com" title="荆州" target="_blank">荆州</a>，大家纷纷争相品鉴认购。</p>
                <p style="text-indent: 2em;">当然，热销的背后，有着其爆红原因——<a href="https://www.jzhfz.com" title="荆州" target="_blank">荆州</a><a href="https://www.jzhfz.com/loupan/225.html" title="世茂长投云锦" target="_blank">世茂长投云锦</a>雄踞荆西板块黄金腹地，扼守高新区版图。</p>
                <p style="text-indent: 2em;">随着李埠长江公铁大桥的建成，将会带动整个荆西板块的经济发展，区位价值即将凸显。绝佳的地段优势之外区域配套规划完善：联投广场、公交车总站、乐居公园、体育公园等配套实施均已建成；桃花村农旅特色小镇、<a href="https://www.jzhfz.com" title="荆州" target="_blank">荆州</a>农都CBD、<a href="https://www.jzhfz.com" title="荆州" target="_blank">荆州</a>中心医院西分院等各类配套实施规划完善，一座全新的活力新城正在快速崛起。</p>
                <p style="text-indent: 2em;">01</p>
                <p style="text-indent: 2em;">全龄园林，随享美景</p>
                <p style="text-align: center; text-indent: 0em;"><img src="https://images.jzhfz.com/attachment/ue/20210318/085ed472d59e59a99721e8f4aa2e8f1feaae80bc.png?x-oss-process=style/w_800" title="" alt=""></p>
                <p style="text-align: center; text-indent: 0em;">（<a href="https://www.jzhfz.com/loupan/225.html" title="世茂长投云锦" target="_blank">世茂长投云锦</a>实拍图）</p>
                <p style="text-indent: 2em;">除了区位择址的独到，项目本身更有其过硬的实力：</p>
                <p style="text-indent: 2em;"><a href="https://www.jzhfz.com" title="荆州" target="_blank">荆州</a>世茂云锦匠造全龄成长园林，规划近4万方绿化率覆盖，1:1~2:1黄金层高间距比，让理想的生活成为现实。</p>
                <p style="text-indent: 2em;">不管是小孩、青年还是老人，都能在此找到每个人心中的美好憧憬，交流、休憩、休闲、娱乐多重情境主题生活。</p>
                <p style="text-indent: 2em;">早教墙、攀爬地坡、探险隧道、儿童滑滑梯……开发幼儿智力，护航孩子安全；奇妙传声筒、阳光书房、亲子滑梯、涂鸦绘画墙、表演舞台等，每一处细节都做到专业与科学，深入探索儿童成长特点，既是孩子学习成长的课堂，也是认知世界的神奇窗口；阳光草坪、跳房子、儿童成长刻度尺、带插座座椅、娱乐场地加厚地垫，让孩子和家长在游戏、教育的互动活动中亲密相处；</p>
                <p style="text-indent: 2em;">约1100米绿氧跑道、夜间导航灯、里程规划、音乐跑道，伴随着曲调悠扬入耳，为运动者拭去心中疲惫；敏捷、平衡、速度、柔韧性、灵活性、协调性等室外专业健身训练场，以及羽毛球场、半篮球场，让城市青年达到全维度健身需求；</p>
                <p style="text-indent: 2em;">阳光棋牌桌椅、社交花园、书法天地、休闲廊架，为父母颐养天年提供私属天地。</p>
                <p style="text-indent: 2em;">02</p>
                <p style="text-indent: 2em;">低密洋房，即买即住</p>
                <p style="text-align: center; text-indent: 0em;"><img src="https://images.jzhfz.com/attachment/ue/20210318/4accfb3c9c95d2e86d0e907994dfbb8c09d725e9.png?x-oss-process=style/w_800" title="" alt=""></p>
                <p style="text-align: center; text-indent: 0em;">（<a href="https://www.jzhfz.com/loupan/225.html" title="世茂长投云锦" target="_blank">世茂长投云锦</a>实拍图）</p>
                <p style="text-indent: 2em;">项目更是<a href="https://www.jzhfz.com" title="荆州" target="_blank">荆州</a>市面少有的低密洋房：小区一期低至2.28容积率，约35%高绿化率，约4万方全能成长园林……相较于市场同类产品，公摊率更低，实用面积更大，且楼栋间的采光、视野、通风性更佳，在塑造给人舒适体验的生活空间的同时，将更多的社区空间释放出来，如今，<a href="https://www.jzhfz.com/loupan/225.html" title="世茂长投云锦" target="_blank">世茂长投云锦</a>实景现房首批已圆满交付，项目切实向大家展现了世茂以人为本的匠心品质。以最好的准备，给每位购房者看得见的幸福保障。</p>
                <p style="text-indent: 2em;"><a href="https://www.jzhfz.com/loupan/235.html" title="世茂云城" target="_blank">世茂云城</a></p>
                <p style="text-indent: 2em;">30余载世茂·一座云城观沙芯</p>
                <p style="text-align: center; text-indent: 0em;"><img src="https://images.jzhfz.com/attachment/ue/20210318/d82e6e2fc4abfb64e83c282ff4ae6b363f0dfbe6.png?x-oss-process=style/w_800" title="" alt=""></p>
                <p style="text-align: center; text-indent: 0em;">（<a href="https://www.jzhfz.com/loupan/235.html" title="世茂云城" target="_blank">世茂云城</a>规划鸟瞰图）</p>
                <p style="text-indent: 2em;">世茂自匠筑长投云锦以来，用高品质的产品在<a href="https://www.jzhfz.com" title="荆州" target="_blank">荆州</a>市场赢得了良好的口碑以及客户的追捧，此后再战<a href="https://www.jzhfz.com" title="荆州" target="_blank">荆州</a>，挥师沙市，悉心解读沙市城市精神内核，深研人居之本，凭借在全国多地建造、运营房产项目经验，以严格的标准与优秀的团队打磨产品品质，以艺术与匠心敬献了拥有沙市特色的理想人居——<a href="https://www.jzhfz.com/loupan/235.html" title="世茂云城" target="_blank">世茂云城</a>。</p>
                <p style="text-indent: 2em;">01</p>
                <p style="text-indent: 2em;">老城核芯，繁华不偏移</p>
                <p style="text-align: center; text-indent: 0em;"><img src="https://images.jzhfz.com/attachment/ue/20210318/04dc7baa16caee6edc00835e2e3520a0ebc34b2a.png?x-oss-process=style/w_800" title="" alt=""></p>
                <p style="text-align: center; text-indent: 0em;">（<a href="https://www.jzhfz.com/loupan/235.html" title="世茂云城" target="_blank">世茂云城</a>区位示意图）</p>
                <p style="text-indent: 2em;">坐镇沙市老城芯，3公里范围内，吾悦广场、中建广场等商业环伺；近享红星路小学、十一中等名校；近邻太师渊公园、章华寺等人文景观；毗邻<a href="https://www.jzhfz.com" title="荆州" target="_blank">荆州</a>市体育馆等文体资源；周边更是学校云集，紧邻红星路小学、十一中旁，更有武大小太阳幼儿园、航空路小学、沙市第十一中、红星路小学、北京路小学、沙市实验中学、<a href="https://www.jzhfz.com" title="荆州" target="_blank">荆州</a>市文星中学等数十院校环绕，全龄优质教育在侧。近享出则校门入则家门的便捷，让孩子免受求学之路上的奔波之苦。</p>
                <p style="text-indent: 2em;">（具体学区划分或入学政策以教育主管部门政策为准。）</p>
                <p style="text-indent: 2em;">02</p>
                <p style="text-indent: 2em;">全生命周期户型，陪伴一生</p>
                <p style="text-align: center; text-indent: 0em;"><img src="https://images.jzhfz.com/attachment/ue/20210318/5b7fe959e83338e6795131c51ce977a37c75316a.png?x-oss-process=style/w_800" title="" alt=""></p>
                <p style="text-align: center; text-indent: 0em;">（图片来源于网络）</p>
                <p style="text-indent: 2em;">好的房子，能与陪伴人一生成长。</p>
                <p style="text-indent: 2em;"><a href="https://www.jzhfz.com/loupan/235.html" title="世茂云城" target="_blank">世茂云城</a>匠造奢阔三/四居，打造全生命周期户型，全明通透、合理动线规划，让三代同堂的合居生活亲密而又保持恰当的距离互不打扰。</p>
                <p style="text-indent: 2em;">舒适灵动空间，无惧二胎时代，科学合理布局，成就梦寐以求的“家”：活动区域与休息区，动静分离的贴心设计，拉近彼此心灵的同时，又享受专属私人空间。舒适与惬意常在、互不干扰，承载无与伦比大幸福，为生活“家”分。</p>
                <p style="text-indent: 2em;">客厅与阳台、餐厅、厨房一脉紧连，空间更敞阔。清风与阳光在室内流通自如，既增进家人情感沟通，又升华友人间的情谊，尽情享受美好欢聚时光。</p>
                <p style="text-indent: 2em;">南向主卧，采光充足，明亮通透，清晨拉开窗帘让温暖的阳光照到房间里，清风枕眠，阳光送暖。与爱人在静谧悠然中享受生活，主卧媲美奢华套房，尽显主人尊贵身份；私属独卫，保证隐私性和安全性；专属衣帽间，整理打包生活的美好。</p>
                <p style="text-indent: 2em;"><a href="https://www.jzhfz.com/loupan/246.html" title="世茂长投云筑滨江" target="_blank">世茂长投云筑滨江</a></p>
                <p style="text-indent: 2em;">赋新滨江，创写<a href="https://www.jzhfz.com" title="荆州" target="_blank">荆州</a>时代封面</p>
                <p style="text-align: center; text-indent: 0em;"><img src="https://images.jzhfz.com/attachment/ue/20210318/2d6672f5d53e89137bc603c9e2d669f30e5dda80.png?x-oss-process=style/w_800" title="" alt=""></p>
                <p style="text-align: center; text-indent: 0em;">（<a href="https://www.jzhfz.com/loupan/246.html" title="世茂长投云筑滨江" target="_blank">世茂长投云筑滨江</a>规划鸟瞰图）</p>
                <p style="text-indent: 2em;">随着长江经济带脊梁规划来袭，主轴之上的高端住宅项目，就开始逐步断档中，滨江资源逐渐稀缺，也使得现有的滨江房产或将成为“绝唱”。而此时，世茂在<a href="https://www.jzhfz.com" title="荆州" target="_blank">荆州</a>落子两大精品后，焕新滨江3.0时代生活的<a href="https://www.jzhfz.com/loupan/246.html" title="世茂长投云筑滨江" target="_blank">世茂长投云筑滨江</a>正应运而来。</p>
                <p style="text-indent: 2em;">01</p>
                <p style="text-indent: 2em;">一线视野，临江瞰园</p>
                <p style="text-align: center; text-indent: 0em;"><img src="https://images.jzhfz.com/attachment/ue/20210318/ab7c839bfce905c5b70cff0c8d51581a0564f74e.png?x-oss-process=style/w_800" title="" alt=""></p>
                <p style="text-align: center; text-indent: 0em;">（临江仙公园实拍图）</p>
                <p style="text-indent: 2em;">随着长江时代的大幕揭开，荆江江畔成为城市热点。<a href="https://www.jzhfz.com/loupan/246.html" title="世茂长投云筑滨江" target="_blank">世茂长投云筑滨江</a>，汲取<a href="https://www.jzhfz.com" title="荆州" target="_blank">荆州</a>长江岸畔景观精华段，紧握荆江风景带醉美一段——约400亩临江仙公园近在眼前，更可俯瞰约1.6公里巨幕江景。同时，项目位居荆沙芯，坐拥新老城区醇熟配套，约2公里范围内，古城/万达/北京路商圈，耀动生活。</p>
                <p style="text-indent: 2em;">02</p>
                <p style="text-indent: 2em;">人文氛围，书香陪伴</p>
                <p style="text-align: center; text-indent: 0em;"><img src="https://images.jzhfz.com/attachment/ue/20210318/3323a1d062a588f91752c399e8d371af62d36c46.png?x-oss-process=style/w_800" title="" alt=""></p>
                <p style="text-align: center; text-indent: 0em;">（长江大学实拍图）</p>
                <p style="text-indent: 2em;">不仅如此，世茂云筑滨江更结缘长江大学及9年制教育资源——项目毗邻长江大学东校区，且新风（实验）小学、沙市二中太岳校区等10余学校环绕。雄厚的师资力量护航，是孩子成材坚实的保障。家门口的优质教育，让孩子从小沐浴书香，早上可以多睡半小时，晚上可以更早归家，父母也不必为每天接送而费心。目送孩子出门，即可安全抵达学校。</p>
                <p style="text-indent: 2em;">（具体学区划分或入学政策以教育主管部门政策为准。）</p>
                <p style="text-indent: 2em;">03</p>
                <p style="text-indent: 2em;">江幕高层，通透奢适</p>
                <p style="text-align: center; text-indent: 0em;"><img src="https://images.jzhfz.com/attachment/ue/20210318/9b4f95c84aae985d1c67eca50b65873e27ffcef5.png?x-oss-process=style/w_800" title="" alt=""></p>
                <p style="text-align: center; text-indent: 0em;">（图片来源于网络）</p>
                <p style="text-indent: 2em;"><a href="https://www.jzhfz.com/loupan/246.html" title="世茂长投云筑滨江" target="_blank">世茂长投云筑滨江</a>雄踞一线瞰江资源，匠造建面约92-140㎡江幕高层，全高层规划布局，为城市人群打造阔视野瞰江领地。宽楼间距设计，让楼宇的缝隙里只有美好风景和清新光影。让江岸成为您的私家景观，将城芯繁华与静谧自然尽揽入怀。</p>
                <p style="text-indent: 2em;">近1:1长宽比，成就户户全方正，连廊设计，全南北通透，有效将滨江双园及园林衍生的富氧引入室内，全屋各功能区全明化设计，日照时间更长，全三开间朝南设计，让家的空间更好地沐浴阳光，实现真正的通透全明，舒适尽藏。</p>
                <p style="text-indent: 2em;">且中间户更尊享双阳台，卧室亦规划有观景大飘窗，独立景观领域，附享空间，提升卧室采光与采景，大美江景尽入眼帘，将一线江景视野发挥到极致。</p>
                <p style="text-indent: 2em;">未来，世茂也将会秉持“缔造生活品位，成就城市梦想”的品牌理念，在稳开拓、持深耕的过程中，继续以匠心筑造更多人居筑品，焕新<a href="https://www.jzhfz.com" title="荆州" target="_blank">荆州</a>这座千年古城，与城市共生长。</p>
                <p style="text-indent: 2em;">世茂<a href="https://www.jzhfz.com" title="荆州" target="_blank">荆州</a>三盘联动</p>
                <p style="text-indent: 2em;">如今，世茂<a href="https://www.jzhfz.com" title="荆州" target="_blank">荆州</a>三盘联动，特推出暖春五重购房礼活动，让每位<a href="https://www.jzhfz.com" title="荆州" target="_blank">荆州</a>人都能感受到来自春天的礼赞。</p>
                <p style="text-align: center; text-indent: 0em;"><img src="https://images.jzhfz.com/attachment/ue/20210318/f220affe7a0a7188866eb84073b6b6027024641b.png?x-oss-process=style/w_800" title="" alt=""></p>
                <p style="text-align: center; text-indent: 0em;">（项目广告图）</p>
                <p style="text-indent: 2em;">到访礼：到访即可领取小米/小油一份。</p>
                <p style="text-indent: 2em;">老带新礼：<a href="https://www.jzhfz.com/loupan/246.html" title="世茂长投云筑滨江" target="_blank">世茂长投云筑滨江</a>老客户带新可领取10年车位使用权；<a href="https://www.jzhfz.com/loupan/235.html" title="世茂云城" target="_blank">世茂云城</a>、<a href="https://www.jzhfz.com/loupan/225.html" title="世茂长投云锦" target="_blank">世茂长投云锦</a>老客户带新可领取品牌家电一份。</p>
                <p style="text-indent: 2em;">推荐礼：世茂全民营销，云房宝推荐成交可得1%佣金。（佣金非实时到账）</p>
                <p style="text-indent: 2em;">成交礼：三月成交即可立减3万。</p>
                <p style="text-indent: 2em;">金蛋礼：成交砸金蛋，可得品牌家电。</p>
                <p style="text-align: center; text-indent: 0em;"><span style="text-align: center;"><a href="https://www.jzhfz.com/loupan/246.html" title="世茂长投云筑滨江" target="_blank">世茂长投云筑滨江</a></span></p>
                <p style="text-align: center; text-indent: 0em;">赋新滨江，创写<a href="https://www.jzhfz.com" title="荆州" target="_blank">荆州</a>时代封面</p>
                <p style="text-align: center; text-indent: 0em;">建筑面积约92-140㎡</p>
                <p style="text-align: center; text-indent: 0em;">江幕高层，风云献映</p>
                <p style="text-align: center; text-indent: 0em;"><a href="https://www.jzhfz.com/loupan/246.html" title="世茂长投云筑滨江" target="_blank">世茂长投云筑滨江</a>位居荆沙芯，</p>
                <p style="text-align: center; text-indent: 0em;">构筑在自然绿肺中，</p>
                <p style="text-align: center; text-indent: 0em;">约400亩临江仙公园即达，</p>
                <p style="text-align: center; text-indent: 0em;">坐拥新老城区约2公里范围内繁华，</p>
                <p style="text-align: center; text-indent: 0em;">并与长江大学为邻，</p>
                <p style="text-align: center; text-indent: 0em;">享自带9班制幼儿园，新风（实验）小学、</p>
                <p style="text-align: center; text-indent: 0em;">沙市二中太岳校区等优质教育资源。</p>
                <p style="text-align: center; text-indent: 0em;">同时，项目容积率低于3.0，</p>
                <p style="text-align: center; text-indent: 0em;">将全龄化社区功能融合园林景观，</p>
                <p style="text-align: center; text-indent: 0em;">还更多土地自然以生活。</p>
                <p style="text-align: center; text-indent: 0em;">匠心规划方寸空间，</p>
                <p style="text-align: center; text-indent: 0em;">引领居住舒适新高度。</p>
                <p style="text-indent: 0em; text-align: center;"><img src="https://images.jzhfz.com/attachment/ue/20210318/4ce6ef9795c1331fe560b71de2b938df77001688.png?x-oss-process=style/w_800" title="" alt=""></p>
                <p style="text-align: center; text-indent: 0em;">（<a href="https://www.jzhfz.com/loupan/246.html" title="世茂长投云筑滨江" target="_blank">世茂长投云筑滨江</a>广告图）</p>
                <p style="text-align: center; text-indent: 0em;"><a href="https://www.jzhfz.com/loupan/225.html" title="世茂长投云锦" target="_blank">世茂长投云锦</a></p>
                <p style="text-align: center; text-indent: 0em;">美学小洋楼·所见即所得</p>
                <p style="text-align: center; text-indent: 0em;">建面约98-132㎡全龄美学洋楼</p>
                <p style="text-align: center; text-indent: 0em;">实景现房火爆销售中</p>
                <p style="text-align: center; text-indent: 0em;"><a href="https://www.jzhfz.com/loupan/225.html" title="世茂长投云锦" target="_blank">世茂长投云锦</a>大境已成，</p>
                <p style="text-align: center; text-indent: 0em;">实景现房给你看得见的幸福保障，</p>
                <p style="text-align: center; text-indent: 0em;">全龄美学洋楼，户型方正全明、</p>
                <p style="text-align: center; text-indent: 0em;">坐北朝南、最低约至16.06%公摊率，</p>
                <p style="text-align: center; text-indent: 0em;">给予生活更多享受。</p>
                <p style="text-align: center; text-indent: 0em;">项目一期规划约2.28超低容积率，</p>
                <p style="text-align: center; text-indent: 0em;">享约1.77万方绿化；</p>
                <p style="text-align: center; text-indent: 0em;">同时匠心规划3大全能专区、5大活力系统、</p>
                <p style="text-align: center; text-indent: 0em;">约60项匠心细节设定，</p>
                <p style="text-align: center; text-indent: 0em;">筑造可全龄悦享的成长园境。</p>
                <p style="text-indent: 0em; text-align: center;"><img src="https://images.jzhfz.com/attachment/ue/20210318/03ab427070e8a30560ccef3c7a8d38c07ee8647e.png?x-oss-process=style/w_800" title="" alt=""></p>
                <p style="text-align: center; text-indent: 0em;">（<a href="https://www.jzhfz.com/loupan/225.html" title="世茂长投云锦" target="_blank">世茂长投云锦</a>广告图）</p>
                <p style="text-align: center; text-indent: 0em;"><a href="https://www.jzhfz.com/loupan/235.html" title="世茂云城" target="_blank">世茂云城</a></p>
                <p style="text-align: center; text-indent: 0em;">30余载世茂·一座云城观沙芯</p>
                <p style="text-align: center; text-indent: 0em;">建面约89-137㎡全龄段生活优品</p>
                <p style="text-align: center; text-indent: 0em;">1#2#楼火爆热销中</p>
                <p style="text-align: center; text-indent: 0em;"><a href="https://www.jzhfz.com/loupan/235.html" title="世茂云城" target="_blank">世茂云城</a>坐镇沙市老城芯，</p>
                <p style="text-align: center; text-indent: 0em;">3公里范围内，</p>
                <p style="text-align: center; text-indent: 0em;">优享教育、商业、医疗等多元生活资源。</p>
                <p style="text-align: center; text-indent: 0em;">项目为满足全龄逸趣，将生活场景嵌入。</p>
                <p style="text-align: center; text-indent: 0em;">匠造出全维度情境交互园林。</p>
                <p style="text-align: center; text-indent: 0em;">同时拥3米室内层高，围合式楼栋分布，</p>
                <p style="text-align: center; text-indent: 0em;">最大约100米超阔楼间距，</p>
                <p style="text-align: center; text-indent: 0em;">360°视角于中央景观花园。</p>
                <p style="text-align: center; text-indent: 0em;">珍藏阳光美景，享更多幸福点滴。</p>
                <p style="text-indent: 0em; text-align: center;"><img src="https://images.jzhfz.com/attachment/ue/20210318/6262172f31c030d0d1e9b1f8ecf7ab8e0c73b27b.png?x-oss-process=style/w_800" title="" alt=""></p>
                <p style="text-align: center; text-indent: 0em;">（<a href="https://www.jzhfz.com/loupan/235.html" title="世茂云城" target="_blank">世茂云城</a>广告图）</p>
                <p><br></p>
            </div>
            <div class="clear"></div>
            <div class="loupan-info cf">
                <div class="lp-img">
                    <a target="_blank" href="https://www.jzhfz.com/loupan/235.html">
                        <img src="https://images.jzhfz.com/old/2019/1017/15712952964896377893.jpg?x-oss-process=style/w_220" width="200" height="150">
                    </a>
                </div>
                <div class="lp-pic-txt">
                    <div class="top cf">
                        <h3>
                            <a target="_blank" href="https://www.jzhfz.com/loupan/235.html">
                                世茂云城                            </a>
                        </h3>
                        <span class="on-sale">小高层 高层</span>
                        <p class="price">
                            <span class="jj">均价：</span>
                            <span><em class="num">7900</em>元/m²</span>
                        </p>
                    </div>
                    </p>





                    <!---->
                    <!--<p><label>售楼电话：</label><span>-->

                    <!---->
                    <!--400-600-0716<em> 转 </em>532-->
                    <!-- -->
                    <!---->
                    <!--     </span></p>-->
                    <p><label>楼盘位置：</label><span>中心城区</span>
                        <a target="_blank" href="https://www.jzhfz.com/loupan/ditu-235.html" class="lp-map statis-log">查看地图</a></p>
                    <p><label>开盘时间：</label>2020年5月                     <p class="statis-log">
                    <label>主力户型：</label>
                    <span class="ju1 ">
                                        <a href="https://www.jzhfz.com/loupan/huxing-235.html" target="_blank">4居(135m²)</a>
                                </span>
                    <span class="ju1 ">
                                        <a href="https://www.jzhfz.com/loupan/huxing-235.html" target="_blank">3居(88m²)</a>
                                </span>
                    <span class="ju1 ">
                                        <a href="https://www.jzhfz.com/loupan/huxing-235.html" target="_blank">3居(122m²)</a>
                                </span>
                    <a href="https://www.jzhfz.com/loupan/huxing-235.html" target="_blank" class="ckhx ">查看全部户型</a>
                </p>
                    <p>
                        <span class="tag">
                            <a target="_blank" href="https://www.jzhfz.com/loupan/xinxi-235.html">详情</a>
                        </span>
                        <span class="tag">
                            <a target="_blank" href="https://www.jzhfz.com/loupan/tupian-235.html">图片</a>
                        </span>
                        <span class="tag">
                            <a target="_blank" href="https://www.jzhfz.com/loupan/235.html">团购</a>
                        </span>
                        <span class="tag">
                            <a target="_blank" href="https://www.jzhfz.com/loupan/news-235.html">动态</a>
                        </span>
                        <span class="tag">
                            <a target="_blank" href="https://www.jzhfz.com/loupan/dianping-235.html">点评</a>
                        </span>
                    </p>
                </div>
            </div>
            <div class="clear"></div>


            <div class="det_bmb" style="margin-top:40px" id="sub">
                <div class="bmb_titlt"><span class="fen">意向报名</span></div>
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                    <tr>
                        <td>姓名：<input type="text" class="lrt_srk" name="contact" id="input_name1" placeholder="请输入姓名"></td>
                        <td>手机号：<input type="text" class="lrt_srk" name="phone" id="input_tel1" placeholder="请输入手机号"> <span class="fen">*必填</span></td>
                        <td>来自：<input type="text" class="lrt_srk" name="address" placeholder="现住址？"></td>
                        <input type="hidden" name="cid" value="">
                        <td><input type="button" class="an_red" value="提交报名" onclick="subSignUp('资讯详情团购报名',235,'#sub')"></td>
                    </tr>
                    </tbody>
                </table>
            </div>





            <div class="module-news-qrcode">
                <h2 class="news-qrcode-title">欢迎关注更多</h2>
                <div class="news-qrcode-container">
                    <div class="news-qrcode-slide" style="width:868px">
                        <div class="news-qrcode-unit" style="border-left: 0">
                            <div class="unit-title">荆州好房子网业主微信群</div>
                            <div class="unit-qrcode">
                                <img src="https://images.jzhfz.com/wechat/qrcode/20200527/c236f298783d8b23a6e8bab5640a1e3d995bb2d4.png?x-oss-process=style/w_150">

                            </div>
                            <div class="unit-text">找邻居，聊家装，拉家常</div>
                        </div>

                        <div class="news-qrcode-unit">
                            <div class="unit-title">微信公众号</div>
                            <div class="unit-qrcode">
                                <img src="https://images.jzhfz.com/attachment/config/20200523/69530a8ff409c6d0989e2fee88f722e699c48fd3.jpeg?x-oss-process=style/w_150" alt="微信公众号">
                            </div>
                            <div class="unit-text">荆州好房子网微信端,一键授权登录</div>
                        </div>
                        <div class="news-qrcode-unit">
                            <div class="unit-title">微信小程序</div>
                            <div class="unit-qrcode">
                                <img src="https://images.jzhfz.com/attachment/config/20200527/be8ca852590b3a5d5a76148195efb6f73f0bcd60.jpeg?x-oss-process=style/w_150" alt="微信小程序">

                            </div>
                            <div class="unit-text">微信淘房源，极速跨屏浏览！</div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="clear"></div>

            <div class="part_end">
                <div class="pe_title">
                    <h2 class="pe_titlel l">最新楼盘</h2>
                    <span class="pe_titler r yt2016_hui">|
                        <a href="https://www.jzhfz.com/loupan/" target="_blank">更多楼盘</a></span>
                </div>
                <ul>
                    <li>
                        <a href="https://www.jzhfz.com/loupan/262.html" target="_blank">
                            <img src="https://images.jzhfz.com/attachment/build/20210318/c675e2e7f652ae8ccfc568c62110bc315d1e8b9a.jpeg?x-oss-process=style/w_220" width="196" height="125" alt="恒隆·时光里摩方" >
                        </a>
                        <p>恒隆·时光里摩方</p>
                        <p class="price">
                            均价	                            <span class="fen">5080 元/m²</span>
                        </p>
                    </li>
                    <li>
                        <a href="https://www.jzhfz.com/loupan/261.html" target="_blank">
                            <img src="https://images.jzhfz.com/attachment/build/20210318/c64222df134b064ca0143d9aa8524555dfb944e9.jpeg?x-oss-process=style/w_220" width="196" height="125" alt="玖玺瑞园" >
                        </a>
                        <p>玖玺瑞园</p>
                        <p class="price">
                            <span class="fen">待定 </span>
                        </p>
                    </li>
                    <li>
                        <a href="https://www.jzhfz.com/loupan/260.html" target="_blank">
                            <img src="https://images.jzhfz.com/attachment/build/20210203/979938a4b480d7d57c7e4eba1ff6d4d531f0282c.jpeg?x-oss-process=style/w_220" width="196" height="125" alt="恒丰沙市科技产业园" >
                        </a>
                        <p>恒丰沙市科技产业园</p>
                        <p class="price">
                            <span class="fen">待定 </span>
                        </p>
                    </li>
                    <li>
                        <a href="https://www.jzhfz.com/loupan/259.html" target="_blank">
                            <img src="https://images.jzhfz.com/attachment/build/20210131/9a9ccc70fcdc2f9ea7c48431a13f3a1158e8f2dd.jpeg?x-oss-process=style/w_220" width="196" height="125" alt="中农联荆楚智慧云仓城" >
                        </a>
                        <p>中农联荆楚智慧云仓城</p>
                        <p class="price">
                            <span class="fen">待定 </span>
                        </p>
                    </li>

                </ul>
                <div class="clear"></div>
            </div>

            <div class="part_end">

                <div class="pe_title">
                    <h2 class="pe_titlel">最新资讯推荐</h2>
                </div>
                <dl>
                    <dd>
                        <a href="https://www.jzhfz.com/news/44900.html" target="_blank">
                            荆荆铁路先开段建设加速   预计6月进行箱梁架设</a>
                    </dd>
                    <dd>
                        <a href="https://www.jzhfz.com/news/44899.html" target="_blank">
                            沙市白水还迁房、公共卫生中心等项目施工进度</a>
                    </dd>
                    <dd>
                        <a href="https://www.jzhfz.com/news/44898.html" target="_blank">
                            荆州城市中心的湖居生活 楚天都市·御湖一品即将面世</a>
                    </dd>
                    <dd>
                        <a href="https://www.jzhfz.com/news/44897.html" target="_blank">
                            大商名商强势入驻丨中农联奋力推进荆州农业升级</a>
                    </dd>
                    <dd>
                        <a href="https://www.jzhfz.com/news/44896.html" target="_blank">
                            蝉联百强房企TOP37、特色地产运营TOP1 金辉集团铸就美好生活</a>
                    </dd>
                    <dd>
                        <a href="https://www.jzhfz.com/news/44894.html" target="_blank">
                            精工品质真呈现丨世茂长投云锦兑现红盘硬实力</a>
                    </dd>
                    <dd>
                        <a href="https://www.jzhfz.com/news/44893.html" target="_blank">
                            荆州住建局李未副局长带队到洪湖市走访企业助企纾困、宣讲新规倡导安全</a>
                    </dd>
                    <dd>
                        <a href="https://www.jzhfz.com/news/44892.html" target="_blank">
                            荆州个人拿地项目 10栋住宅！17.67万方！玖玺瑞园来了</a>
                    </dd>
                    <dd>
                        <a href="https://www.jzhfz.com/news/44891.html" target="_blank">
                            北辰天街、百合花园等小区曝光！物业被要求立即整改</a>
                    </dd>
                    <dd>
                        <a href="https://www.jzhfz.com/news/44890.html" target="_blank">
                            荆州人信悦玺 |生活的尊崇感 从一梯一户开始</a>
                    </dd>

                </dl>

                <div class="clear"></div>
                <div class="lh45 fon_14">免责声明：本网站转载内容仅为传递更多信息，并不代表本网站同意其说法或描述，与本网站立场无关。</div>
            </div>
        </div>

    </div>

    <div class="tfynews_listr r">
        <div class="list_rt">
            <img src="https://www.jzhfz.com/static/skin/tfy/img/new_listrt.jpg" alt="约房小蜜看房" width="310" height="66">
        </div>
        <div class="list_rt01" id="signUp">

            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tbody><tr>
                    <td>姓名：</td>
                    <td>
                        <input type="text" class="lrt_srk" name="contact" id="input_name" placeholder="请输入姓名">
                    </td>
                </tr>
                <tr>
                    <td>手机：</td>
                    <td>
                        <input type="text" class="lrt_srk" name="phone" id="input_tel" placeholder="请输入手机号">
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="pt10">
        <span class="l">
            <input type="button" onclick="subSignUp('资讯详情团购报名')" class="an_red" value="立即报名">
        </span>
            </div>
            <br><br><br>
            <div class="clear"></div>
            <p class="lh35 fon_18 pt10">免费看房电话：<span class="yt2016_fen">400-600-0716</span></p>
            <div class="clear"></div>
            <script src="https://www.jzhfz.com/static/skin/tfy/js/sign-up.js?v=20200720"></script>
        </div>
        <div class="clear"></div>
        <div class="clear"></div>
        <div class="list_rt02">
            <div class="xwph_top"><span class="fon_20">资讯排行</span></div>
            <div class="xwph_con">
                <div class="tab-bd">
                    <div class="tab-pal">
                        <ul id="tab-pal_1">
                            <li class="nowrap">
                                <a href="https://www.jzhfz.com/news/44865.html" target="_blank">
                                    <span class="shuz_red">1</span>荆州副市长黄镇督办荆州区水环境整治工作</a>
                            </li>
                            <li class="nowrap">
                                <a href="https://www.jzhfz.com/news/44881.html" target="_blank">
                                    <span class="shuz_red">2</span>保利·公园壹号 | 二期玥园盛大交房 数千业主伴爱归家！</a>
                            </li>
                            <li class="nowrap">
                                <a href="https://www.jzhfz.com/news/44868.html" target="_blank">
                                    <span class="shuz_red">3</span>金辉·楚樾云著 ▎大美云著 把家安在3.5万方园林中</a>
                            </li>
                            <li class="nowrap">
                                <a href="https://www.jzhfz.com/news/44879.html" target="_blank">
                                    <span class="shuz_red">4</span>中房协发布2021中国房地产开发企业500强测评成果 金辉集团排名37名</a>
                            </li>
                            <li class="nowrap">
                                <a href="https://www.jzhfz.com/news/44883.html" target="_blank">
                                    <span class="shuz_red">5</span>荆州区“3.15”权益日宣传纪念活动在竹叶山车世界分会场盛大启动！</a>
                            </li>
                            <li class="nowrap">
                                <a href="https://www.jzhfz.com/news/44895.html" target="_blank">
                                    <span class="shuz_red">6</span>与城市共向上丨世茂三盘联动 悦尚暖春新花漾</a>
                            </li>
                            <li class="nowrap">
                                <a href="https://www.jzhfz.com/news/44877.html" target="_blank">
                                    <span class="shuz_red">7</span>保利堂悦 | 从圈层教育开始 给孩子一个美好未来</a>
                            </li>
                            <li class="nowrap">
                                <a href="https://www.jzhfz.com/news/44896.html" target="_blank">
                                    <span class="shuz_red">8</span>蝉联百强房企TOP37、特色地产运营TOP1 金辉集团铸就美好生活</a>
                            </li>
                            <li class="nowrap">
                                <a href="https://www.jzhfz.com/news/44899.html" target="_blank">
                                    <span class="shuz_red">9</span>沙市白水还迁房、公共卫生中心等项目施工进度</a>
                            </li>
                            <li class="nowrap">
                                <a href="https://www.jzhfz.com/news/44887.html" target="_blank">
                                    <span class="shuz_red">10</span>春启世茂 悦鉴芳华 丨世茂荆州三盘联动 五重好礼约惠暖春</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>

        <div class="list_rt02">
            <div class="xwph_top"><span class="fon_20">热门推荐楼盘</span></div>
            <div class="xwph_con">
                <div class="new16_hotlp">
                    <ul>
                        <li class="w125px l">
                            <a href="https://www.jzhfz.com/loupan/215.html" target="_blank">保利堂悦</a>
                        </li>
                        <li class="w90px l yt2016_fen">中心城区</li>
                        <li class="w75px r">8700元/m²</li>
                    </ul>
                    <ul >
                        <li class="w125px l">
                            <a href="https://www.jzhfz.com/loupan/238.html" target="_blank">交投明珠府</a>
                        </li>
                        <li class="w90px l yt2016_fen">沙北新区</li>
                        <li class="w75px r">8100元/m²</li>
                    </ul>
                    <ul>
                        <li class="w125px l">
                            <a href="https://www.jzhfz.com/loupan/108.html" target="_blank">望江国际</a>
                        </li>
                        <li class="w90px l yt2016_fen">城东片区</li>
                        <li class="w75px r">6350元/m²</li>
                    </ul>
                    <ul >
                        <li class="w125px l">
                            <a href="https://www.jzhfz.com/loupan/221.html" target="_blank">楚天都市壹号院</a>
                        </li>
                        <li class="w90px l yt2016_fen">中心城区</li>
                        <li class="w75px r">8500元/m²</li>
                    </ul>
                    <ul>
                        <li class="w125px l">
                            <a href="https://www.jzhfz.com/loupan/248.html" target="_blank">楚天都市润园</a>
                        </li>
                        <li class="w90px l yt2016_fen">城东片区</li>
                        <li class="w75px r">6500元/m²</li>
                    </ul>
                    <ul>
                        <li class="w125px l">
                            <a href="https://www.jzhfz.com/loupan/79.html" target="_blank">日月星国际华侨城</a>
                        </li>
                        <li class="w90px l yt2016_fen">中心城区</li>
                        <li class="w75px r">8400元/m²</li>
                    </ul>


                </div>

            </div>
        </div>


    </div>

</div>

<span class="clearfix"></span>

<script type="text/javascript">
    $(function() {
        $("#head").load("../publichtml/public_pageHead.html");
        $("#footer").load("../publichtml/pub_footer.html");
        $("#index-login-daohang-dr").load("../publichtml/navigation2.html");
        $("#floatMul").load("../publichtml/floatMune.html");
    })
</script>
</body>
</html>