
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="Content-Language" content="zh-CN">
    <meta property="og:type" content="article" />
    <title>蝉联百强房企TOP37、特色地产运营TOP1 金辉集团铸就美好生活</title>
    <meta property="og:title" content="蝉联百强房企TOP37、特色地产运营TOP1 金辉集团铸就美好生活" />
    <meta content="蝉联,百强房企,TOP37,地产,TOP1,金辉集团" name="Keywords"/>
    <meta name="description" content="2021年3月18日，由中国企业评价协会、清华大学房地产研究所和中国指数研究院联合举办的“2021中国房地产百强企业研究成果发布会”在北京举行。面对复杂的市场环境，金辉集团全年业绩稳健增长，综合实力不断提升，荣登“2021中国特色地产运营优秀企业TOP1”；“2021中国房地产百强企业TOP37”；并获得“2020-2021中国房地产年度扶贫标杆企业”等多项荣誉。"/>
    <meta property="og:description" content="2021年3月18日，由中国企业评价协会、清华大学房地产研究所和中国指数研究院联合举办的“2021中国房地产百强企业研究成果发布会”在北京举行。面对复杂的市场环境，金辉集团全年业绩稳健增长，综合实力不断提升，荣登“2021中国特色地产运营优秀企业TOP1”；“2021中国房地产百强企业TOP37”；并获得“2020-2021中国房地产年度扶贫标杆企业”等多项荣誉。" />
    <meta property="og:site_name" content="荆州好房子网" />
    <meta property="og:image" content="https://images.jzhfz.com/attachment/ue/20210319/f2043fd6b79a9b39ee86499227aa51ee41bc32da.png" />
    <meta property="og:release_date" content="2021-03-19 08:32:32" />
    <meta property="fb:page_id" content="44896" />

    <meta name="mobile-agent" content="format=html5; url=https://www.jzhfz.com/m/pages/news/detail?id=44896">

    <link rel="shortcut icon" type="image/ico" href="https://www.jzhfz.com/favicon.ico">
    <link rel="stylesheet" href="https://www.jzhfz.com/static/skin/tfy/css/tfy-reset.css?20210220" />
    <link rel="stylesheet" href="https://www.jzhfz.com/static/skin/tfy/css/tfy-head.css?20200922" />
    <link rel="stylesheet" href="https://www.jzhfz.com/static/skin/tfy/css/tfy-login.css?20190611" />
    <link rel="stylesheet" href="https://www.jzhfz.com/static/skin/tfy/css/tfy-news.css?20210104" />
    <link rel="stylesheet" href="https://www.jzhfz.com/static/skin/tfy/css/tfy-newspl.css?20190611" />
    <!-- <link rel="stylesheet" href="https://www.jzhfz.com/static/skin/tfy/css/video-js.min.css?20190611" /> -->
    <!-- layui样式导入 -->
    <link rel="stylesheet" href="../layui/css/layui.css" media="all">
    <!--中间的固定定位-->
    <link rel="stylesheet" type="text/css" href="../../css/floatmuen.css"/>
    <!-- 头部样式导入 -->
    <link rel="stylesheet" type="text/css" href="../../css/pub_head.css" />
    <!-- 尾部样式导入 -->
    <link rel="stylesheet" type="text/css" href="../../css/pub_footer.css" />
    <!-- jquery JS导入 -->
    <script src="../../js/jquery-1.12.4.js"></script>
    <!-- 导航栏css导入 -->
    <link  rel="stylesheet" href="../../css/navigation.css" />
</head>
<body>
<ul id="floatMul"></ul>
<div id="head"></div><!-- 头部导入 -->
<div id="index-login-daohang-dr"></div><!-- 导入导航栏的代码 -->


<div class="crumbs juzhong">您的位置：<a href="/">荆州好房子网</a> &gt; <a href="/news/">资讯频道</a> &gt; 资讯详情</div>
<div class="w1200px mar0 pt10">
    <div class="tfynews_list">
        <div class="l new_detail">
            <div class="hauto">
                <h1>蝉联百强房企TOP37、特色地产运营TOP1 金辉集团铸就美好生活</h1>
                <div class="fon_14 h_alter01">
                    <div class="l yt2016_hui">
                        <div class="l">2021-03-19 08:32:32&nbsp;&nbsp;&nbsp;&nbsp;<span>荆州好房子网</span>
                            <!--                            &nbsp;&nbsp;&nbsp;&nbsp;评论：<span-->
                            <!--                                class="fen">0</span>-->
                            &nbsp;&nbsp;&nbsp;&nbsp;<span>本地楼市</span>&nbsp;&nbsp;&nbsp;&nbsp;
                            来源：<span class="fen">荆州好房子网</span>
                        </div>
                    </div>
                    <div class="share">
                        <i class="wx-icon"></i>
                        <span>发送到微信</span>
                        <div>
                            <p class="share-text">微信扫一扫</p>
                        </div>
                    </div>
                    <div class="share">
                        <i class="qr-icon"></i>
                        <span>发送到手机</span>
                        <div id="current-site-qr">
                            <div class="share-qr-big animation"><img src="https://images.jzhfz.com/wechat/qrcode/20210319/e10d27c2fb40465252268c0bf5612ac811d991c0.png?x-oss-process=style/w_150" width="150" height="150"></div>
                            <p class="share-text">扫描二维码推荐给朋友</p>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="new_con">

                <p style="text-indent: 2em;">2021年3月18日，由中国企业评价协会、清华大学房地产研究所和中国指数研究院联合举办的“2021中国房地产百强企业研究成果发布会”在北京举行。面对复杂的市场环境，金辉集团全年业绩稳健增长，综合实力不断提升，荣登“2021中国特色地产运营优秀企业TOP1”；“2021中国房地产百强企业TOP37”；并获得“2020-2021中国房地产年度扶贫标杆企业”等多项荣誉。</p>
                <p style="text-align: center; text-indent: 0em;"><img src="https://images.jzhfz.com/attachment/ue/20210319/cdc06d4418d1a3b756fca32f3424b663c002d9b2.png?x-oss-process=style/w_800" title="" alt=""></p>
                <p style="text-align: center; text-indent: 0em;"><img src="https://images.jzhfz.com/attachment/ue/20210319/193797b52651372b56718cf00fdd1443d77139cd.png?x-oss-process=style/w_800" title="" alt=""></p>
                <p style="text-align: center; text-indent: 0em;"><img src="https://images.jzhfz.com/attachment/ue/20210319/43a3816a386c0d78e50c8af4bef3281fdf312d04.png?x-oss-process=style/w_800" title="" alt=""></p>
                <p style="text-align: center; text-indent: 0em;">图：金辉集团荣誉证书</p>
                <p style="text-indent: 2em;">金辉集团成立于1996年，是集房地产开发、物业租赁为主营业务的大型集团型企业，拥有国家一级房地产开发资质。秉持“全国布局、区域聚焦、城市领先”的发展战略，已进驻北京、上海、重庆、杭州、福州、西安等33个高增长型城市和地区，开发项目百余个。2020年，金辉成功登陆港交所，股票代码9993.HK，开启发展新纪元。</p>
                <p style="text-indent: 2em;"><strong>城市深耕效果显著，全国版图持续扩张</strong></p>
                <p style="text-indent: 2em;">金辉集团近些年的稳健发展，主要得益于审慎的土地策略及前瞻性布局。秉持发展战略，重点关注人口基数庞大，人口持续流入且供求关系合理的二线及核心三线城市，把握机遇扩大版图，完成了华南、西南、西北、华中、长三角、环渤海6大区域的战略布局。</p>
                <p style="text-align: center; text-indent: 0em;"><img src="https://images.jzhfz.com/attachment/ue/20210319/15b3b40a4c82ac3297f9e132bab79da4f839b3a8.png?x-oss-process=style/w_800" title="" alt=""></p>
                <p style="text-align: center; text-indent: 0em;">图：金辉全国区域布局</p>
                <p style="text-indent: 2em;">在土地储备方面，金辉集团积极跟进国家及地方的各项调控政策，顺应市场形式，根据城市经济、人口、文化、房地产竞争情况等特点进行精细化分析甄选，匹配土地储备规模和结构，巩固区域市场份额。2020年，金辉斩获重庆、合肥、宁波、绍兴等15个城市39宗优质地块，土地储备总建筑面积达3000逾万平，充足而优质的土地储备为金辉未来的可持续增长提供了坚实基础。</p>
                <p style="text-indent: 2em;"><strong>发展城市综合运营实力，多元化产业共生长</strong></p>
                <p style="text-indent: 2em;">从房地产品牌到商业品牌，从匠心筑家到臻心服务，金辉已从单一走向多元并进，核心竞争力和影响力显著提升。</p>
                <p style="text-indent: 2em;">早在发展之初金辉就关注商业地产的布局与开发，努力为更多家庭提供完整成熟的生活配套与时尚便捷的生活方式。金辉商业自成立以来，以“建造一座新的生活之城”为开发理念，采用“产住商一体化”的开发模式，打造购物中心+高端写字楼+公寓+品牌酒店+住宅大社区为一体的“金辉城市综合体”格局，构建具有金辉特色的“城市区域商圈+工作社交+生活休闲+社区配套”的三十分钟生活圈。</p>
                <p style="text-indent: 2em;">2013年开业的重庆南岸金辉广场、2017年开业的重庆首个滨江商业综合体金辉铜元道、2018年开业的西安环球金辉广场、2019年开业的苏州浅湾金辉里以及2021年即将在北京亮相的商业办公园区——金辉时八区，无一不体现了金辉集团在商业战略上的卓越眼光，而位于北京第二CBD核心区域的望京金辉大厦，更以拥有丰富的商业配套和完善的商业运营模式著称，吸引了以阿里巴巴为代表的诸多顶级企业入驻。</p>
                <p style="text-align: center; text-indent: 0em;"><img src="https://images.jzhfz.com/attachment/ue/20210319/b65900f262ac048ad250bc696cca5284530e9b97.png?x-oss-process=style/w_800" title="" alt=""></p>
                <p style="text-align: center; text-indent: 0em;">图：金辉集团商业代表项目图</p>
                <p style="text-indent: 2em;">未来，金辉商业还将持续加大持有型物业的投入，发力主题特色商业，打造创新性和地标性产品，聚焦中青年人群、儿童和家庭型消费者，为城市提供完整成熟的生活配套与时尚潮流的生活方式。</p>
                <p style="text-indent: 2em;"><strong>不断升级社区服务力，传递幸福与爱</strong></p>
                <p style="text-indent: 2em;">做为城市综合运营开发商，金辉集团重视服务品质的不断提升。秉承“客户第一”的价值观，建立看房、签约、等待、交付、居住全生命周期的“金辉幸福家”客户服务体系，并有效延伸智能化服务链，通过开展系列人性化活动，收获客户信任与行业认可。</p>
                <p style="text-indent: 2em;">在金辉，“睦邻节”已成为业主期待的年度社区体验。通过“业主晚会”、“亲子嘉年华”、“暖光夜市”等系列活动，为业主提供全龄社区互动，进一步增进邻里感情，让业主充分享受暖心的社区生活。考虑到疫情对健康观影和地摊经济的需求，在2020年的社区活动中新增了“星空电影节”，并升级“暖光夜市”，受到各地业主的一致好评。</p>
                <p style="text-align: center; text-indent: 0em;"><img src="https://images.jzhfz.com/attachment/ue/20210319/f2043fd6b79a9b39ee86499227aa51ee41bc32da.png?x-oss-process=style/w_800" title="" alt=""></p>
                <p style="text-align: center; text-indent: 0em;">图：部分社区活动精彩集锦</p>
                <p style="text-indent: 2em;">为了让老社区的业主能够感受到社区“常住常新”的惊喜感，每年金辉集团将销售额的固定比例作为老社区焕新改造的专项费用。围绕客户高敏感点、高触点维度，凭借用心的体察力、敏锐的决断力和成熟的服务力，针对已交付项目中设施设备老化及功能性需求，投入专项费用进行焕新改造，致力于提升业主的高品质生活享受。</p>
                <p style="text-indent: 2em;">金辉“焕新计划”共覆盖50个社区，完成500多项改造项目，累计惠及约195007户业主。通过大量的业主访问和细心观察，从便捷性、美观性、舒适性三大需求出发，包括更换运动器械、更换草皮、增加休息椅、增设路灯等，以贴心服务满足业主对美好生活的追求。</p>
                <p style="text-align: center; text-indent: 0em;"><img src="https://images.jzhfz.com/attachment/ue/20210319/3c75341e80f91b7f65ae689a53d07403063cb76b.png?x-oss-process=style/w_800" title="" alt=""></p>
                <p style="text-align: center; text-indent: 0em;">图：“人工+智能监控”双重把关</p>
                <p style="text-indent: 2em;">近年来金辉持续深化智慧服务布局，赋能智慧生态社区。物业端通过”CRM系统+RBA系统+365服务平合+智慧停车平台”四大体系，为40余万业主提供便捷的辉式智慧生活。凭借完整的、标准化的CRM服务管理系统，联动PC端与物业员工APP两大终端，真正实现全终端、全场景的智慧社区线上管理，提升服务效率的同时，极大地方便业主生活所需。</p>
                <p style="text-indent: 2em;"><strong>高效运营管理模式，助力企业健康发展</strong></p>
                <p style="text-indent: 2em;">在房地产行业逐步迈入精耕细作的今天，组织效能也正成为企业关注的重点。金辉多次蝉联“地产开发企业最佳雇主”称号，显示出企业对于组织管理的重视。</p>
                <p style="text-indent: 2em;">为激发组织活力，形成完备的人才培养体系，金辉以“精布局、强人才、高成长”铸就了优秀组织力表现。在头部人才梯队高级管理者的精准识别与任用方面，金辉形成了一个干部评价的“Raise"模型，涵盖了业绩结果（R）、能力潜质（S）、动机能量（I）、经验背景（E）、文化匹配度（A），为干部搭建了综合管理、条线管理双通道发展，也是金辉特有的干部发展“剪刀梯”双通道模型。多管齐下人才建设举措，满足了企业发展中的组织架构和人才需求。</p>
                <p style="text-align: center; text-indent: 0em;"><img src="https://images.jzhfz.com/attachment/ue/20210319/7937ce04a67bfd0c0ddee02ec40f3fd0f552255e.png?x-oss-process=style/w_800" title="" alt=""></p>
                <p style="text-align: center; text-indent: 0em;">图：完善的人才管理体系</p>
                <p style="text-indent: 2em;">2020年的金辉，乘风破浪、披荆斩棘，凭借高品质的产品与精准的战略布局实现了业绩的稳步提升，顺利完成资本化进程。未来的金辉，将在全维度持续发力，秉持“用心建好房，让家更美好”的企业使命，继续以卓越人居产品，赋能城市，铸就美好生活。</p>
                <p><br></p>
            </div>
            <div class="clear"></div>
            <div class="loupan-info cf">
                <div class="lp-img">
                    <a target="_blank" href="https://www.jzhfz.com/loupan/227.html">
                        <img src="https://images.jzhfz.com/old/2019/0305/15517474608581458577.jpg?x-oss-process=style/w_220" width="200" height="150">
                    </a>
                </div>
                <div class="lp-pic-txt">
                    <div class="top cf">
                        <h3>
                            <a target="_blank" href="https://www.jzhfz.com/loupan/227.html">
                                金辉楚樾云著                            </a>
                        </h3>
                        <span class="on-sale">高层</span>
                        <p class="price">
                            <span class="jj">均价：</span>
                            <span><em class="num">8200</em>元/m²</span>
                        </p>
                    </div>
                    </p>





                    <!---->
                    <!--<p><label>售楼电话：</label><span>-->

                    <!---->
                    <!--400-600-0716<em> 转 </em>520-->
                    <!-- -->
                    <!---->
                    <!--     </span></p>-->
                    <p><label>楼盘位置：</label><span>沙北新区</span>
                        <a target="_blank" href="https://www.jzhfz.com/loupan/ditu-227.html" class="lp-map statis-log">查看地图</a></p>
                    <p><label>开盘时间：</label>2019年4月                     <p class="statis-log">
                    <label>主力户型：</label>
                    <span class="ju1 ">
                                        <a href="https://www.jzhfz.com/loupan/huxing-227.html" target="_blank">3居(106m²)</a>
                                </span>
                    <span class="ju1 ">
                                        <a href="https://www.jzhfz.com/loupan/huxing-227.html" target="_blank">3居(106m²)</a>
                                </span>
                    <span class="ju1 ">
                                        <a href="https://www.jzhfz.com/loupan/huxing-227.html" target="_blank">3居(119m²)</a>
                                </span>
                    <a href="https://www.jzhfz.com/loupan/huxing-227.html" target="_blank" class="ckhx ">查看全部户型</a>
                </p>
                    <p>
                        <span class="tag">
                            <a target="_blank" href="https://www.jzhfz.com/loupan/xinxi-227.html">详情</a>
                        </span>
                        <span class="tag">
                            <a target="_blank" href="https://www.jzhfz.com/loupan/tupian-227.html">图片</a>
                        </span>
                        <span class="tag">
                            <a target="_blank" href="https://www.jzhfz.com/loupan/227.html">团购</a>
                        </span>
                        <span class="tag">
                            <a target="_blank" href="https://www.jzhfz.com/loupan/news-227.html">动态</a>
                        </span>
                        <span class="tag">
                            <a target="_blank" href="https://www.jzhfz.com/loupan/dianping-227.html">点评</a>
                        </span>
                    </p>
                </div>
            </div>
            <div class="clear"></div>


            <div class="det_bmb" style="margin-top:40px" id="sub">
                <div class="bmb_titlt"><span class="fen">意向报名</span></div>
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                    <tr>
                        <td>姓名：<input type="text" class="lrt_srk" name="contact" id="input_name1" placeholder="请输入姓名"></td>
                        <td>手机号：<input type="text" class="lrt_srk" name="phone" id="input_tel1" placeholder="请输入手机号"> <span class="fen">*必填</span></td>
                        <td>来自：<input type="text" class="lrt_srk" name="address" placeholder="现住址？"></td>
                        <input type="hidden" name="cid" value="">
                        <td><input type="button" class="an_red" value="提交报名" onclick="subSignUp('资讯详情团购报名',227,'#sub')"></td>
                    </tr>
                    </tbody>
                </table>
            </div>





            <div class="module-news-qrcode">
                <h2 class="news-qrcode-title">欢迎关注更多</h2>
                <div class="news-qrcode-container">
                    <div class="news-qrcode-slide" style="width:868px">
                        <div class="news-qrcode-unit" style="border-left: 0">
                            <div class="unit-title">荆州好房子网业主微信群</div>
                            <div class="unit-qrcode">
                                <img src="https://images.jzhfz.com/wechat/qrcode/20200527/c236f298783d8b23a6e8bab5640a1e3d995bb2d4.png?x-oss-process=style/w_150">

                            </div>
                            <div class="unit-text">找邻居，聊家装，拉家常</div>
                        </div>

                        <div class="news-qrcode-unit">
                            <div class="unit-title">微信公众号</div>
                            <div class="unit-qrcode">
                                <img src="https://images.jzhfz.com/attachment/config/20200523/69530a8ff409c6d0989e2fee88f722e699c48fd3.jpeg?x-oss-process=style/w_150" alt="微信公众号">
                            </div>
                            <div class="unit-text">荆州好房子网微信端,一键授权登录</div>
                        </div>
                        <div class="news-qrcode-unit">
                            <div class="unit-title">微信小程序</div>
                            <div class="unit-qrcode">
                                <img src="https://images.jzhfz.com/attachment/config/20200527/be8ca852590b3a5d5a76148195efb6f73f0bcd60.jpeg?x-oss-process=style/w_150" alt="微信小程序">

                            </div>
                            <div class="unit-text">微信淘房源，极速跨屏浏览！</div>
                        </div>
                    </div>
                </div>
            </div>




            <div class="clear"></div>

            <div class="part_end">
                <div class="pe_title">
                    <h2 class="pe_titlel l">最新楼盘</h2>
                    <span class="pe_titler r yt2016_hui">|
                        <a href="https://www.jzhfz.com/loupan/" target="_blank">更多楼盘</a></span>
                </div>
                <ul>
                    <li>
                        <a href="https://www.jzhfz.com/loupan/262.html" target="_blank">
                            <img src="https://images.jzhfz.com/attachment/build/20210318/c675e2e7f652ae8ccfc568c62110bc315d1e8b9a.jpeg?x-oss-process=style/w_220" width="196" height="125" alt="恒隆·时光里摩方" >
                        </a>
                        <p>恒隆·时光里摩方</p>
                        <p class="price">
                            均价	                            <span class="fen">5080 元/m²</span>
                        </p>
                    </li>
                    <li>
                        <a href="https://www.jzhfz.com/loupan/261.html" target="_blank">
                            <img src="https://images.jzhfz.com/attachment/build/20210318/c64222df134b064ca0143d9aa8524555dfb944e9.jpeg?x-oss-process=style/w_220" width="196" height="125" alt="玖玺瑞园" >
                        </a>
                        <p>玖玺瑞园</p>
                        <p class="price">
                            <span class="fen">待定 </span>
                        </p>
                    </li>
                    <li>
                        <a href="https://www.jzhfz.com/loupan/260.html" target="_blank">
                            <img src="https://images.jzhfz.com/attachment/build/20210203/979938a4b480d7d57c7e4eba1ff6d4d531f0282c.jpeg?x-oss-process=style/w_220" width="196" height="125" alt="恒丰沙市科技产业园" >
                        </a>
                        <p>恒丰沙市科技产业园</p>
                        <p class="price">
                            <span class="fen">待定 </span>
                        </p>
                    </li>
                    <li>
                        <a href="https://www.jzhfz.com/loupan/259.html" target="_blank">
                            <img src="https://images.jzhfz.com/attachment/build/20210131/9a9ccc70fcdc2f9ea7c48431a13f3a1158e8f2dd.jpeg?x-oss-process=style/w_220" width="196" height="125" alt="中农联荆楚智慧云仓城" >
                        </a>
                        <p>中农联荆楚智慧云仓城</p>
                        <p class="price">
                            <span class="fen">待定 </span>
                        </p>
                    </li>

                </ul>
                <div class="clear"></div>
            </div>

            <div class="part_end">

                <div class="pe_title">
                    <h2 class="pe_titlel">最新资讯推荐</h2>
                </div>
                <dl>
                    <dd>
                        <a href="https://www.jzhfz.com/news/44900.html" target="_blank">
                            荆荆铁路先开段建设加速   预计6月进行箱梁架设</a>
                    </dd>
                    <dd>
                        <a href="https://www.jzhfz.com/news/44899.html" target="_blank">
                            沙市白水还迁房、公共卫生中心等项目施工进度</a>
                    </dd>
                    <dd>
                        <a href="https://www.jzhfz.com/news/44898.html" target="_blank">
                            荆州城市中心的湖居生活 楚天都市·御湖一品即将面世</a>
                    </dd>
                    <dd>
                        <a href="https://www.jzhfz.com/news/44897.html" target="_blank">
                            大商名商强势入驻丨中农联奋力推进荆州农业升级</a>
                    </dd>
                    <dd>
                        <a href="https://www.jzhfz.com/news/44895.html" target="_blank">
                            与城市共向上丨世茂三盘联动 悦尚暖春新花漾</a>
                    </dd>
                    <dd>
                        <a href="https://www.jzhfz.com/news/44894.html" target="_blank">
                            精工品质真呈现丨世茂长投云锦兑现红盘硬实力</a>
                    </dd>
                    <dd>
                        <a href="https://www.jzhfz.com/news/44893.html" target="_blank">
                            荆州住建局李未副局长带队到洪湖市走访企业助企纾困、宣讲新规倡导安全</a>
                    </dd>
                    <dd>
                        <a href="https://www.jzhfz.com/news/44892.html" target="_blank">
                            荆州个人拿地项目 10栋住宅！17.67万方！玖玺瑞园来了</a>
                    </dd>
                    <dd>
                        <a href="https://www.jzhfz.com/news/44891.html" target="_blank">
                            北辰天街、百合花园等小区曝光！物业被要求立即整改</a>
                    </dd>
                    <dd>
                        <a href="https://www.jzhfz.com/news/44890.html" target="_blank">
                            荆州人信悦玺 |生活的尊崇感 从一梯一户开始</a>
                    </dd>

                </dl>

                <div class="clear"></div>
                <div class="lh45 fon_14">免责声明：本网站转载内容仅为传递更多信息，并不代表本网站同意其说法或描述，与本网站立场无关。</div>
            </div>
        </div>

    </div>

    <div class="tfynews_listr r">
        <div class="list_rt">
            <img src="https://www.jzhfz.com/static/skin/tfy/img/new_listrt.jpg" alt="约房小蜜看房" width="310" height="66">
        </div>
        <div class="list_rt01" id="signUp">

            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tbody><tr>
                    <td>姓名：</td>
                    <td>
                        <input type="text" class="lrt_srk" name="contact" id="input_name" placeholder="请输入姓名">
                    </td>
                </tr>
                <tr>
                    <td>手机：</td>
                    <td>
                        <input type="text" class="lrt_srk" name="phone" id="input_tel" placeholder="请输入手机号">
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="pt10">
        <span class="l">
            <input type="button" onclick="subSignUp('资讯详情团购报名')" class="an_red" value="立即报名">
        </span>
            </div>
            <br><br><br>
            <div class="clear"></div>
            <p class="lh35 fon_18 pt10">免费看房电话：<span class="yt2016_fen">400-600-0716</span></p>
            <div class="clear"></div>
            <script src="https://www.jzhfz.com/static/skin/tfy/js/sign-up.js?v=20200720"></script>
        </div>
        <div class="clear"></div>
        <div class="clear"></div>
        <div class="list_rt02">
            <div class="xwph_top"><span class="fon_20">资讯排行</span></div>
            <div class="xwph_con">
                <div class="tab-bd">
                    <div class="tab-pal">
                        <ul id="tab-pal_1">
                            <li class="nowrap">
                                <a href="https://www.jzhfz.com/news/44865.html" target="_blank">
                                    <span class="shuz_red">1</span>荆州副市长黄镇督办荆州区水环境整治工作</a>
                            </li>
                            <li class="nowrap">
                                <a href="https://www.jzhfz.com/news/44881.html" target="_blank">
                                    <span class="shuz_red">2</span>保利·公园壹号 | 二期玥园盛大交房 数千业主伴爱归家！</a>
                            </li>
                            <li class="nowrap">
                                <a href="https://www.jzhfz.com/news/44868.html" target="_blank">
                                    <span class="shuz_red">3</span>金辉·楚樾云著 ▎大美云著 把家安在3.5万方园林中</a>
                            </li>
                            <li class="nowrap">
                                <a href="https://www.jzhfz.com/news/44879.html" target="_blank">
                                    <span class="shuz_red">4</span>中房协发布2021中国房地产开发企业500强测评成果 金辉集团排名37名</a>
                            </li>
                            <li class="nowrap">
                                <a href="https://www.jzhfz.com/news/44883.html" target="_blank">
                                    <span class="shuz_red">5</span>荆州区“3.15”权益日宣传纪念活动在竹叶山车世界分会场盛大启动！</a>
                            </li>
                            <li class="nowrap">
                                <a href="https://www.jzhfz.com/news/44895.html" target="_blank">
                                    <span class="shuz_red">6</span>与城市共向上丨世茂三盘联动 悦尚暖春新花漾</a>
                            </li>
                            <li class="nowrap">
                                <a href="https://www.jzhfz.com/news/44877.html" target="_blank">
                                    <span class="shuz_red">7</span>保利堂悦 | 从圈层教育开始 给孩子一个美好未来</a>
                            </li>
                            <li class="nowrap">
                                <a href="https://www.jzhfz.com/news/44896.html" target="_blank">
                                    <span class="shuz_red">8</span>蝉联百强房企TOP37、特色地产运营TOP1 金辉集团铸就美好生活</a>
                            </li>
                            <li class="nowrap">
                                <a href="https://www.jzhfz.com/news/44899.html" target="_blank">
                                    <span class="shuz_red">9</span>沙市白水还迁房、公共卫生中心等项目施工进度</a>
                            </li>
                            <li class="nowrap">
                                <a href="https://www.jzhfz.com/news/44887.html" target="_blank">
                                    <span class="shuz_red">10</span>春启世茂 悦鉴芳华 丨世茂荆州三盘联动 五重好礼约惠暖春</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>

        <div class="list_rt02">
            <div class="xwph_top"><span class="fon_20">热门推荐楼盘</span></div>
            <div class="xwph_con">
                <div class="new16_hotlp">
                    <ul>
                        <li class="w125px l">
                            <a href="https://www.jzhfz.com/loupan/215.html" target="_blank">保利堂悦</a>
                        </li>
                        <li class="w90px l yt2016_fen">中心城区</li>
                        <li class="w75px r">8700元/m²</li>
                    </ul>
                    <ul>
                        <li class="w125px l">
                            <a href="https://www.jzhfz.com/loupan/238.html" target="_blank">交投明珠府</a>
                        </li>
                        <li class="w90px l yt2016_fen">沙北新区</li>
                        <li class="w75px r">8100元/m²</li>
                    </ul>
                    <ul>
                        <li class="w125px l">
                            <a href="https://www.jzhfz.com/loupan/108.html" target="_blank">望江国际</a>
                        </li>
                        <li class="w90px l yt2016_fen">城东片区</li>
                        <li class="w75px r">6350元/m²</li>
                    </ul>
                    <ul>
                        <li class="w125px l">
                            <a href="https://www.jzhfz.com/loupan/221.html" target="_blank">楚天都市壹号院</a>
                        </li>
                        <li class="w90px l yt2016_fen">中心城区</li>
                        <li class="w75px r">8500元/m²</li>
                    </ul>
                    <ul>
                        <li class="w125px l">
                            <a href="https://www.jzhfz.com/loupan/248.html" target="_blank">楚天都市润园</a>
                        </li>
                        <li class="w90px l yt2016_fen">城东片区</li>
                        <li class="w75px r">6500元/m²</li>
                    </ul>
                    <ul >
                        <li class="w125px l">
                            <a href="https://www.jzhfz.com/loupan/79.html" target="_blank">日月星国际华侨城</a>
                        </li>
                        <li class="w90px l yt2016_fen">中心城区</li>
                        <li class="w75px r">8400元/m²</li>
                    </ul>


                </div>

            </div>
        </div>


    </div>

</div>

<span class="clearfix"></span>
<script type="text/javascript">
    $(function() {
        $("#head").load("../publichtml/public_pageHead.html");
        $("#footer").load("../publichtml/pub_footer.html");
        $("#index-login-daohang-dr").load("../publichtml/navigation2.html");
        $("#floatMul").load("../publichtml/floatMune.html");
    })
</script>
</body>
</html>