
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="Content-Language" content="zh-CN">
    <meta property="og:type" content="article" />
    <title>沙市白水还迁房、公共卫生中心等项目施工进度</title>
    <meta property="og:title" content="沙市白水还迁房、公共卫生中心等项目施工进度" />
    <meta content="沙市,白水还迁房,公共卫生中心,施工进度" name="Keywords"/>
    <meta name="description" content="白水还建房项目位于关沮镇白水村，规划建设用地面积11.83万㎡，建设套数2976套，分两期进行建设。项目已于2021年2月22日全面复工，截止3月15日，生活区临时设施基础，临水临电已送达,现阶段已开始基础桩施工，已完成654根桩。"/>
    <meta property="og:description" content="白水还建房项目位于关沮镇白水村，规划建设用地面积11.83万㎡，建设套数2976套，分两期进行建设。项目已于2021年2月22日全面复工，截止3月15日，生活区临时设施基础，临水临电已送达,现阶段已开始基础桩施工，已完成654根桩。" />
    <meta property="og:site_name" content="荆州好房子网" />
    <meta property="og:image" content="https://images.jzhfz.com/attachment/ue/20210319/2b9eec2c9903c79edd73d1fb6bdc23d92bb88072.gif" />
    <meta property="og:release_date" content="2021-03-19 08:50:20" />
    <meta property="fb:page_id" content="44899" />

    <meta name="mobile-agent" content="format=html5; url=https://www.jzhfz.com/m/pages/news/detail?id=44899">

    <link rel="shortcut icon" type="image/ico" href="https://www.jzhfz.com/favicon.ico">
    <link rel="stylesheet" href="https://www.jzhfz.com/static/skin/tfy/css/tfy-reset.css?20210220" />
    <link rel="stylesheet" href="https://www.jzhfz.com/static/skin/tfy/css/tfy-head.css?20200922" />
    <link rel="stylesheet" href="https://www.jzhfz.com/static/skin/tfy/css/tfy-login.css?20190611" />
    <link rel="stylesheet" href="https://www.jzhfz.com/static/skin/tfy/css/tfy-news.css?20210104" />
    <link rel="stylesheet" href="https://www.jzhfz.com/static/skin/tfy/css/tfy-newspl.css?20190611" />
    <!-- <link rel="stylesheet" href="https://www.jzhfz.com/static/skin/tfy/css/video-js.min.css?20190611" /> -->
    <!-- layui样式导入 -->
    <link rel="stylesheet" href="../layui/css/layui.css" media="all">
    <!--中间的固定定位-->
    <link rel="stylesheet" type="text/css" href="../../css/floatmuen.css"/>
    <!-- 头部样式导入 -->
    <link rel="stylesheet" type="text/css" href="../../css/pub_head.css" />
    <!-- 尾部样式导入 -->
    <link rel="stylesheet" type="text/css" href="../../css/pub_footer.css" />
    <!-- jquery JS导入 -->
    <script src="../../js/jquery-1.12.4.js"></script>
    <!-- 导航栏css导入 -->
    <link  rel="stylesheet" href="../../css/navigation.css" />
</head>
<body>
<ul id="floatMul"></ul>
<div id="head"></div><!-- 头部导入 -->
<div id="index-login-daohang-dr"></div><!-- 导入导航栏的代码 -->


<div class="crumbs juzhong">您的位置：<a href="/">荆州好房子网</a> &gt; <a href="/news/">资讯频道</a> &gt; 资讯详情</div>
<div class="w1200px mar0 pt10">
    <div class="tfynews_list">
        <div class="l new_detail">
            <div class="hauto">
                <h1>沙市白水还迁房、公共卫生中心等项目施工进度</h1>
                <div class="fon_14 h_alter01">
                    <div class="l yt2016_hui">
                        <div class="l">2021-03-19 08:50:20&nbsp;&nbsp;&nbsp;&nbsp;<span>荆州好房子网</span>
                            <!--                            &nbsp;&nbsp;&nbsp;&nbsp;评论：<span-->
                            <!--                                class="fen">0</span>-->
                            &nbsp;&nbsp;&nbsp;&nbsp;<span>本地楼市</span>&nbsp;&nbsp;&nbsp;&nbsp;
                            来源：<span class="fen">荆州好房子网</span>
                        </div>
                    </div>
                    <div class="share">
                        <i class="wx-icon"></i>
                        <span>发送到微信</span>
                        <div>
                            <p class="share-text">微信扫一扫</p>
                        </div>
                    </div>
                    <div class="share">
                        <i class="qr-icon"></i>
                        <span>发送到手机</span>
                        <div>
                            <p class="share-text">扫描二维码推荐给朋友</p>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="new_con">

                <p style="text-align: left; text-indent: 2em;">一、白水还迁房（一期）建设项目</p>
                <p style="text-align: left; text-indent: 2em;">白水还建房项目位于关沮镇白水村，规划建设用地面积11.83万㎡，建设套数2976套，分两期进行建设。项目已于2021年2月22日全面复工，截止3月15日，生活区临时设施基础，临水临电已送达,现阶段已开始基础桩施工，已完成654根桩。</p>
                <p style="text-align: center;"><img src="https://images.jzhfz.com/attachment/ue/20210319/7068b755bca73cf05aeb66c31395dc8db5350e95.gif?x-oss-process=style/w_8001" alt="图片"></p>
                <p style="text-align: left; text-indent: 2em;">二、关沮路（塔桥北路-天谷大道）建设项目</p>
                <p style="text-align: left; text-indent: 2em;">该项目全长991.4米，宽40/45米，其中塔桥北路至复兴大道红线宽40米。项目已于2021年2月20日全面复工，截止3月15日已完工程量占总工程量的85.5%。</p>
                <p style="text-align: center;"><img src="https://images.jzhfz.com/attachment/ue/20210319/2b9eec2c9903c79edd73d1fb6bdc23d92bb88072.gif?x-oss-process=style/w_8001" alt="图片"></p>
                <p></p>
                <p></p>
                <p style="text-align: left; text-indent: 2em;">三、岳中路（首辅路-河滨路）</p>
                <p></p>
                <p></p>
                <p style="text-align: left; text-indent: 2em;">该项目全长260.3米、宽15米。截止3月15日已完成箱涵全长253.2米的主体工程,箱涵工程已完100%。道路管网工程已完成雨污管道460m,道路路床整形完成260米，完成场地土方外运3400立方米、箱涵回填土1200立方米。目前已完工程量不含增加工程量，约为总量的85%。 </p>
                <p style="text-align: center;"><img src="https://images.jzhfz.com/attachment/ue/20210319/2abacb1eb3adad84ea54662d32204591a2179ae9.gif?x-oss-process=style/w_8001" alt="图片"></p>
                <p></p>
                <p style="text-align: left; text-indent: 2em;">四、岳中路（江津路-首辅路）</p>
                <p style="text-align: left; text-indent: 2em;">岳中路（首辅路-江津路）升级改造工程,该项目全长467.4米、红线宽度15米。截止3月15日，（张居正小学大门南侧至江津路段）红线范围内围墙拆除完成；路灯电线已迁移完成，弱电正在迁移中；旧砼路面破除并清理外运完成；张居正小学至江津路树木已迁移砍伐完成。</p>
                <p style="text-align: center;"><img src="https://images.jzhfz.com/attachment/ue/20210319/70d2c5c926fc6d6e3184e39fcf2678b0c51ac02f.png?x-oss-process=style/w_800" alt="图片"></p>
                <p></p>
                <p style="text-align: left; text-indent: 2em;">五、关沮路（天谷大道-红门路）道路及排水工程</p>
                <p style="text-align: left; text-indent: 2em;">  目前，雨污水主管网、主车道路基填筑、级配碎石垫层、水稳层、第一层沥青层施工已完成，正在进行电力通信管道、非机动车道填筑，预计五月份建成通车。</p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p style="text-align: center;"><img src="https://images.jzhfz.com/attachment/ue/20210319/e967cbef93f600ea411699824e02eb3b846cbbda.gif?x-oss-process=style/w_8001" alt="图片"></p>
                <p style="text-align: left; text-indent: 2em;">六、红门路（地方铁路-318国道）道路及地下综合管网工程</p>
                <p style="text-align: left; text-indent: 2em;">排水管网建设情况：道路东侧污水管、压力污水管已全部完成，雨水管网完成约900米；管廊建设情况：完成约60米试验段管廊主体结构、防水、保温及回填工作，正在进行管廊支护桩、地基加固、基坑开挖施工；污水泵站建设情况：电房、泵站主体结构、装饰、电气设备已完成，目前正在正常运行。</p>
                <p style="text-align: center;"><img src="https://images.jzhfz.com/attachment/ue/20210319/d592061f95750044858d0b32894359e1b3b2a48c.gif?x-oss-process=style/w_8001" alt="图片"></p>
                <p></p>
                <p style="text-align: left; text-indent: 2em;">七、<a href="https://www.jzhfz.com" title="荆州" target="_blank">荆州</a>市一医公共卫生中心、疾控中心周边市政道路工程</p>
                <p style="text-align: left; text-indent: 2em;">一是田湖路污水管道基本完成，雨水完成约50%，电力通信管道完成约80%；二是太白湖路污水管道基本完成，雨水管道完成约80%；三是青藜路雨水管道完成约30%，污水管道完成70%；四是勤业街雨污水管道基本完成；五是田湖路、宏图路污水管网工程基本完成。</p>
                <p style="text-align: center;"><img src="https://images.jzhfz.com/attachment/ue/20210319/9e222796917063a4e7ed4933353b73466ee0e50a.gif?x-oss-process=style/w_8001" alt="图片"></p>
                <p></p>
                <p></p>
                <p style="text-align: left; text-indent: 2em;">八、柳林洲长江岸线生态修复工程</p>
                <p style="text-align: left; text-indent: 2em;">  紫荆路南侧渔塘淸、挖、转运淤泥，该塘淤泥清、挖大约近两万方，石笼挡墙砌筑180米．5人制、7人制共3个球场砼地坪已浇筑完，周边排水沟己完成。紫荆路基础山碴石换填l50米．5 九孔桥32根灌注桩年前已完成，桩静载检测的设备正在进场，半个月可完成检测。</p>
                <p style="text-align: center;"><img src="https://images.jzhfz.com/attachment/ue/20210319/66edc0b2df060bca5b296a59e22d9acc87107033.gif?x-oss-process=style/w_8001" alt="图片"></p>
                <p style="text-align: left; text-indent: 2em;">九、沙北实验学校建设项目</p>
                <p style="text-align: left; text-indent: 2em;">目前所有单体主体结构均已完成，食堂报告厅装饰装修基本完成，中学部楼房正在进行装饰装修收尾工作，地下室标识标线及安防完成95%，运动场沥青已完成85%，雨污水管道敷设完成95%，室外铺装完成85%，围墙完成90%。</p>
                <p style="text-align: center;"><img src="https://images.jzhfz.com/attachment/ue/20210319/832d8ea58a4f75bb4a1e92a98df512737f52edae.gif?x-oss-process=style/w_8001" alt="图片"></p>
                <p style="text-align: left; text-indent: 2em;">十、岑河金色童年小镇•科创园（沙市婴童装产业园） </p>
                <p style="text-align: left; text-indent: 2em;">  单孔雨水箱涵完成340米，累计完成71%；污水管完成320米，累计完成17%；污水井完成11座，累计完成16%。预制管桩试桩完成5根，累计完成38%。</p>
                <p style="text-align: center;"><img src="https://images.jzhfz.com/attachment/ue/20210319/815e39ba8f897970136de0b978d64361864c72df.gif?x-oss-process=style/w_8001" alt="图片"></p>
                <p><br></p>
            </div>
            <div class="clear"></div>


            <div class="det_bmb" style="margin-top:40px" id="sub">
                <div class="bmb_titlt"><span class="fen">意向报名</span></div>
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                    <tr>
                        <td>姓名：<input type="text" class="lrt_srk" name="contact" id="input_name1" placeholder="请输入姓名"></td>
                        <td>手机号：<input type="text" class="lrt_srk" name="phone" id="input_tel1" placeholder="请输入手机号"> <span class="fen">*必填</span></td>
                        <td>来自：<input type="text" class="lrt_srk" name="address" placeholder="现住址？"></td>
                        <input type="hidden" name="cid" value="">
                        <td><input type="button" class="an_red" value="提交报名" onclick="subSignUp('资讯详情团购报名',0,'#sub')"></td>
                    </tr>
                    </tbody>
                </table>
            </div>





            <div class="module-news-qrcode">
                <h2 class="news-qrcode-title">欢迎关注更多</h2>
                <div class="news-qrcode-container">
                    <div class="news-qrcode-slide" style="width:868px">
                        <div class="news-qrcode-unit" style="border-left: 0">
                            <div class="unit-title">荆州好房子网业主微信群</div>
                            <div class="unit-qrcode">
                                <img src="https://images.jzhfz.com/wechat/qrcode/20200527/c236f298783d8b23a6e8bab5640a1e3d995bb2d4.png?x-oss-process=style/w_150">

                            </div>
                            <div class="unit-text">找邻居，聊家装，拉家常</div>
                        </div>

                        <div class="news-qrcode-unit">
                            <div class="unit-title">微信公众号</div>
                            <div class="unit-qrcode">
                                <img src="https://images.jzhfz.com/attachment/config/20200523/69530a8ff409c6d0989e2fee88f722e699c48fd3.jpeg?x-oss-process=style/w_150" alt="微信公众号">
                            </div>
                            <div class="unit-text">荆州好房子网微信端,一键授权登录</div>
                        </div>
                        <div class="news-qrcode-unit">
                            <div class="unit-title">微信小程序</div>
                            <div class="unit-qrcode">
                                <img src="https://images.jzhfz.com/attachment/config/20200527/be8ca852590b3a5d5a76148195efb6f73f0bcd60.jpeg?x-oss-process=style/w_150" alt="微信小程序">

                            </div>
                            <div class="unit-text">微信淘房源，极速跨屏浏览！</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="comment-short" >
                <div class="common-label">发表评论</div>
                <div class="comment-box">
                    <textarea name="comment" id="commentContent" rows="6" placeholder="请输入评论内容"></textarea>
                    <div class="common-foter">
                        <div class="common-login" onclick="handleLogin()">登录</div>
                        <div class="comment-tip">温馨提示：请文明上网理性发言→_→</div>
                    </div>
                </div>
                <div class="comment-title">
                    <p class="comment-all">全部评论</p>
                    <div class="comment-center" id="J_CommentCenter"> <span class="comment-center-slash">/</span><span class="comment-my Center">文明上网理性发言</span>
                    </div>
                    <p class="comment-sort"> <span class="">回复（0）</span> <!--&nbsp;/&nbsp; <span class="comment-sort-cur">发布评论</span> -->
                    </p>
                </div>

                <div>


                </div>
                <!-- <div class="comment-moreBtn ">查看更多</div>-->
            </div>


            <div class="clear"></div>

            <div class="part_end">
                <div class="pe_title">
                    <h2 class="pe_titlel l">最新楼盘</h2>
                    <span class="pe_titler r yt2016_hui">|
                        <a href="https://www.jzhfz.com/loupan/" target="_blank">更多楼盘</a></span>
                </div>
                <ul>
                    <li>
                        <a href="https://www.jzhfz.com/loupan/262.html" target="_blank">
                            <img src="https://images.jzhfz.com/attachment/build/20210318/c675e2e7f652ae8ccfc568c62110bc315d1e8b9a.jpeg?x-oss-process=style/w_220" width="196" height="125" alt="恒隆·时光里摩方" >
                        </a>
                        <p>恒隆·时光里摩方</p>
                        <p class="price">
                            均价	                            <span class="fen">5080 元/m²</span>
                        </p>
                    </li>
                    <li>
                        <a href="https://www.jzhfz.com/loupan/261.html" target="_blank">
                            <img src="https://images.jzhfz.com/attachment/build/20210318/c64222df134b064ca0143d9aa8524555dfb944e9.jpeg?x-oss-process=style/w_220" width="196" height="125" alt="玖玺瑞园" >
                        </a>
                        <p>玖玺瑞园</p>
                        <p class="price">
                            <span class="fen">待定 </span>
                        </p>
                    </li>
                    <li>
                        <a href="https://www.jzhfz.com/loupan/260.html" target="_blank">
                            <img src="https://images.jzhfz.com/attachment/build/20210203/979938a4b480d7d57c7e4eba1ff6d4d531f0282c.jpeg?x-oss-process=style/w_220" width="196" height="125" alt="恒丰沙市科技产业园" >
                        </a>
                        <p>恒丰沙市科技产业园</p>
                        <p class="price">
                            <span class="fen">待定 </span>
                        </p>
                    </li>
                    <li>
                        <a href="https://www.jzhfz.com/loupan/259.html" target="_blank">
                            <img src="https://images.jzhfz.com/attachment/build/20210131/9a9ccc70fcdc2f9ea7c48431a13f3a1158e8f2dd.jpeg?x-oss-process=style/w_220" width="196" height="125" alt="中农联荆楚智慧云仓城" >
                        </a>
                        <p>中农联荆楚智慧云仓城</p>
                        <p class="price">
                            <span class="fen">待定 </span>
                        </p>
                    </li>

                </ul>
                <div class="clear"></div>
            </div>

            <div class="part_end">



                <div class="clear"></div>

            </div>
        </div>

    </div>

    <div class="tfynews_listr r">
        <div class="list_rt">
            <img src="https://www.jzhfz.com/static/skin/tfy/img/new_listrt.jpg" alt="约房小蜜看房" width="310" height="66">
        </div>
        <div class="list_rt01" id="signUp">

            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tbody><tr>
                    <td>姓名：</td>
                    <td>
                        <input type="text" class="lrt_srk" name="contact" id="input_name" placeholder="请输入姓名">
                    </td>
                </tr>
                <tr>
                    <td>手机：</td>
                    <td>
                        <input type="text" class="lrt_srk" name="phone" id="input_tel" placeholder="请输入手机号">
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="pt10">
        <span class="l">
            <input type="button" onclick="subSignUp('资讯详情团购报名')" class="an_red" value="立即报名">
        </span>
            </div>
            <br><br><br>
            <div class="clear"></div>
            <p class="lh35 fon_18 pt10">免费看房电话：<span class="yt2016_fen">400-600-0716</span></p>
            <div class="clear"></div>
            <script src="https://www.jzhfz.com/static/skin/tfy/js/sign-up.js?v=20200720"></script>
        </div>
        <div class="clear"></div>
        <div class="clear"></div>
        <div class="list_rt02">
            <div class="xwph_top"><span class="fon_20">资讯排行</span></div>
            <div class="xwph_con">
                <div class="tab-bd">
                    <div class="tab-pal">
                        <ul id="tab-pal_1">
                            <li class="nowrap">
                                <a href="https://www.jzhfz.com/news/44865.html" target="_blank">
                                    <span class="shuz_red">1</span>荆州副市长黄镇督办荆州区水环境整治工作</a>
                            </li>
                            <li class="nowrap">
                                <a href="https://www.jzhfz.com/news/44881.html" target="_blank">
                                    <span class="shuz_red">2</span>保利·公园壹号 | 二期玥园盛大交房 数千业主伴爱归家！</a>
                            </li>
                            <li class="nowrap">
                                <a href="https://www.jzhfz.com/news/44868.html" target="_blank">
                                    <span class="shuz_red">3</span>金辉·楚樾云著 ▎大美云著 把家安在3.5万方园林中</a>
                            </li>
                            <li class="nowrap">
                                <a href="https://www.jzhfz.com/news/44879.html" target="_blank">
                                    <span class="shuz_red">4</span>中房协发布2021中国房地产开发企业500强测评成果 金辉集团排名37名</a>
                            </li>
                            <li class="nowrap">
                                <a href="https://www.jzhfz.com/news/44883.html" target="_blank">
                                    <span class="shuz_red">5</span>荆州区“3.15”权益日宣传纪念活动在竹叶山车世界分会场盛大启动！</a>
                            </li>
                            <li class="nowrap">
                                <a href="https://www.jzhfz.com/news/44895.html" target="_blank">
                                    <span class="shuz_red">6</span>与城市共向上丨世茂三盘联动 悦尚暖春新花漾</a>
                            </li>
                            <li class="nowrap">
                                <a href="https://www.jzhfz.com/news/44877.html" target="_blank">
                                    <span class="shuz_red">7</span>保利堂悦 | 从圈层教育开始 给孩子一个美好未来</a>
                            </li>
                            <li class="nowrap">
                                <a href="https://www.jzhfz.com/news/44896.html" target="_blank">
                                    <span class="shuz_red">8</span>蝉联百强房企TOP37、特色地产运营TOP1 金辉集团铸就美好生活</a>
                            </li>
                            <li class="nowrap">
                                <a href="https://www.jzhfz.com/news/44899.html" target="_blank">
                                    <span class="shuz_red">9</span>沙市白水还迁房、公共卫生中心等项目施工进度</a>
                            </li>
                            <li class="nowrap">
                                <a href="https://www.jzhfz.com/news/44887.html" target="_blank">
                                    <span class="shuz_red">10</span>春启世茂 悦鉴芳华 丨世茂荆州三盘联动 五重好礼约惠暖春</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>

        <div class="list_rt02">
            <div class="xwph_top"><span class="fon_20">热门推荐楼盘</span></div>
            <div class="xwph_con">
                <div class="new16_hotlp">
                    <ul>
                        <li class="w125px l">
                            <a href="https://www.jzhfz.com/loupan/215.html" target="_blank">保利堂悦</a>
                        </li>
                        <li class="w90px l yt2016_fen">中心城区</li>
                        <li class="w75px r">8700元/m²</li>
                    </ul>
                    <ul>
                        <li class="w125px l">
                            <a href="https://www.jzhfz.com/loupan/238.html" target="_blank">交投明珠府</a>
                        </li>
                        <li class="w90px l yt2016_fen">沙北新区</li>
                        <li class="w75px r">8100元/m²</li>
                    </ul>
                    <ul >
                        <li class="w125px l">
                            <a href="https://www.jzhfz.com/loupan/108.html" target="_blank">望江国际</a>
                        </li>
                        <li class="w90px l yt2016_fen">城东片区</li>
                        <li class="w75px r">6350元/m²</li>
                    </ul>
                    <ul>
                        <li class="w125px l">
                            <a href="https://www.jzhfz.com/loupan/221.html" target="_blank">楚天都市壹号院</a>
                        </li>
                        <li class="w90px l yt2016_fen">中心城区</li>
                        <li class="w75px r">8500元/m²</li>
                    </ul>
                    <ul >
                        <li class="w125px l">
                            <a href="https://www.jzhfz.com/loupan/248.html" target="_blank">楚天都市润园</a>
                        </li>
                        <li class="w90px l yt2016_fen">城东片区</li>
                        <li class="w75px r">6500元/m²</li>
                    </ul>
                    <ul>
                        <li class="w125px l">
                            <a href="https://www.jzhfz.com/loupan/79.html" target="_blank">日月星国际华侨城</a>
                        </li>
                        <li class="w90px l yt2016_fen">中心城区</li>
                        <li class="w75px r">8400元/m²</li>
                    </ul>


                </div>

            </div>
        </div>


    </div>

</div>


<script type="text/javascript">
    $(function() {
        $("#head").load("../publichtml/public_pageHead.html");
        $("#footer").load("../publichtml/pub_footer.html");
        $("#index-login-daohang-dr").load("../publichtml/navigation2.html");
        $("#floatMul").load("../publichtml/floatMune.html");
    })
</script>
</body>
</html>