
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="Content-Language" content="zh-CN">
    <meta property="og:type" content="news" />
    <title>荆州楼市资讯-荆州好房子网资讯频道</title>
    <meta content="荆州房产网,荆州楼市资讯,荆州新闻" name="Keywords"/>
    <meta name="description" content="为你提供荆州楼市资讯，荆州楼盘动态,荆州全面的楼市资讯。"/>
    <meta property="og:title" content="荆州楼市资讯-荆州好房子网资讯频道" />
    <meta property="og:description" content="为你提供荆州楼市资讯，荆州楼盘动态,荆州全面的楼市资讯。" />
    <meta property="og:site_name" content="荆州好房子网" />
    <meta property="og:locale"
          content="province=湖北;city=荆州;coord=30.340843,112.245519" />

    <meta name="mobile-agent" content="format=html5; url=https://www.jzhfz.com/m/pages/news/news">

    <link rel="shortcut icon" type="image/ico" href="https://www.jzhfz.com/favicon.ico">
    <link rel="stylesheet" href="https://www.jzhfz.com/static/skin/tfy/css/tfy-reset.css?20210220" />
    <link rel="stylesheet" href="https://www.jzhfz.com/static/skin/tfy/css/tfy-head.css?20200922" />
    <link rel="stylesheet" href="https://www.jzhfz.com/static/skin/tfy/css/tfy-login.css?20190611" />
    <link rel="stylesheet" href="https://www.jzhfz.com/static/skin/tfy/css/tfy-news.css?20190611" />
    <!-- layui样式导入 -->
    <link rel="stylesheet" href="../layui/css/layui.css" media="all">
    <!--中间的固定定位-->
    <link rel="stylesheet" type="text/css" href="../css/floatmuen.css"/>
    <!-- 头部样式导入 -->
    <link rel="stylesheet" type="text/css" href="../css/pub_head.css" />
    <!-- 尾部样式导入 -->
    <link rel="stylesheet" type="text/css" href="../css/pub_footer.css" />
    <!-- jquery JS导入 -->
    <script src="../js/jquery-1.12.4.js"></script>
    <!-- 导航栏css导入 -->
    <link  rel="stylesheet" href="../css/navigation.css" />
</head>
<body>


<ul id="floatMul"></ul>
<div id="head"></div><!-- 头部导入 -->
<div id="index-login-daohang-dr"></div><!-- 导入导航栏的代码 -->

<div class="crumbs juzhong">您的位置：<a href="/">荆州好房子网</a> &gt; <a href="/news/">资讯频道</a></div>
<div class="w1200px mar0 pt10">
    <div class="tfynews_list l">
        <div id="scroll_box">
            <div class="tab-hd">
                <ul class="tab-nav">
                    <li class="hui"><a href="news">最新资讯</a></li>
                    <li class="cheng_zdy" id="cheng_zdy">
                        <a href="news10">本地楼市</a></li>
                    <li class="hui">
                        <a href="https://www.jzhfz.com/news/list-15.html">购房指南</a></li>
                    <li class="hui">
                        <a href="https://www.jzhfz.com/news/list-5.html">本地新闻</a></li>
                    <li class="hui">
                        <a href="https://www.jzhfz.com/news/list-33.html">市场报告</a></li>
                    <li class="hui">
                        <a href="https://www.jzhfz.com/news/list-34.html">土地市场</a></li>
                    <li class="hui">
                        <a href="https://www.jzhfz.com/news/list-21.html">房产维权</a></li>
                    <li class="hui">
                        <a href="https://www.jzhfz.com/news/list-11.html">工程进展</a></li>
                    <li class="hui">
                        <a href="https://www.jzhfz.com/news/list-44.html">荆州房价</a></li>
                    <li class="hui">
                        <a href="https://www.jzhfz.com/news/list-45.html">楼盘行情</a></li>
                    <li class="hui">
                        <a href="https://www.jzhfz.com/news/list-2.html">国内楼市</a></li>
                    <li class="hui">
                        <a href="https://www.jzhfz.com/news/list-4.html">楼市政策</a></li>
                    <li class="hui">
                        <a href="https://www.jzhfz.com/news/list-20.html">居家风水</a></li>
                    <li class="hui">
                        <a href="https://www.jzhfz.com/news/list-25.html">装修图库</a></li>
                    <li class="hui">
                        <a href="https://www.jzhfz.com/news/list-43.html">图片频道</a></li>
                    <li class="hui">
                        <a href="https://www.jzhfz.com/news/list-42.html">好房子网周刊</a></li>
                    <li class="hui">
                        <a href="https://www.jzhfz.com/news/list-38.html">每周数据</a></li>
                    <li class="hui">
                        <a href="https://www.jzhfz.com/news/list-37.html">地产招聘</a></li>
                    <li class="hui">
                        <a href="https://www.jzhfz.com/news/list-36.html">户型评测</a></li>
                    <li class="hui">
                        <a href="https://www.jzhfz.com/news/list-35.html">规划公示</a></li>
                    <li class="hui">
                        <a href="https://www.jzhfz.com/news/list-31.html">视频看房</a></li>
                    <li class="hui">
                        <a href="https://www.jzhfz.com/news/list-30.html">优惠打折</a></li>
                    <li class="hui">
                        <a href="https://www.jzhfz.com/news/list-29.html">广告欣赏</a></li>
                    <li class="hui">
                        <a href="https://www.jzhfz.com/news/list-28.html">视频资讯</a></li>
                    <li class="hui">
                        <a href="https://www.jzhfz.com/news/list-24.html">人物访谈</a></li>
                    <li class="hui">
                        <a href="https://www.jzhfz.com/news/list-22.html">房价风向标</a></li>
                    <li class="hui">
                        <a href="https://www.jzhfz.com/news/list-19.html">看房日记</a></li>
                    <li class="hui">
                        <a href="https://www.jzhfz.com/news/list-18.html">中介推荐</a></li>
                    <li class="hui">
                        <a href="https://www.jzhfz.com/news/list-17.html">品牌装饰公司</a></li>
                    <li class="hui">
                        <a href="https://www.jzhfz.com/news/list-16.html">商务资讯</a></li>
                    <li class="hui">
                        <a href="https://www.jzhfz.com/news/list-14.html">销售排行榜</a></li>
                    <li class="hui">
                        <a href="https://www.jzhfz.com/news/list-13.html">节日专题</a></li>
                    <li class="hui">
                        <a href="https://www.jzhfz.com/news/list-12.html">环评公示</a></li>
                    <li class="hui">
                        <a href="https://www.jzhfz.com/news/list-10.html">区域规划</a></li>
                    <li class="hui">
                        <a href="https://www.jzhfz.com/news/list-9.html">挂牌公告</a></li>
                    <li class="hui">
                        <a href="https://www.jzhfz.com/news/list-7.html">业界观点</a></li>
                    <li class="hui">
                        <a href="https://www.jzhfz.com/news/list-3.html">热点话题</a></li>
                    <li class="hui">
                        <a href="https://www.jzhfz.com/news/list-1.html">地产八卦</a></li>
                </ul>
            </div>
            <span class="prev"><img src="https://www.jzhfz.com/static/skin/tfy/img/img26.png" /></span>
            <span class="next"><img src="https://www.jzhfz.com/static/skin/tfy/img/img27.png" /></span>
        </div>

        <div class="live_block">

            <div class="live_block0">
                <div class="live_time f_left">
                    <span>2小时前</span>
                </div>
                <div class="live_infor f_right">
                    <h3><a href="news6" target="_blank">新规划生态智城又添利好消息 将在二广高速两侧再修2条路</a></h3>
                    <div class="tfy-jy">
                        <p><a href="news6" target="_blank">在沙北新区的西面，荆北新区的东面；老城区的北面，纪南文旅区的南面，有新区规划了！这就是生态智城！位于荆州大城区的中心位置，未来整个大城区的地理中心。最近，新规划生态智城又添利好消息，荆州将在二广高速两侧再修2条路，红线宽70米，与太岳路不连通。生态智城与周边各区二广高速，国家编号G55，北起内蒙古二<span class="fen">[阅读全文]</span></a></p></div>
                    <div class="listimg3">
                        <ul>
                            <li><a href="https://www.jzhfz.com/news/44909.html" target="_blank"><img src="https://images.jzhfz.com/attachment/ue/20210319/78cc3b55b994a0e8ff0e9558f81059d9175b8cee.jpeg?x-oss-process=style/w_220"></a></li>
                        </ul>
                    </div>
                    <p class="news-list-info"> <span>荆州好房子网</span>
                    </p>

                </div>
                <div class="clear"></div>
            </div>

            <div class="live_block0">
                <div class="live_time f_left">
                    <span>2小时前</span>
                </div>
                <div class="live_infor f_right">
                    <h3><a href="https://www.jzhfz.com/news/44908.html" target="_blank">荆州保利堂悦 |事关孩子入学 置业紧跟两会教育热点</a></h3>
                    <div class="tfy-jy">
                        <p><a href="https://www.jzhfz.com/news/44908.html" target="_blank"><span class="fen">[阅读全文]</span></a></p></div>
                    <div class="listimg3">
                        <ul>
                            <li><a href="https://www.jzhfz.com/news/44908.html" target="_blank"><img src="https://images.jzhfz.com/attachment/ue/20210319/abb0da5e926cb17fd56d3587d3fe3707fc179980.jpeg?x-oss-process=style/w_220"></a></li>
                        </ul>
                    </div>
                    <p class="news-list-info"> <span>荆州好房子网</span>
                    </p>

                </div>
                <div class="clear"></div>
            </div>

            <div class="live_block0">
                <div class="live_time f_left">
                    <span>4小时前</span>
                </div>
                <div class="live_infor f_right">
                    <h3><a href="https://www.jzhfz.com/news/44907.html" target="_blank">2021中国房地产百强发布 金科升至第15位</a></h3>
                    <div class="tfy-jy">
                        <p><a href="https://www.jzhfz.com/news/44907.html" target="_blank">3月18日，由中国房地产TOP10研究组举办的“2021中国房地产百强企业研究成果发布会暨第十八届房地产百强企业家峰会”在北京召开。大会发布了“2021中国房地产百强企业”榜单，凭借雄厚的综合实力，金科再次荣膺“中国房地产百强企业”称号，位列第15位，较去年提升2位，这也是金科自2005年以来连续十<span class="fen">[阅读全文]</span></a></p></div>
                    <div class="listimg3">
                        <ul>
                            <li><a href="https://www.jzhfz.com/news/44907.html" target="_blank"><img src="https://images.jzhfz.com/attachment/ue/20210319/eb82773c7738a93498ecf03d00433850d442a528.jpeg?x-oss-process=style/w_220"></a></li>
                        </ul>
                    </div>
                    <p class="news-list-info"> <span>荆州好房子网</span>
                    </p>

                </div>
                <div class="clear"></div>
            </div>

            <div class="live_block0">
                <div class="live_time f_left">
                    <span>4小时前</span>
                </div>
                <div class="live_infor f_right">
                    <h3><a href="https://www.jzhfz.com/news/44906.html" target="_blank">楚天都市·信园｜3月业主定制生日会 温馨落幕 感恩同行</a></h3>
                    <div class="tfy-jy">
                        <p><a href="https://www.jzhfz.com/news/44906.html" target="_blank">春有百花秋有月夏有凉风冬有雪欢聚信园送祝福初春3月，草长莺飞。因各位业主的生辰，春天愈加珍贵和芬芳，和煦的微风，送来醉人花香。在这如画的季节里，对于楚天都市·信园来说，每一位业主都是家人般的存在，而信园家人一年一次的生日，值得我们用心去筹备。为感谢信园家人的一路陪伴，楚天都市·信园精心为业主，准备了<span class="fen">[阅读全文]</span></a></p></div>
                    <div class="listimg3">
                        <ul>
                            <li><a href="https://www.jzhfz.com/news/44906.html" target="_blank"><img src="https://images.jzhfz.com/attachment/ue/20210319/56528b07054d6df9c4128ce814d413939115e2c0.png?x-oss-process=style/w_220"></a></li>
                        </ul>
                    </div>
                    <p class="news-list-info"> <span>荆州好房子网</span>
                    </p>

                </div>
                <div class="clear"></div>
            </div>

            <div class="live_block0">
                <div class="live_time f_left">
                    <span>4小时前</span>
                </div>
                <div class="live_infor f_right">
                    <h3><a href="https://www.jzhfz.com/news/44905.html" target="_blank">楚天都市·润园丨十大尊享服务 精彩业主活动 暖春巨献！</a></h3>
                    <div class="tfy-jy">
                        <p><a href="https://www.jzhfz.com/news/44905.html" target="_blank">春暖花开季，楚天都市·润园火爆热销，人气持续旺盛。在润园营销中心，还将暖心推出“2021年度十大尊享服务”，让看房客户真真切切地体验到五星级的服务，惬意的美好时光。“2021年度十大尊享服务”为预约式免费服务，所有服务均需提前预约。以下是近期即将推出的服务：&nbsp;有的客户老大远奔波而来您的爱车<span class="fen">[阅读全文]</span></a></p></div>
                    <div class="listimg3">
                        <ul>
                            <li><a href="https://www.jzhfz.com/news/44905.html" target="_blank"><img src="https://images.jzhfz.com/attachment/ue/20210319/80d69f58c93527f85b973dd89d3bb8569b0f82f4.jpeg?x-oss-process=style/w_220"></a></li>
                        </ul>
                    </div>
                    <p class="news-list-info"> <span>荆州好房子网</span>
                    </p>

                </div>
                <div class="clear"></div>
            </div>

            <div class="live_block0">
                <div class="live_time f_left">
                    <span>4小时前</span>
                </div>
                <div class="live_infor f_right">
                    <h3><a href="https://www.jzhfz.com/news/44904.html" target="_blank">楚天都市·壹号院 | 车位开盘在即！认筹1万抵2万 抢位大战一触即发！</a></h3>
                    <div class="tfy-jy">
                        <p><a href="https://www.jzhfz.com/news/44904.html" target="_blank">车，也是家的一部分，它承载了全家的幸福旅程。曾经征程万里，陪你披荆斩棘，归来却遭遇无处可停，或是严寒霜冻，酷暑暴晒，无故被剐蹭，被贴罚单......这一切缘由都源自没有专属车位。△示意图（来源于网络）&nbsp;随着城市的发展，日益增长的停车需求，让车位也成为炙手可热的产品。“停车难”成为普遍难题，<span class="fen">[阅读全文]</span></a></p></div>
                    <div class="listimg3">
                        <ul>
                            <li><a href="https://www.jzhfz.com/news/44904.html" target="_blank"><img src="https://images.jzhfz.com/attachment/ue/20210319/c10a738e998b5b71bd5f06c1bcfcc376273bdf6e.png?x-oss-process=style/w_220"></a></li>
                        </ul>
                    </div>
                    <p class="news-list-info"> <span>荆州好房子网</span>
                    </p>

                </div>
                <div class="clear"></div>
            </div>

            <div class="live_block0">
                <div class="live_time f_left">
                    <span>5小时前</span>
                </div>
                <div class="live_infor f_right">
                    <h3><a href="https://www.jzhfz.com/news/44903.html" target="_blank">荆州心中的孤品| 中大豪盛代表作 留著江津湖</a></h3>
                    <div class="tfy-jy">
                        <p><a href="https://www.jzhfz.com/news/44903.html" target="_blank">半城抱山筑，一水绕城流。城市，因水而灵动，依傍长江“黄金水道”的荆州，有7条河流、16个大小湖泊，其中，源起长江的江津湖，水域面积660亩，早期则是长江主泓南移后主河道潴于沙洲上的一弯孑遗，沧海桑田，岁月变迁，才积淀了如今荆州中心城区最大城中湖。作为沙市自古以来的中心，因其碧波荡漾，绿树环抱，也被称<span class="fen">[阅读全文]</span></a></p></div>
                    <div class="listimg3">
                        <ul>
                            <li><a href="https://www.jzhfz.com/news/44903.html" target="_blank"><img src="https://images.jzhfz.com/attachment/ue/20210319/c609797938d3689c81dc57a11f719705e7944bbd.jpeg?x-oss-process=style/w_220"></a></li>
                        </ul>
                    </div>
                    <p class="news-list-info"> <span>荆州好房子网</span>
                    </p>

                </div>
                <div class="clear"></div>
            </div>

            <div class="live_block0">
                <div class="live_time f_left">
                    <span>5小时前</span>
                </div>
                <div class="live_infor f_right">
                    <h3><a href="https://www.jzhfz.com/news/44902.html" target="_blank">三子连城耀荆州 世茂与城市共生长</a></h3>
                    <div class="tfy-jy">
                        <p><a href="https://www.jzhfz.com/news/44902.html" target="_blank">荆州，湖北省第二大城市，春秋战国时楚国都城所在地，历20个楚王，定都长达411年，古老文化与现代文明在这里交相辉映。荆州有很多外号，例如三国之城、勇气之城、文化之城，曾经国内知名品牌活力28、荆江牌热水瓶、鸳鸯牌床单等，让无数人记住这座城市。沙市更成为全国十二大商业都会之一，“三楚名镇”誉满天下，这<span class="fen">[阅读全文]</span></a></p></div>
                    <div class="listimg3">
                        <ul>
                            <li><a href="https://www.jzhfz.com/news/44902.html" target="_blank"><img src="https://images.jzhfz.com/attachment/community_news/20210319/6fc2b9c6ac227e9cbc85d12cd63ebd8359751f06.png?x-oss-process=style/w_220"></a></li>
                        </ul>
                    </div>
                    <p class="news-list-info"> <span>荆州好房子网</span>
                    </p>

                </div>
                <div class="clear"></div>
            </div>

            <div class="live_block0">
                <div class="live_time f_left">
                    <span>6小时前</span>
                </div>
                <div class="live_infor f_right">
                    <h3><a href="https://www.jzhfz.com/news/44901.html" target="_blank">世茂云城|揭秘沙市人居3.0 世茂晋阶品质住宅新时代</a></h3>
                    <div class="tfy-jy">
                        <p><a href="https://www.jzhfz.com/news/44901.html" target="_blank">不同的房子创造不同的生活环境，演绎的是我们不同的生活品质，因此，对于房子的选择，不仅仅是选择了一个简单居所，更是选择了未来几十年的生活方式，能带来令人愉悦的生活品质，环境优美、空间通透、生活氛围醇熟...在沙市老城芯之上，世茂云城给出了一个超出预期的答案。高端生活3.0，理性回归人居本真在人居需求的<span class="fen">[阅读全文]</span></a></p></div>
                    <div class="listimg3">
                        <ul>
                            <li><a href="https://www.jzhfz.com/news/44901.html" target="_blank"><img src="https://images.jzhfz.com/attachment/ue/20210319/b67ba7571e443cc0546ee7b6a23a68dc15509dd1.png?x-oss-process=style/w_220"></a></li>
                        </ul>
                    </div>
                    <p class="news-list-info"> <span>荆州好房子网</span>
                    </p>

                </div>
                <div class="clear"></div>
            </div>

            <div class="live_block0">
                <div class="live_time f_left">
                    <span>7小时前</span>
                </div>
                <div class="live_infor f_right">
                    <h3><a href="https://www.jzhfz.com/news/44899.html" target="_blank">沙市白水还迁房、公共卫生中心等项目施工进度</a></h3>
                    <div class="tfy-jy">
                        <p><a href="https://www.jzhfz.com/news/44899.html" target="_blank">一、白水还迁房（一期）建设项目白水还建房项目位于关沮镇白水村，规划建设用地面积11.83万㎡，建设套数2976套，分两期进行建设。项目已于2021年2月22日全面复工，截止3月15日，生活区临时设施基础，临水临电已送达,现阶段已开始基础桩施工，已完成654根桩。二、关沮路（塔桥北路-天谷大道）建设项<span class="fen">[阅读全文]</span></a></p></div>
                    <div class="listimg3">
                        <ul>
                            <li><a href="https://www.jzhfz.com/news/44899.html" target="_blank"><img src="https://images.jzhfz.com/attachment/ue/20210319/2b9eec2c9903c79edd73d1fb6bdc23d92bb88072.gif?x-oss-process=style/w_220"></a></li>
                        </ul>
                    </div>
                    <p class="news-list-info"> <span>荆州好房子网</span>
                    </p>

                </div>
                <div class="clear"></div>
            </div>


        </div>
        <div class="clear"></div>
        <div class="new_midend"> <style type="text/css">
            .pagination p{
                margin:0;
                cursor:pointer
            }
            .pagination{
                height:40px;
                padding:20px 0px;
                width:auto;
                display: inline-block;
            }
            .pagination a{
                display:block;
                float:left;
                margin-right:10px;
                padding:2px 12px;
                border:1px #cccccc solid;
                background:#fff;
                text-decoration:none;
                color:#808080;
                font-size:12px;
                line-height:24px;
            }
            .pagination a:hover{
                color:#FF5C6A;
                background: white;
                border:1px #FF5C6A solid;
            }
            .pagination a.cur{
                border:none;
                background:#FF5C6A;
                color:#fff;
            }
            .pagination p{
                float:left;
                padding:2px 12px;
                font-size:12px;
                line-height:24px;
                color:#bbb;
                border:1px #ccc solid;
                background:#fcfcfc;
                margin-right:8px;
            }
            .pagination p.pageRemark{
                border-style:none;
                background:none;
                margin-right:0px;
                padding:4px 0px;
                color:#666;
            }
            .pagination p.pageRemark b{
                color:#FF5C6A;
            }
            .pagination p.pageEllipsis{
                border-style:none;
                background:none;
                padding:4px 0px;
                color:#808080;
            }
            .dates li {font-size: 14px;margin:20px 0}
            .dates li span{float:right}
        </style><div class="pagination"><p>首页</p> <p>上一页</p> <a href="" class="cur" rel="external nofollow">1</a><a href="/news/list-6.html?categoryid=6&amp;page=2" rel="external nofollow" title="第'2'页" >2</a><a href="/news/list-6.html?categoryid=6&amp;page=3" rel="external nofollow" title="第'3'页" >3</a> <a href='/news/list-6.html?categoryid=6&page=2' title='下一页'>下一页</a> <a href='/news/list-6.html?categoryid=6&page=473' title='尾页'>尾页</a> </div></div>
        <span class="clearfix"></span>
    </div>

    <div class="tfynews_listr r">
        <div class="list_rt">
            <img src="https://www.jzhfz.com/static/skin/tfy/img/new_listrt.jpg" alt="约房小蜜看房" width="310" height="66">
        </div>
        <div class="list_rt01" id="signUp">

            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tbody><tr>
                    <td>姓名：</td>
                    <td>
                        <input type="text" class="lrt_srk" name="contact" id="input_name" placeholder="请输入姓名">
                    </td>
                </tr>
                <tr>
                    <td>手机：</td>
                    <td>
                        <input type="text" class="lrt_srk" name="phone" id="input_tel" placeholder="请输入手机号">
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="pt10">
        <span class="l">
            <input type="button" onclick="subSignUp('资讯详情团购报名')" class="an_red" value="立即报名">
        </span>
            </div>
            <br><br><br>
            <div class="clear"></div>
            <p class="lh35 fon_18 pt10">免费看房电话：<span class="yt2016_fen">400-600-0716</span></p>
            <div class="clear"></div>
            <script src="https://www.jzhfz.com/static/skin/tfy/js/sign-up.js?v=20200720"></script>
        </div>
        <div class="clear"></div>
        <div class="clear"></div>
        <div class="list_rt02">
            <div class="xwph_top"><span class="fon_20">资讯排行</span></div>
            <div class="xwph_con">
                <div class="tab-bd">
                    <div class="tab-pal">
                        <ul id="tab-pal_1">
                            <li class="nowrap">
                                <a href="https://www.jzhfz.com/news/44865.html" target="_blank">
                                    <span class="shuz_red">1</span>荆州副市长黄镇督办荆州区水环境整治工作</a>
                            </li>
                            <li class="nowrap">
                                <a href="https://www.jzhfz.com/news/44881.html" target="_blank">
                                    <span class="shuz_red">2</span>保利·公园壹号 | 二期玥园盛大交房 数千业主伴爱归家！</a>
                            </li>
                            <li class="nowrap">
                                <a href="https://www.jzhfz.com/news/44868.html" target="_blank">
                                    <span class="shuz_red">3</span>金辉·楚樾云著 ▎大美云著 把家安在3.5万方园林中</a>
                            </li>
                            <li class="nowrap">
                                <a href="https://www.jzhfz.com/news/44879.html" target="_blank">
                                    <span class="shuz_red">4</span>中房协发布2021中国房地产开发企业500强测评成果 金辉集团排名37名</a>
                            </li>
                            <li class="nowrap">
                                <a href="https://www.jzhfz.com/news/44883.html" target="_blank">
                                    <span class="shuz_red">5</span>荆州区“3.15”权益日宣传纪念活动在竹叶山车世界分会场盛大启动！</a>
                            </li>
                            <li class="nowrap">
                                <a href="https://www.jzhfz.com/news/44895.html" target="_blank">
                                    <span class="shuz_red">6</span>与城市共向上丨世茂三盘联动 悦尚暖春新花漾</a>
                            </li>
                            <li class="nowrap">
                                <a href="https://www.jzhfz.com/news/44877.html" target="_blank">
                                    <span class="shuz_red">7</span>保利堂悦 | 从圈层教育开始 给孩子一个美好未来</a>
                            </li>
                            <li class="nowrap">
                                <a href="https://www.jzhfz.com/news/44906.html" target="_blank">
                                    <span class="shuz_red">8</span>楚天都市·信园｜3月业主定制生日会 温馨落幕 感恩同行</a>
                            </li>
                            <li class="nowrap">
                                <a href="https://www.jzhfz.com/news/44904.html" target="_blank">
                                    <span class="shuz_red">9</span>楚天都市·壹号院 | 车位开盘在即！认筹1万抵2万 抢位大战一触即发！</a>
                            </li>
                            <li class="nowrap">
                                <a href="https://www.jzhfz.com/news/44896.html" target="_blank">
                                    <span class="shuz_red">10</span>蝉联百强房企TOP37、特色地产运营TOP1 金辉集团铸就美好生活</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>

        <div class="list_rt02">
            <div class="xwph_top"><span class="fon_20">热门推荐楼盘</span></div>
            <div class="xwph_con">
                <div class="new16_hotlp">
                    <ul>
                        <li class="w125px l">
                            <a href="https://www.jzhfz.com/loupan/215.html" target="_blank">保利堂悦</a>
                        </li>
                        <li class="w90px l yt2016_fen">中心城区</li>
                        <li class="w75px r">8700元/m²</li>
                    </ul>
                    <ul>
                        <li class="w125px l">
                            <a href="https://www.jzhfz.com/loupan/238.html" target="_blank">交投明珠府</a>
                        </li>
                        <li class="w90px l yt2016_fen">沙北新区</li>
                        <li class="w75px r">8100元/m²</li>
                    </ul>
                    <ul>
                        <li class="w125px l">
                            <a href="https://www.jzhfz.com/loupan/108.html" target="_blank">望江国际</a>
                        </li>
                        <li class="w90px l yt2016_fen">城东片区</li>
                        <li class="w75px r">6350元/m²</li>
                    </ul>
                    <ul>
                        <li class="w125px l">
                            <a href="https://www.jzhfz.com/loupan/221.html" target="_blank">楚天都市壹号院</a>
                        </li>
                        <li class="w90px l yt2016_fen">中心城区</li>
                        <li class="w75px r">8500元/m²</li>
                    </ul>
                    <ul>
                        <li class="w125px l">
                            <a href="https://www.jzhfz.com/loupan/248.html" target="_blank">楚天都市润园</a>
                        </li>
                        <li class="w90px l yt2016_fen">城东片区</li>
                        <li class="w75px r">6500元/m²</li>
                    </ul>
                    <ul>
                        <li class="w125px l">
                            <a href="https://www.jzhfz.com/loupan/79.html" target="_blank">日月星国际华侨城</a>
                        </li>
                        <li class="w90px l yt2016_fen">中心城区</li>
                        <li class="w75px r">8400元/m²</li>
                    </ul>


                </div>

            </div>
        </div>


    </div>
</div>

<span class="clearfix"></span>

<div id="footer"></div><!-- 底部导入 -->

<script type="text/javascript">
    $(function() {
        $("#head").load("../publichtml/public_pageHead.html");
        $("#footer").load("../publichtml/pub_footer.html");
        $("#index-login-daohang-dr").load("../publichtml/navigation.html");
        $("#floatMul").load("../publichtml/floatMune.html");
    })
</script>

</body>
</html>