
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="Content-Language" content="zh-CN">
    <meta property="og:type" content="news" />
    <title>荆州楼市资讯-荆州好房子网资讯频道</title>
    <meta content="荆州房产网,荆州楼市资讯,荆州新闻" name="Keywords"/>
    <meta name="description" content="为你提供荆州楼市资讯，荆州楼盘动态,荆州全面的楼市资讯。"/>
    <meta property="og:title" content="荆州楼市资讯-荆州好房子网资讯频道" />
    <meta property="og:description" content="为你提供荆州楼市资讯，荆州楼盘动态,荆州全面的楼市资讯。" />
    <meta property="og:site_name" content="荆州好房子网" />
    <meta property="og:locale"
          content="province=湖北;city=荆州;coord=30.340843,112.245519" />

    <meta name="mobile-agent" content="format=html5; url=https://www.jzhfz.com/m/pages/news/news">
    <!-- layui样式导入 -->
    <link rel="stylesheet" href="../layui/css/layui.css" media="all">
    <link rel="shortcut icon" type="image/ico" href="https://www.jzhfz.com/favicon.ico">
    <link rel="stylesheet" href="https://www.jzhfz.com/static/skin/tfy/css/tfy-reset.css?20210220" />
    <link rel="stylesheet" href="https://www.jzhfz.com/static/skin/tfy/css/tfy-head.css?20200922" />
    <link rel="stylesheet" href="https://www.jzhfz.com/static/skin/tfy/css/tfy-login.css?20190611" />
    <link rel="stylesheet" href="https://www.jzhfz.com/static/skin/tfy/css/tfy-news.css?20190611" />
    <!-- layui样式导入 -->
    <link rel="stylesheet" href="../layui/css/layui.css" media="all">
    <!--中间的固定定位-->
    <link rel="stylesheet" type="text/css" href="../css/floatmuen.css"/>
    <!-- 头部样式导入 -->
    <link rel="stylesheet" type="text/css" href="../css/pub_head.css" />
    <!-- 尾部样式导入 -->
    <link rel="stylesheet" type="text/css" href="../css/pub_footer.css" />
    <!-- jquery JS导入 -->
    <script src="../js/jquery-1.12.4.js"></script>
    <!-- 导航栏css导入 -->
    <link  rel="stylesheet" href="../css/navigation.css" />
</head>
<body>

<ul id="floatMul"></ul>
<div id="head"></div><!-- 头部导入 -->
<div id="index-login-daohang-dr"></div><!-- 导入导航栏的代码 -->
<div class="crumbs juzhong">您的位置：<a href="/">荆州好房子网</a> &gt; <a href="/news/">资讯频道</a></div>
<div class="w1200px mar0 pt10" style="overflow: hidden;">
    <div class="tfynews_list l">
        <div id="scroll_box">
            <div class="tab-hd">
                <ul class="tab-nav">
                    <li class="cheng_zdy" id="cheng_zdy"><a href="news">最新资讯</a></li>
                    <li class="hui">
                        <a href="news10">本地楼市</a></li>
                    <li class="hui">
                        <a>购房指南</a></li>
                    <li class="hui">
                        <a>本地新闻</a></li>
                    <li class="hui">
                        <a>市场报告</a></li>
                    <li class="hui">
                        <a>土地市场</a></li>
                    <li class="hui">
                        <a>房产维权</a></li>
                    <li class="hui">
                        <a>工程进展</a></li>
                    <li class="hui">
                        <a>荆州房价</a></li>
                    <li class="hui">
                        <a>楼盘行情</a></li>
                    <li class="hui">
                        <a>国内楼市</a></li>
                    <li class="hui">
                        <a>楼市政策</a></li>
                    <li class="hui">
                        <a>居家风水</a></li>
                </ul>
            </div>
            <span class="prev"><img src="https://www.jzhfz.com/static/skin/tfy/img/img26.png" /></span>
            <span class="next"><img src="https://www.jzhfz.com/static/skin/tfy/img/img27.png" /></span>
        </div>

        <div class="live_block">

            <div class="live_block0">
                <div class="live_time f_left">
                    <span>5分钟前</span>
                </div>
                <div class="live_infor f_right">
                    <h3><a href="news1" target="_blank">大商名商强势入驻丨中农联奋力推进荆州农业升级</a></h3>
                    <div class="tfy-jy">
                        <p><a href="news1" target="_blank">中农联·荆楚智慧云仓城，150万方国际化涉农流通交易大平台，由中农联控股有限公司投资80亿元兴建。作为省市双重点项目、民生“菜篮子”工程，中农联·荆楚智慧云仓城自落地起就肩负了推动荆州农业升级、加速乡村振兴的重任。如今历经半余载开发建设，这座新型智慧农批市场携手行业大商齐发力，引领现代涉农流通平台向<span class="fen">[阅读全文]</span></a></p></div>
                    <div class="listimg3">
                        <ul>
                            <li><a href="news1" target="_blank"><img src="https://images.jzhfz.com/attachment/ue/20210319/fe374c476c539a247b90ef3cafb62de479814e16.png?x-oss-process=style/w_220"></a></li>
                        </ul>
                    </div>
                    <p class="news-list-info"> <span>荆州好房子网</span>
                    </p>

                </div>
                <div class="clear"></div>
            </div>

            <div class="live_block0">
                <div class="live_time f_left">
                    <span>15分钟前</span>
                </div>
                <div class="live_infor f_right">
                    <h3><a href="https://www.jzhfz.com/news/44896.html" target="_blank">蝉联百强房企TOP37、特色地产运营TOP1 金辉集团铸就美好生活</a></h3>
                    <div class="tfy-jy">
                        <p><a href="https://www.jzhfz.com/news/44896.html" target="_blank">2021年3月18日，由中国企业评价协会、清华大学房地产研究所和中国指数研究院联合举办的“2021中国房地产百强企业研究成果发布会”在北京举行。面对复杂的市场环境，金辉集团全年业绩稳健增长，综合实力不断提升，荣登“2021中国特色地产运营优秀企业TOP1”；“2021中国房地产百强企业TOP37”；<span class="fen">[阅读全文]</span></a></p></div>
                    <div class="listimg3">
                        <ul>
                            <li><a href="https://www.jzhfz.com/news/44896.html" target="_blank"><img src="https://images.jzhfz.com/attachment/ue/20210319/f2043fd6b79a9b39ee86499227aa51ee41bc32da.png?x-oss-process=style/w_220"></a></li>
                        </ul>
                    </div>
                    <p class="news-list-info"> <span>荆州好房子网</span>
                    </p>

                </div>
                <div class="clear"></div>
            </div>

            <div class="live_block0">
                <div class="live_time f_left">
                    <span>18小时前</span>
                </div>
                <div class="live_infor f_right">
                    <h3><a href="news5" target="_blank">与城市共向上丨世茂三盘联动 悦尚暖春新花漾</a></h3>
                    <div class="tfy-jy">
                        <p><a href="news5" target="_blank">（图片来源于网络）经考古挖掘发现,荆州城墙是我国延续时间最长、跨越朝代最多、由土城发展演变为砖城的唯一古城墙。荆州城墙也被誉为“我国南方不可多得的完璧”。“我听见青石板上的马蹄声碎了，我听见关帝庙前外婆的祈祷，我听说护城河边的桃花又开了”——作为“楚国故都、三国名城”的荆州,如今古老与现代并行。奔流<span class="fen">[阅读全文]</span></a></p></div>
                    <div class="listimg3">
                        <ul>
                            <li><a href="news5" target="_blank"><img src="https://images.jzhfz.com/attachment/ue/20210318/9732355ce206ee47f8b6277981f90779760629ab.png?x-oss-process=style/w_220"></a></li>
                        </ul>
                    </div>
                    <p class="news-list-info"> <span>荆州好房子网</span>
                    </p>

                </div>
                <div class="clear"></div>
            </div>

            <div class="live_block0">
                <div class="live_time f_left">
                    <span>21小时前</span>
                </div>
                <div class="live_infor f_right">
                    <h3><a href="https://www.jzhfz.com/news/44894.html" target="_blank">精工品质真呈现丨世茂长投云锦兑现红盘硬实力</a></h3>
                    <div class="tfy-jy">
                        <p><a href="https://www.jzhfz.com/news/44894.html" target="_blank">日前，为寻找在鄂房企品质项目，《中国质量万里行》经过2个月时间，针对湖北省内房地产项目市场调查和实地走访，以客户角度，暗踩探访荆州世茂长投云锦项目的首期交付现场。一直听说世茂长投云锦是荆州的“网红盘”，作为世茂入驻荆州的首个项目，不仅打开了世茂在荆州的局面，更是树立了品质人居的标杆。我们此次的探盘活<span class="fen">[阅读全文]</span></a></p></div>
                    <div class="listimg3">
                        <ul>
                            <li><a href="https://www.jzhfz.com/news/44894.html" target="_blank"><img src="https://images.jzhfz.com/attachment/ue/20210318/584be51735ca4ba06c3ae1016d1aa88b73acf498.png?x-oss-process=style/w_220"></a></li>
                        </ul>
                    </div>
                    <p class="news-list-info"> <span>荆州好房子网</span>
                    </p>

                </div>
                <div class="clear"></div>
            </div>

            <div class="live_block0">
                <div class="live_time f_left">
                    <span>21小时前</span>
                </div>
                <div class="live_infor f_right">
                    <h3><a href="https://www.jzhfz.com/news/44893.html" target="_blank">荆州住建局李未副局长带队到洪湖市走访企业助企纾困、宣讲新规倡导安全</a></h3>
                    <div class="tfy-jy">
                        <p><a href="https://www.jzhfz.com/news/44893.html" target="_blank">3月16日，荆州市住建局党组成员、副局长李未带领局建管科、法规科负责人，前往洪湖市开展助企纾困和安全生产新规宣讲活动。李未一行先后走访了湖北东鹏建筑工程有限公司和湖北文泉建设工程有限公司，通过与企业负责人座谈，了解企业的生产经营情况和存在的主要困难。在听取企业负责人发言后，李未等现场办公，立即回应，<span class="fen">[阅读全文]</span></a></p></div>
                    <div class="listimg3">
                        <ul>
                            <li><a href="https://www.jzhfz.com/news/44893.html" target="_blank"><img src="https://images.jzhfz.com/attachment/ue/20210318/42666bc42b678ed957f939d7ffc0a9e7a8ff33fb.jpeg?x-oss-process=style/w_220"></a></li>
                        </ul>
                    </div>
                    <p class="news-list-info"> <span>荆州好房子网</span>
                    </p>

                </div>
                <div class="clear"></div>
            </div>

            <div class="live_block0">
                <div class="live_time f_left">
                    <span>21小时前</span>
                </div>
                <div class="live_infor f_right">
                    <h3><a href="https://www.jzhfz.com/news/44892.html" target="_blank">荆州个人拿地项目 10栋住宅！17.67万方！玖玺瑞园来了</a></h3>
                    <div class="tfy-jy">
                        <p><a href="https://www.jzhfz.com/news/44892.html" target="_blank">去年（2020年11月18日），荆州城南片区P（2020）026号地块国有建设用地拍出！P(2020)026号地块（红框内）地块面积47689.52㎡，容积率3.0，性质为商服用地40年，城镇住宅用地70年，被个人王学杰，以成交价2.53亿拿下。个人拿地在荆州实属罕见！这引起了市场的好奇，究竟什么人<span class="fen">[阅读全文]</span></a></p></div>
                    <div class="listimg3">
                        <ul>
                            <li><a href="https://www.jzhfz.com/news/44892.html" target="_blank"><img src="https://images.jzhfz.com/attachment/ue/20210318/28f6ddec80d940c9e846b54f5d7a2515c8f844f7.jpeg?x-oss-process=style/w_220"></a></li>
                        </ul>
                    </div>
                    <p class="news-list-info"> <span>荆州好房子网</span>
                    </p>

                </div>
                <div class="clear"></div>
            </div>

            <div class="live_block0">
                <div class="live_time f_left">
                    <span>23小时前</span>
                </div>
                <div class="live_infor f_right">
                    <h3><a href="https://www.jzhfz.com/news/44891.html" target="_blank">北辰天街、百合花园等小区曝光！物业被要求立即整改</a></h3>
                    <div class="tfy-jy">
                        <p><a href="https://www.jzhfz.com/news/44891.html" target="_blank">3月16日，荆州市创文办考评督导办，在荆州市住建局物业管理中心的配合下，针对物业管理行业“红黑榜”中，排名后10位的小区物业管理公司，进行实地暗访督察现将抽查情况责任清单曝光如下：北辰天街（责任单位公司：北辰天街商业管理有限公司）1、墙体、路灯、地砖、井盖损坏2、公共草坪内存在大量杂物、垃圾↓3、车<span class="fen">[阅读全文]</span></a></p></div>
                    <div class="listimg3">
                        <ul>
                            <li><a href="https://www.jzhfz.com/news/44891.html" target="_blank"><img src="https://images.jzhfz.com/attachment/ue/20210318/e18f53e16229c6c773f8c3189f525debe0956b8b.png?x-oss-process=style/w_220"></a></li>
                        </ul>
                    </div>
                    <p class="news-list-info"> <span>荆州好房子网</span>
                    </p>

                </div>
                <div class="clear"></div>
            </div>

            <div class="live_block0">
                <div class="live_time f_left">
                    <span>1天前</span>
                </div>
                <div class="live_infor f_right">
                    <h3><a href="https://www.jzhfz.com/news/44890.html" target="_blank">荆州人信悦玺 |生活的尊崇感 从一梯一户开始</a></h3>
                    <div class="tfy-jy">
                        <p><a href="https://www.jzhfz.com/news/44890.html" target="_blank">建筑的实质是空间空间的本质是为人服务生活需要的仪式感专属、独享、私密的空间就是最好的载体图片来源于网络时代流转层层递进，每个年代的民居，都有着深刻的时代烙印；而“楼道”则是流动的历史，记录着时代的变迁。70年代筒子楼是那个年代的缩影一条长廊（楼道）串连着多个单间上班是面对面的同事下班或许就是门对门的<span class="fen">[阅读全文]</span></a></p></div>
                    <div class="listimg3">
                        <ul>
                            <li><a href="https://www.jzhfz.com/news/44890.html" target="_blank"><img src="https://images.jzhfz.com/attachment/ue/20210318/23ff0fd062aa2132dcc57eff5a16f2c6b0f808e7.jpeg?x-oss-process=style/w_220"></a></li>
                        </ul>
                    </div>
                    <p class="news-list-info"> <span>荆州好房子网</span>
                    </p>

                </div>
                <div class="clear"></div>
            </div>

            <div class="live_block0">
                <div class="live_time f_left">
                    <span>1天前</span>
                </div>
                <div class="live_infor f_right">
                    <h3><a href="https://www.jzhfz.com/news/44889.html" target="_blank">总投资5000万 九老仙都片区将打造成夜游文化示范点</a></h3>
                    <div class="tfy-jy">
                        <p><a href="https://www.jzhfz.com/news/44889.html" target="_blank">从荆州区住建局获悉，去年底，九老仙都片区老旧小区经省住建厅审核同意已纳入2021年全省老旧小区改造计划，拟改造范围用地面积97765㎡，建筑面积158971㎡，预计总投资5476万元。据了解，荆州古城内现有居住人口约11万人，老旧小区共计154个，涉及居民11316户，且大都在上世纪八九十年代所建，<span class="fen">[阅读全文]</span></a></p></div>
                    <div class="listimg3">
                        <ul>
                            <li><a href="https://www.jzhfz.com/news/44889.html" target="_blank"><img src="https://images.jzhfz.com/attachment/ue/20210318/b1dde97c8a2bc5369228b930ac1940086e7e0a4e.png?x-oss-process=style/w_220"></a></li>
                        </ul>
                    </div>
                    <p class="news-list-info"> <span>荆州好房子网</span>
                    </p>

                </div>
                <div class="clear"></div>
            </div>

            <div class="live_block0">
                <div class="live_time f_left">
                    <span>1天前</span>
                </div>
                <div class="live_infor f_right">
                    <h3><a href="https://www.jzhfz.com/news/44888.html" target="_blank">荆州市不动产登记交易中心 开通购买商品房线上缴税登记</a></h3>
                    <div class="tfy-jy">
                        <p><a href="https://www.jzhfz.com/news/44888.html" target="_blank">为充分利用不动产登记“网办大厅”服务平台，扎实推进双预告和预转本登记、纳税“一站式”“不见面”服务，3月12日下午，市不动产登记交易中心组织召开了“互联网+不动产登记”购买商品房线上缴税业务培训，中心办事处审核人员和部分开发企业登记受理人员参加了此次培训会。会上，“网办大厅”技术单位工程师演示了线上<span class="fen">[阅读全文]</span></a></p></div>
                    <div class="listimg3">
                        <ul>
                            <li><a href="https://www.jzhfz.com/news/44888.html" target="_blank"><img src="https://images.jzhfz.com/attachment/ue/20210318/b0ec387f4f0dd32251ded222e754512b419ebeb5.jpeg?x-oss-process=style/w_220"></a></li>
                        </ul>
                    </div>
                    <p class="news-list-info"> <span>荆州好房子网</span>
                    </p>

                </div>
                <div class="clear"></div>
            </div>


        </div>
        <div class="clear"></div>
        <div class="new_midend"> <style type="text/css">
            .pagination p{
                margin:0;
                cursor:pointer
            }
            .pagination{
                height:40px;
                padding:20px 0px;
                width:auto;
                display: inline-block;
            }
            .pagination a{
                display:block;
                float:left;
                margin-right:10px;
                padding:2px 12px;
                border:1px #cccccc solid;
                background:#fff;
                text-decoration:none;
                color:#808080;
                font-size:12px;
                line-height:24px;
            }
            .pagination a:hover{
                color:#FF5C6A;
                background: white;
                border:1px #FF5C6A solid;
            }
            .pagination a.cur{
                border:none;
                background:#FF5C6A;
                color:#fff;
            }
            .pagination p{
                float:left;
                padding:2px 12px;
                font-size:12px;
                line-height:24px;
                color:#bbb;
                border:1px #ccc solid;
                background:#fcfcfc;
                margin-right:8px;
            }
            .pagination p.pageRemark{
                border-style:none;
                background:none;
                margin-right:0px;
                padding:4px 0px;
                color:#666;
            }
            .pagination p.pageRemark b{
                color: #ff5c5c;
            }
            .pagination p.pageEllipsis{
                border-style:none;
                background:none;
                padding:4px 0px;
                color:#808080;
            }
            .dates li {font-size: 14px;margin:20px 0}
            .dates li span{float:right}
        </style><div class="pagination"><p>首页</p> <p>上一页</p> <a href="" class="cur" rel="external nofollow">1</a><a href="/news/index.php?page=2" rel="external nofollow" title="第'2'页" >2</a><a href="/news/index.php?page=3" rel="external nofollow" title="第'3'页" >3</a> <a href='/news/index.php?page=2' title='下一页'>下一页</a> <a href='/news/index.php?page=280' title='尾页'>尾页</a> </div></div>
        <span class="clearfix"></span>
    </div>

    <div class="tfynews_listr r">
        <div class="list_rt">
            <img src="https://www.jzhfz.com/static/skin/tfy/img/new_listrt.jpg" alt="约房小蜜看房" width="310" height="66">
        </div>
        <div class="list_rt01" id="signUp">

            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tbody><tr>
                    <td>姓名：</td>
                    <td>
                        <input type="text" class="lrt_srk" name="contact" id="input_name" placeholder="请输入姓名">
                    </td>
                </tr>
                <tr>
                    <td>手机：</td>
                    <td>
                        <input type="text" class="lrt_srk" name="phone" id="input_tel" placeholder="请输入手机号">
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="pt10">
        <span class="l">
            <input type="button" onclick="subSignUp('资讯详情团购报名')" class="an_red" value="立即报名">
        </span>
            </div>
            <br><br><br>
            <div class="clear"></div>
            <p class="lh35 fon_18 pt10">免费看房电话：<span class="yt2016_fen">400-600-0716</span></p>
            <div class="clear"></div>
            <script src="https://www.jzhfz.com/static/skin/tfy/js/sign-up.js?v=20200720"></script>
        </div>
        <div class="clear"></div>
        <div class="clear"></div>
        <div class="list_rt02">
            <div class="xwph_top"><span class="fon_20">资讯排行</span></div>
            <div class="xwph_con">
                <div class="tab-bd">
                    <div class="tab-pal">
                        <ul id="tab-pal_1">
                            <li class="nowrap">
                                <a href="news4" target="_blank">
                                    <span class="shuz_red">1</span>蝉联百强房企TOP37、特色地产运营TOP1 金辉集团铸就美好生活</a>
                            </li>
                            <li class="nowrap">
                                <a href="https://www.jzhfz.com/news/44881.html" target="_blank">
                                    <span class="shuz_red">2</span>保利·公园壹号 | 二期玥园盛大交房 数千业主伴爱归家！</a>
                            </li>
                            <li class="nowrap">
                                <a href="https://www.jzhfz.com/news/44868.html" target="_blank">
                                    <span class="shuz_red">3</span>金辉·楚樾云著 ▎大美云著 把家安在3.5万方园林中</a>
                            </li>
                            <li class="nowrap">
                                <a href="https://www.jzhfz.com/news/44879.html" target="_blank">
                                    <span class="shuz_red">4</span>中房协发布2021中国房地产开发企业500强测评成果 金辉集团排名37名</a>
                            </li>
                            <li class="nowrap">
                                <a href="https://www.jzhfz.com/news/44883.html" target="_blank">
                                    <span class="shuz_red">5</span>荆州区“3.15”权益日宣传纪念活动在竹叶山车世界分会场盛大启动！</a>
                            </li>
                            <li class="nowrap">
                                <a href="news5" target="_blank">
                                    <span class="shuz_red">6</span>与城市共向上丨世茂三盘联动 悦尚暖春新花漾</a>
                            </li>
                            <li class="nowrap">
                                <a href="https://www.jzhfz.com/news/44877.html" target="_blank">
                                    <span class="shuz_red">7</span>保利堂悦 | 从圈层教育开始 给孩子一个美好未来</a>
                            </li>
                            <li class="nowrap">
                                <a href="https://www.jzhfz.com/news/44896.html" target="_blank">
                                    <span class="shuz_red">8</span>蝉联百强房企TOP37、特色地产运营TOP1 金辉集团铸就美好生活</a>
                            </li>
                            <li class="nowrap">
                                <a href="https://www.jzhfz.com/news/44887.html" target="_blank">
                                    <span class="shuz_red">9</span>春启世茂 悦鉴芳华 丨世茂荆州三盘联动 五重好礼约惠暖春</a>
                            </li>
                            <li class="nowrap">
                                <a href="https://www.jzhfz.com/news/44858.html" target="_blank">
                                    <span class="shuz_red">10</span>荆州市五年完成普通公路建设投资232亿元 新增全省第二</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>

        <div class="list_rt02">
            <div class="xwph_top"><span class="fon_20">热门推荐楼盘</span></div>
            <div class="xwph_con">
                <div class="new16_hotlp">
                    <ul class="xinpan">
                        <li class="w125px l">
                            <a href="https://www.jzhfz.com/loupan/215.html" target="_blank">保利堂悦</a>
                        </li>
                        <li class="w90px l yt2016_fen">中心城区</li>
                        <li class="w75px r">8700元/m²</li>
                    </ul>
                    <ul cl="xinpan">
                        <li class="w125px l">
                            <a href="https://www.jzhfz.com/loupan/238.html" target="_blank">交投明珠府</a>
                        </li>
                        <li class="w90px l yt2016_fen">沙北新区</li>
                        <li class="w75px r">8100元/m²</li>
                    </ul>
                    <ul>
                        <li class="w125px l">
                            <a href="https://www.jzhfz.com/loupan/108.html" target="_blank">望江国际</a>
                        </li>
                        <li class="w90px l yt2016_fen">城东片区</li>
                        <li class="w75px r">6350元/m²</li>
                    </ul>
                    <ul>
                        <li class="w125px l">
                            <a href="https://www.jzhfz.com/loupan/221.html" target="_blank">楚天都市壹号院</a>
                        </li>
                        <li class="w90px l yt2016_fen">中心城区</li>
                        <li class="w75px r">8500元/m²</li>
                    </ul>
                    <ul>
                        <li class="w125px l">
                            <a href="https://www.jzhfz.com/loupan/248.html" target="_blank">楚天都市润园</a>
                        </li>
                        <li class="w90px l yt2016_fen">城东片区</li>
                        <li class="w75px r">6500元/m²</li>
                    </ul>
                    <ul>
                        <li class="w125px l">
                            <a href="https://www.jzhfz.com/loupan/79.html" target="_blank">日月星国际华侨城</a>
                        </li>
                        <li class="w90px l yt2016_fen">中心城区</li>
                        <li class="w75px r">8400元/m²</li>
                    </ul>


                </div>

            </div>
        </div>


    </div>
</div>

<div id="footer"></div><!-- 底部导入 -->

<script type="text/javascript">
    $(function() {
        $("#head").load("../publichtml/public_pageHead.html");
        $("#footer").load("../publichtml/pub_footer.html");
        $("#index-login-daohang-dr").load("../publichtml/navigation.html",function(){
            $("#nologo>li").removeClass("active").eq(6).addClass("active");
        });
        $("#floatMul").load("../publichtml/floatMune.html");
    })
</script>

</body>
</html>